<%= render :partial => "informacion_proyectos"%>

<% form_for :eje, @eje, :url => { :controller => "ejes", :action => "save_eje", :proyecto => @proyecto, :id => @eje }, :html => {:class => "formee", :id => "eje"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;" >
    <td align="center"><h4>P R O Y E C T O</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr>
          <td align="justify" style="vertical-align:top;" >
            <div class="grid-3-12">&nbsp;</div>
            <div class="grid-6-12">
              <label>Eje a desarrollar: <%=@eje.catalogo_eje.descripcion%></label>
              <!-- <= f.select :catalogo_eje_id, @catalogo_ejes.collect {|p| [ p.completo, p.clave ] }, { :prompt => "SELECCIONE UNA ACCIÓN" }, :d %> -->
            </div>
          </td>
        </tr>
         <tr>
          <td align="justify" style="vertical-align:top;" >
            <div class="grid-6-12">
              <label>Líneas de Acción:</label>
              <% @lineas.each do |linea| %>
              <li style=" margin-left:13px;padding:1px;"><%= linea.descripcion %> </li>
              <% end %>
            </div>
            <div class="grid-6-12">
              <label>Indicadores:</label>
              <% @indicadores.each do |indicador| %>
              <li style=" margin-left:13px;padding:1px;" >&nbsp;<%= indicador.descripcion %></li>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td align="justify" style="vertical-align:top;" >
            <div class="grid-6-12">
              <label>Objetivo especifico:</label>
              <%= f.text_area :objetivo_especifico %>
            </div>
            <div class="grid-6-12">
              <label>Meta:</label>
              <%= f.text_area :meta %>
            </div>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="center" style="vertical-align:top;"><label style=" font-size: 15px; font-weight: bold;" >Actividades:</label></td>
        </tr>
        
            <tr>
            <td align="justify" style="vertical-align:top;" >
              <div class="grid-1-12"></div>
              <div class="grid-2-12">
                <label>Actividad 1:</label>
              </div>
              <div class="grid-7-12">
                <%= text_area "actividads", "actividad1", :value => @actividades["actividad1"]%>
              </div>
            </td>
          </tr>

           <tr>
            <td align="justify" style="vertical-align:top;" >
              <div class="grid-1-12"></div>
              <div class="grid-2-12">
                <label>Actividad 2:</label>
              </div>
              <div class="grid-7-12">
                <%= text_area "actividads", "actividad2", :value => @actividades["actividad2"]%>
              </div>
            </td>
          </tr>

           <tr>
            <td align="justify" style="vertical-align:top;" >
              <div class="grid-1-12"></div>
              <div class="grid-2-12">
                <label>Actividad 3:</label>
              </div>
              <div class="grid-7-12">
                <%= text_area "actividads", "actividad3", :value => @actividades["actividad3"]%>
              </div>
            </td>
          </tr>

           <tr>
            <td align="justify" style="vertical-align:top;" >
              <div class="grid-1-12"></div>
              <div class="grid-2-12">
                <label>Actividad 4:</label>
              </div>
              <div class="grid-7-12">
                <%= text_area "actividads", "actividad4", :value => @actividades["actividad4"]%>
              </div>
            </td>
          </tr>


      </table>
    </td>
  </tr>
  <%#= render :partial => "diagnosticos/errores_evidencias"%>
  <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <input id="siguiente" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar" value="Guardar" />
          </td>
          <td>
            <a href="/proyectos" id="cancelar_sig" class="buttonText">Regresar</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% end %>

<script type="text/javascript">
  var catalogo_eje_id = new LiveValidation( 'eje_catalogo_eje_id' );
  catalogo_eje_id.add( Validate.Presence );
  catalogo_eje_id.add( Validate.Exclusion, { within: [ '' , ' ' ] } );

  var lineas_accion_id = new LiveValidation( 'eje_lineas_accion_id' );
  lineas_accion_id.add( Validate.Presence );
  lineas_accion_id.add( Validate.Exclusion, { within: [ '' , ' ' ] } );

  var indicadore_id = new LiveValidation( 'eje_indicadore_id' );
  indicadore_id.add( Validate.Presence );
  indicadore_id.add( Validate.Exclusion, { within: [ '' , ' ' ] } );

  var objetivo_especifico = new LiveValidation( 'eje_objetivo_especifico' );
  objetivo_especifico.add( Validate.Presence );

  var meta = new LiveValidation( 'eje_meta' );
  meta.add( Validate.Presence );

  var actividad1 = new LiveValidation( 'actividads_actividad1' );
  actividad1.add( Validate.Presence );

  var actividad2 = new LiveValidation( 'actividads_actividad2' );
  actividad2.add( Validate.Presence );

  var actividad3 = new LiveValidation( 'actividads_actividad3' );
  actividad3.add( Validate.Presence );

  var actividad4 = new LiveValidation( 'actividads_actividad4' );
  actividad4.add( Validate.Presence );
  
</script>