<%= render :partial => "informacion_proyectos"%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;" >
    <td align="center"><h4>P R O Y E C T O</h4></td>
  </tr>
  <tr>
    <td>
      <% if @eje.catalogo_eje.clave == "EJE1" %>
        <%= render :partial => "competencia"%>
      <% end %>
      <% if @eje.catalogo_eje.clave == "EJE2" %>
        <%= render :partial => "entorno"%>
      <% end %>
      <% if @eje.catalogo_eje.clave == "EJE3" %>
        <%= render :partial => "huella"%>
      <% end %>
      <% if @eje.catalogo_eje.clave == "EJE4" %>
        <%= render :partial => "consumo"%>
      <% end %>
      <% if @eje.catalogo_eje.clave == "EJE5" %>
        <%= render :partial => "participacion"%>
      <% end %>
    </td>
  </tr>
</table>