<%= render :partial => "informacion_proyectos"%>

<% form_for :proyecto, @proyecto, :url => { :action => "save", :id => @proyecto }, :html => {:class => "formee", :id => "proyecto"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;" >
    <td align="center"><h4>P R O Y E C T O</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr>
          <td align="justify" style="vertical-align:top;" >
            <div class="grid-12-12" clear ></div>
            <div class="grid-3-12">
              <label class="uper">Ciclo Escolar:</label>
              <%= f.select :ciclo_escolar, [CICLO_ESCOLAR], { :prompt => ">> SELECCIONE"} %>
            </div>
            <div class="grid-9-12">
              <label class="uper">Nombre del Proyecto:</label>
              <%= f.text_field :descripcion %>
            </div>
          </td>
        </tr>
        <tr>
          <td align="justify" style="vertical-align:top;" >
            <div class="grid-12-12">
              <label class="uper">Antecedentes:</label>
              <%= f.text_area :antecedentes, :class => 'nta' %>
            </div>            
          </td>
        </tr>
        <tr>
          <td align="justify" style="vertical-align:top;" >
            <div class="grid-12-12">
              <label class="uper">Objetivo General:</label>
              <%= f.text_area :objetivo_general, :class => 'nta' %>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <%#= render :partial => "diagnosticos/errores_evidencias"%>
  <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <input id="siguiente" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
          </td>
          <td>
            <a href="/proyectos" id="cancelar_sig" class="buttonText">Cancelar</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>z
<% end %>

<script type="text/javascript">

  var ciclo_escolar = new LiveValidation( 'proyecto_ciclo_escolar' );
  ciclo_escolar.add( Validate.Presence );
  ciclo_escolar.add( Validate.Exclusion, { within: [ '' , ' ' ] } );

  var descripcion = new LiveValidation( 'proyecto_descripcion' );
  descripcion.add( Validate.Presence );
  descripcion.add( Validate.Length, { maximum: 250 } );

  var antecedentes = new LiveValidation( 'proyecto_antecedentes' );
  antecedentes.add( Validate.Presence );
  antecedentes.add( Validate.Length, { maximum: 500 } );

  var objetivo_general = new LiveValidation( 'proyecto_objetivo_general' );
  objetivo_general.add( Validate.Presence );
  objetivo_general.add( Validate.Length, { maximum: 350 } );

</script>