<%if @proyecto%>
    <%if @proyecto.oficializado %>
        <div class="titulos" style="text-align: center;" ><p>Gracias por haber concluido su proyecto</p></div>
        <div class ="grid-4-12">&nbsp;</div>
        <div class ="grid-3-12">
            <p id="pdf_link"><%= link_to image_tag("/images/botones/print_proyect.png", :mouseover => "/images/botones/print_proyect2.png" ), { :action => "proyect_to_pdf.pdf" }, :target => "_blank" %></p>
        </div>
        <div class ="grid-4-12 clear"></div>

        <div class ="grid-12-12">
          <div class="formee" style="text-align:center" >
            <fieldset>
              <h2 style="color: #105cb6; font-weight: bold;">IMPRIMIR ACCIONES DEL PROYECTO:</h2>
              <% @ejes.each do |eje| %>
                <% case eje.catalogo_eje.clave
                  when "EJE1" %>
                    <label><%= link_to "   EJE 1.- DESARROLLO DE COMPETENCIAS.", {:controller => "avances", :action => "avance_to_pdf", :id => "#{Base64.encode64(@diagnostico.id.to_s)}.pdf", :evidencia => false, :eje => "EJE1"}, :style => "color:#dd4b39; text-decoration: none;", :title => "IMPRIMIR EJE1", :target => "_blank" %></label><br />
                  <% when "EJE2" %>
                    <label><%= link_to "   EJE 2.- ENTORNO SALUDABLE.", {:controller => "avances", :action => "avance_to_pdf", :id => "#{Base64.encode64(@diagnostico.id.to_s)}.pdf", :evidencia => false, :eje => "EJE2" }, :style => "color:#dd4b39; text-decoration: none;", :title => "IMPRIMIR EJE2", :target => "_blank" %></label><br />
                  <% when "EJE3" %>
                    <label><%= link_to "   EJE 3.- HUELLA ECOLÓGICA.", {:controller => "avances", :action => "avance_to_pdf", :id => "#{Base64.encode64(@diagnostico.id.to_s)}.pdf", :evidencia => false, :eje => "EJE3"}, :style => "color:#dd4b39; text-decoration: none;", :title => "IMPRIMIR EJE3", :target => "_blank" %></label><br />
                  <% when "EJE4" %>
                    <label><%= link_to "   EJE 4.- CONSUMO RESPONSABLE / SALUDABLE.", {:controller => "avances", :action => "avance_to_pdf", :id => "#{Base64.encode64(@diagnostico.id.to_s)}.pdf", :evidencia => false, :eje => "EJE4"}, :style => "color:#dd4b39; text-decoration: none;", :title => "IMPRIMIR EJE4", :target => "_blank" %></label><br />
                  <% when "EJE5" %>
                    <label><%= link_to "   EJE 5.- PARTICIPACIÓN COMUNITARIA.", {:controller => "avances", :action => "avance_to_pdf", :id => "#{Base64.encode64(@diagnostico.id.to_s)}.pdf", :evidencia => false, :eje => "EJE5"}, :style => "color:#dd4b39; text-decoration: none;", :title => "IMPRIMIR EJE5", :target => "_blank" %></label><br />
                <% else %>
                <% end %>
              <% end %>
            </fieldset>
          </div>
        </div>
        
      <%else%>

      <%= render :partial => "informacion_proyectos"%>
      <!-- capturamos toda la info -->
      <table class="principal" width="98%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
      <tr bgcolor="#003366" style="opacity: 0.7;" >
       <td align="center"><h4>DATOS DEL PROYECTO</h4></td>
      </tr>
    <tr align="center">
      <td align="center">
        <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
          <tr>
            <td>
              <div class="grid-9-12">
                <label style="font-size: 15px; font-weight: bold;" >NOMBRE DEL PROYECTO: &nbsp;</label>
                <label style="font-size: 13px;"><%= @proyecto.descripcion %></label>
              </div>
              <div class="grid-3-12">
                <label><%= link_to image_tag("/images/botones/edit_proyect.png", :mouseover => "/images/botones/edit_proyect2.png"), {:action => "edit", :escuela_id => @escuela_id}, :title => "EDITAR PROYECTO" %>&nbsp;<%=link_to 'EDITAR PROYECTO', {:action => "edit", :escuela_id => @escuela_id}, :style => "font-size: 13px; color: #11689e; font-weight: bold;"%></label>
              </div>
            </td>
          </tr>
          <tr align="justify" >
            <td>
             <div class="grid-9-12">
                <label style="font-size: 15px; font-weight: bold;" >EJES A DESARROLLAR: </label>
              </div>
              <div class="grid-3-12">
                  <label><%= link_to image_tag("/images/botones/add_eje.png", :mouseover => "/images/botones/add_eje2.png"), { :action => "seccion_eje", :escuela_id => @escuela_id}, :title => "AGREGAR EJE" %>&nbsp; <%=link_to 'AGREGAR EJE', { :action => "seccion_eje", :escuela_id => @escuela_id}, :style=>"font-size: 13px; color: #11689e; font-weight: bold;"%></label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <% @ejes.sort_by { |hsh| hsh[:catalogo_eje_id] }.each do |eje|%>
              <div class="reporte">
                <fieldset>
                  <legend>&nbsp;::&nbsp;<%= eje.catalogo_eje.completo %> &nbsp;</legend>
                  <div class="grid-4-12">
                    <label style="font-size: 13px; font-style: italic;" >LÍNEAS DE ACCIÓN: </label><br /><br />
                    <%eje.catalogo_eje.lineas_accions.each do |linea|%>
                      <label style="font-size: 12px;"> 
                        <li style=" margin-left:13px;padding:1px;"><%= linea.descripcion %></li>
                      </label>
                    <%end%>
                  </div>
                <div class="grid-6-12">
                  <label style="font-size: 13px; font-style: italic;" >INDICADORES: </label><br /><br />
                  <%eje.catalogo_eje.indicadores.each do |indicador|%>
                    <label style="font-size: 12px;">
                      <li style=" margin-left:13px;padding:1px;"><%= indicador.descripcion %></li>
                    </label>
                  <%end%>
                </div>
                <div class="grid-2-12">
                  <label style="font-size: 13px;display:block;"><%= link_to image_tag("/images/botones/edit_proyect.png", :mouseover => "/images/botones/edit_proyect2.png"), { :action => "edit_eje", :id => eje.id } %>&nbsp; <%=link_to 'EDITAR EJE', { :action => "edit_eje", :id => eje.id }, :style => "color: #088A08; font-size: 12px; font-weight: bold;"-%></label><br />
                  <label style="font-size: 13px;display:block;"><%= link_to image_tag("/images/botones/del_eje.png", :mouseover => "/images/botones/del_eje2.png"), { :action => "delete_eje", :id => eje.id }, :confirm => 'Estas seguro de eliminar este eje?' %>&nbsp; <%=link_to 'ELIMINAR EJE', { :action => "delete_eje", :id => eje.id }, :confirm => 'Estas seguro de eliminar este eje?', :style => "color: #088A08; font-size: 12px; font-weight: bold;" -%></label>
                </div>
              </fieldset>
            </div>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr align="center">
    <td>
      


      <%if Eje.count(:id, :conditions => ["proyecto_id = ?", @proyecto.id]) > 0%>
        <div class="grid-4-12">&nbsp;</div>
        <%if @proyecto.oficializado %>
          <div class="grid-3-12">
            <p id="pdf_link"><%= link_to image_tag("/images/botones/print_proyect.png", :mouseover => "/images/botones/print_proyect2.png" ), { :action => "proyect_to_pdf.pdf" }, :target => "_blank" %></p>
          </div>
        <% end %>

        <div class="grid-3-12">
          <p id="pdf_link"><%= link_to image_tag("/images/botones/finish_proyect.png", :mouseover => "/images/botones/finish_proyect2.png" ), { :action => "oficializar", :id => @proyecto, :avance => 1 }, :confirm => '¿ESTA SEGURO(A) QUE DESEA CONCLUIR EL PROYECTO, YA NO PODRÁ MODIFICARLO DESPUÉS DE HACER CLICK?', :method => :post, :class => 'buttonText' %></p>
        </div>
      <%end%>
    </td>
  </tr>
</table>

    
    <%end%>
<%else%>

<%= render :partial => "informacion_proyectos"%>

<%if @escuela.estatu == Estatu.find_by_clave("proy-aut") || @escuela.bitacoras.include?(Estatu.find_by_clave("proy-aut")) %>
<table width="100%" >
  <tr>
    <td><img src="/images/era/space.png" width="10" height="20px" /></td>
  </tr>
  <tr align="center" >
    <td>
      <div class="formee" style="text-align: center;" >
        <%=button_to "INICIAR PROYECTO", { :action => "new_proyecto", :escuela_id => @escuela_id } %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3"><img src="/images/era/space.png" width="10" height="50px" /></td>
  </tr>
</table>
<%else%>

    <table width="100%" >
      <tr>
        <td><img src="/images/era/space.png" width="10" height="20px" /></td>
      </tr>
      <tr align="center" >
      <td>
         <div class="formee-msg-warning">
           <h1>Para iniciar con la captura del proyecto...</h1>
           <label>Se requiere que el Equipo de Certificación verifique y evalue la etapa anterior (Etapa de diagnóstico),
            por lo que amablemente le solicitamos este muy atento(a) a su bandeja de entrada del correo que proporcionó y/o accese en un lapso de 72 horas a la plataforma,
            puede envíar sus dudas o comentarios al correo: <%=SITE_EMAIL%></label>
        </div>
      </td>
      </tr>
      <tr>
        <td colspan="3"><img src="/images/era/space.png" width="10" height="50px" /></td>
      </tr>
</table>
    

<%end%>

<%end%>


<% if @proyecto.nil? %>

<% else %>

<% end  %>
