<%= render :partial => "informacion_entornos"%>

<input id="superficie_terreno" name="superficie_terreno" type="hidden"/>

<% form_for :entorno, @entorno, :url => { :action => "save", :id => @entorno, :diagnostico => @diagnostico.id }, :html => {:class => "formee", :id => "entorno"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;" >
    <td align="center"><h4>EJE 2: ENTORNO SALUDABLE</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr>
          <td width="49%" align="justify" style="vertical-align:top;" >
            <!-- Línea Pregunta -->
            <div class="grid-12-12">
              <label>1.- ¿Cuál es la superficie total del terreno de la escuela en metros cuadrados?<em class="formee-req"> *</em></label>
            </div>
            <!-- Línea campo -->
            <div class="grid-12-12">
              <div class="grid-5-12"></div>
              <div class="grid-2-12">
                <%= f.text_field :superficie_terreno_escuela %>
              </div>
              <label style="padding: 10px 0;" >M<sup>2</sup></label>
            </div>
          </td>
          <td>&nbsp;</td>
          <td width="49%" align="justify">
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label>2.- ¿Qué superficie (mts. cuadrados) de la escuela se destina para áreas verdes? (Se considera áreas verdes al "espacio cubierto por vegetación. Un bosque, un parque y el jardín de una escuela son ejemplos de áreas verdes. Estos espacios brindan beneficios tanto al ambiente en el que se encuentran como a las personas localizadas cerca de ellos"). <em class="formee-req"> *</em></label>
              <label>Rangos: 0 en adelante.</label><br />
              <label>Posibles áreas verdes:</label><br />
              <ul class="formee-lbl-vinetas" >
                <li>Jardín de ornato</li>
                <li>Jardín de césped</li>
                <li>Jardín herbal</li>
                <li>Jardín de macetas</li>
                <li>Jardin de suelo elevado</li>
                <li>Parcelas</li>
                <li>Huerto escolar</li>
              </ul>
            </div>
            <div class="grid-12-12">
              <label class="formee-msg-info">
                Este valor debe de ser menor o igual a la superficie total del terreno.
              </label>
            </div>
            <!-- Línea barra porcentaje -->
            <!--<div class="grid-12-12">
              <div class="grid-2-12">Porcentaje:</div>
              <div class="grid-8-12">
                <div class="bar_mortice rounded_tiny mortice_tiny green_mortice">
                  <div id="bar_docentes_aplican_conocimientos" class="progress rounded_tiny progress_tiny green"></div>
                </div>
              </div>
              <div class="grid-2-12"><%= text_field :porcentaje, :docentes_aplican_conocimientos, :class => "ninguno", :disabled => "disabled", :value => :porcentaje_docentes_aplican_conocimientos? ? '0 %': :porcentaje_docentes_aplican_conocimientos %></div>
            </div>-->
            <!-- Línea campo -->
            <div class="grid-12-12">
              <div class="grid-5-12"></div>
              <div class="grid-2-12">
                <%= f.text_field :superficie_terreno_escuela_av %>
              </div>
              <label style="padding: 10px 0;" >M<sup>2</sup></label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" >&nbsp;</td>
        </tr>
        <tr>
          <td>
            <!-- Línea Pregunta -->
            <div class="grid-12-12">
              <label>3.- ¿La escuela cuenta con espacios destinados para jardines verticales (paredes verdes)?<em class="formee-req"> *</em></label>
            </div>
            <!-- Línea campo -->
            <div class="grid-12-12">
              <div class="grid-2-12"></div>
              <div class="grid-4-12">
                <span id="r_jardines_verticales" class="InputGroup">
                  <label>SI <%= f.radio_button :jardines_verticales, "SI" %></label>&nbsp;&nbsp;
                  <label>NO <%= f.radio_button :jardines_verticales, "NO" %></label>
                </span>
              </div>
              <div class="grid-1-12"></div>
              <div class="grid-5-12">
                <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta3", :id => "pregunta3"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 2, :numero_pregunta => 3, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 3", :class => "fancybox fancybox.iframe"%>
              </div>
            </div>
          </td>
          <td>&nbsp;</td>
          <td>
            <!-- Línea Pregunta -->
            <div class="grid-12-12">
              <label>4.- ¿La escuela cuenta con espacios destinados para jardines y/o cultivo hidropónicos?<em class="formee-req"> *</em></label>
            </div>
            <!-- Línea campo -->
            <div class="grid-12-12">
              <div class="grid-2-12"></div>
              <div class="grid-4-12">
                <span id="r_jardines_hidroponicos" class="InputGroup">
                  <label>SI <%= f.radio_button :jardines_hidroponicos, "SI" %></label>&nbsp;&nbsp;
                  <label>NO <%= f.radio_button :jardines_hidroponicos, "NO" %></label>
                </span>
              </div>
              <div class="grid-1-12"></div>
              <div class="grid-5-12">
                <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta4", :id => "pregunta4"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 2, :numero_pregunta => 4, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 4", :class => "fancybox fancybox.iframe"%>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td width="49%" align="justify" style=" vertical-align:top;" >
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label>5.- ¿Cuántos árboles adultos se encuentran dentro del terreno de la escuela?<em class="formee-req"> *</em></label>
            </div>
            <div class="grid-12-12">
              <label class="formee-msg-info">
                Para que un árbol sea considerado adulto, debe contar con una altura no menor a 4 metros y erguirse de un solo tronco. <br />
                Si la escuela cuenta con áreas extensas arboladas agregue un número apróximado.
              </label>
            </div>
            <!-- Línea campo -->
            <div class="grid-12-12">
              <div class="grid-5-12"></div>
              <div class="grid-2-12">
                <%= f.text_field :arboles_terreno_escuela %>
              </div>
            </div>
          </td>
          <td>&nbsp;</td>
          <td width="49%" align="justify">
            <!-- Liíne pregunta -->
            <div class="grid-12-12">
              <label>6.- Del Manual de Salud. ¿Cuáles de las acciones con relación a los ejes de acción (Desarrollo de competencias para la modificación de los determinantes de la salud; promoción de entornos seguros y favorables para la salud de los escolares; participación social en la escuela; accesos a los servicios públicos de salud) realiza la institución educativa para promover el cuidado de la salud en la comunidad escolar?<em class="formee-req"> *</em></label>
              <%#*<ul class="formee-lbl-vinetas">%>
                <%#*<li>1. Enriquecimiento de los contenidos curriculares.</li>%>
                <%#*<li>2. Aprovechamiento del currículo.</li>%>
                <%#*<li>3. Formación docente.</li>%>
                <%#*<li>4. Actividades extracurriculares.</li>%>
                <%#*<li>5. Elaboración de materiales.</li>%>
                <%#*<li>6. Diseño de estrategias diversificadas.</li>%>
                <%#*<li>7. Capacitación de padres de familia.</li>%>
                <%#*<li>8. Consejos escolares de participación social.</li>%>
                <%#*<li>9. Formación de redes.</li>%>
                <%#*<li>10. Trabajo con comunidad.</li>%>
                <%#*<li>11. Coordinación, vinculación interinstitucional (asociaciones civiles, otros sectores, autoridades estatales.</li>%>
                <%#*<li>12. Proyecto escolar.</li>%>
                <%#*<li>13. Orientación y asesoría.</li>%>
                <%#*<li>14. Uso y manejo de la cartilla nacional de vacunación.</li>%>
                <%#*<li>15. Referencia y contrareferencia.</li>%>
                <%#*<li>16. Detección gruesa del estado de salud de los alumnos.</li>%>
                <%#*<li>17. Satisfactores materiales y emocionales.</li>%>
                <%#*<li>18. Resolución de conflictos.</li>%>
                <%#*<li>19. Responsabilidad compartida.</li>%>
                <%#*<li>20. Relcaiones democráticas y solidarias.</li>%>
                <%#*<li>21. Actividades artísticas y deportivas.</li>%>
                <%#*<li>22. Prevención de riesgo.</li>%>
                <%#*<li>23. Desarrollo armónico.</li>%>
                <%#*<li>24. Mejoramientos de espacios, ambiente natural e infraestructura.</li>%>
              <%#*</ul>%>
            </div>
            <div class="grid-12-12">
              <label class="formee-msg-info">
                Consultar manual de salud: Manual para el maestro del programa Escuela y Salud. Enfoque actual del programa: Determinantes de la salud, página 42 - 45. Puede consultarlo dando clic <a class="notchange" href="/Manual_de_Salud.pdf" target="_blank"><b>aquí</b></a>
              </label>
            </div>
            <!-- Línea barra porcentaje -->
            <!--<div class="grid-12-12">
              <div class="grid-2-12">Porcentaje:</div>
              <div class="grid-8-12">
                <div class="bar_mortice rounded_tiny mortice_tiny green_mortice">
                  <div id="bar_alumnos_capacitados_docentes" class="progress rounded_tiny progress_tiny green"></div>
                </div>
              </div>
              <input id="val_max_alu" name="val_max_alu" type="hidden" value="" />
              <div class="grid-2-12"><%= text_field :porcentaje, :alumnos_capacitados_docentes, :class => "ninguno", :disabled => "disabled", :value => :porcentaje_porcentaje_alumnos_capacitados_docentes? ? '0 %': :porcentaje_porcentaje_alumnos_capacitados_docentes %></div>
            </div>-->
            <!-- Línea campo -->
            <fieldset style="padding: 5px 5px 5px 5px;">
              <legend style=" font-size: 14px;">&nbsp;Acciones:&nbsp;</legend>
                <div id="acciones" class="grid-12-12">
                  <% @acciones.each do |c| %>
                    <%= check_box_tag "acciones[#{c.id}]", c.clave, @s_acciones.include?(c.id) ? true : false %>&nbsp;<%= c.descripcion %><br />
                  <% end %>
                </div>
            </fieldset>
            <div class="grid-4-12"></div>
            <div class="grid-8-12">
              <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta6", :id => "pregunta6"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 2, :numero_pregunta => 6, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 6", :class => "fancybox fancybox.iframe"%>
            </div>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>            
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <%= render :partial => "diagnosticos/errores_evidencias"%>
  <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <input id="button4" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
          </td>
          <td>
            <a href="<%= diagnosticos_path%>" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% end %>

<script type="text/javascript">
  <%#*porcentaje('competencia_docentes_capacitados_sma', 'porcentaje_docentes_capacitados_sma', 'bar_docentes_capacitados_sma', 'val_max_doc');%>
  <%#*porcentaje('competencia_docentes_aplican_conocimientos', 'porcentaje_docentes_aplican_conocimientos', 'bar_docentes_aplican_conocimientos', 'val_max_doc');%>

  var superficie_terreno_escuela = new LiveValidation( 'entorno_superficie_terreno_escuela' );
    superficie_terreno_escuela.add( Validate.Presence );
    superficie_terreno_escuela.add( Validate.Numericality );

  var superficie_terreno_escuela_av = new LiveValidation( 'entorno_superficie_terreno_escuela_av' );
    superficie_terreno_escuela_av.add( Validate.Presence );
    superficie_terreno_escuela_av.add( Validate.Numericality );
  
  var arboles_terreno_escuela = new LiveValidation( 'entorno_arboles_terreno_escuela' );
    arboles_terreno_escuela.add( Validate.Presence );
    arboles_terreno_escuela.add( Validate.Numericality, {onlyInteger: true} );

  jQuery(function(){
    jQuery("#r_jardines_verticales").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
    jQuery("#r_jardines_hidroponicos").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
    jQuery("#acciones").validate({ expression: "if (isCheckedC(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
  });

</script>