<% form_for :entorno, @entorno, :url => { :action => "save", :id => @entorno, :diagnostico => @diagnostico.id }, :html => {:class => "formee"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;">
    <td align="center"><h4>EJE 2: ENTORNO SALUDABLE</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr>
          <td width="49%" align="justify"><label>¿Existen Áreas Verdes en la escuela.?</label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>¿Se llevan a cabo actividades para el cuidado, preservación y reforestación de las Áreas Verdes.?</label></td>
        </tr>
        <tr>
          <td align="center">
            <label>
              SI <%= f.radio_button :areas_verdes_esc, "SI" %>&nbsp;&nbsp;
              NO <%= f.radio_button :areas_verdes_esc, "NO", :checked => true %>
            </label>
            <%=f.text_area :areas_verdes_esc_desc, :placeholder => "Especifique..." %>
          </td>
          <td>&nbsp;</td>
          <td align="center" >
            <label>
              SI <%= f.radio_button :cuidado_preserv_reforest, "SI" %>&nbsp;&nbsp;
              NO <%= f.radio_button :cuidado_preserv_reforest, "NO", :checked => true %>
            </label>
            <%=f.text_area :cuidado_preserv_reforest_desc, :placeholder => "Especifique..." %>
          </td>
        </tr>
        <tr>
        <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td width="49%" align="justify"><label>¿La escuela adopta Áreas Verdes?</label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>¿La institución educativa promueve el cuidado de la salud en la comunidad escolar?</label></td>
        </tr>
        <tr>
          <td align="center">
            <label>
              SI <%= f.radio_button :adopta_areas_verdes, "SI" %>&nbsp;&nbsp;
              NO <%= f.radio_button :adopta_areas_verdes, "NO", :checked => true %>
            </label>
            <%=f.text_area :adopta_areas_verdes_desc, :placeholder => "Especifique..." %>
          </td>
          <td>&nbsp;</td>
          <td align="center">
            <label>
              SI <%= f.radio_button :promueve_cuidado_salud, "SI" %>&nbsp;&nbsp;
              NO <%= f.radio_button :promueve_cuidado_salud, "NO", :checked => true %>
            </label>
            <%= f.text_area :promueve_cuidado_salud_desc, :placeholder => "Especifique..." %>
          </td>
        </tr>
        <tr>
        <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td width="49%" align="justify"><label>¿La escuela promueve la activavión de la cartilla.?</label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>¿La escuela propicia la participación del Sector Salud en temas relacionados al cuidado de la salud.?</label></td>
        </tr>
        <tr>
          <td align="center">
            <label>
              SI <%= f.radio_button :promueve_activacion_cartilla, "SI" %>&nbsp;&nbsp;
              NO <%= f.radio_button :promueve_activacion_cartilla, "NO", :checked => @selected%>
            </label>
          </td>
          <td>&nbsp;</td>
            <td><%=f.select :participacion_sector_salud, [":: SELECCIONA UNA OPCIÓN","HIGIENE PERSONAL", "ALIMENTACIÓN", "EDUCACIÓN SEXUAL Y REPRODUCTIVA", "DROGADICCIÓN", "BULLYNG"] %></td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td width="49%" align="justify"><label>¿La escuela promueve la activación física en la comunidad educativa.?</label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>¿Cual es el tiempo destinado para la activación física escolar.?</label></td>
        </tr>
        <tr>
          <td align="center">
            <label>
              SI <%= f.radio_button :promueve_activacion_fisica, "SI" %>&nbsp;&nbsp;
              NO <%= f.radio_button :promueve_activacion_fisica, "NO", :checked => true %>
            </label>
          </td>
          <td>&nbsp;</td>
            <td><%= f.text_area :tiempo_activacion_fisica, :placeholder => "Especifique..." %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <input id="button4" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
          </td>
          <td>
            <a href="<%= diagnosticos_path%>" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% end %>

<script type="text/javascript">
<%#*enable_disable_desc('entorno_areas_verdes_esc_si', 'entorno_areas_verdes_esc_no', 'entorno_areas_verdes_esc_desc');%>
<%#*enable_disable_desc('entorno_cuidado_preserv_reforest_si', 'entorno_cuidado_preserv_reforest_no', 'entorno_cuidado_preserv_reforest_desc');%>
<%#*enable_disable_desc('entorno_adopta_areas_verdes_si', 'entorno_adopta_areas_verdes_no', 'entorno_adopta_areas_verdes_desc');%>
<%#*enable_disable_desc('entorno_promueve_cuidado_salud_si', 'entorno_promueve_cuidado_salud_no', 'entorno_promueve_cuidado_salud_desc');%>
<%#*enable_disable_desc('entorno_promueve_activacion_fisica_si', 'entorno_promueve_activacion_fisica_no', 'entorno_tiempo_activacion_fisica');%>
  
var areas_verdes_esc_desc = new LiveValidation( 'entorno_areas_verdes_esc_desc', {onlyOnSubmit: true} );
areas_verdes_esc_desc.add( Validate.Presence );
var cuidado_preserv_reforest_desc = new LiveValidation( 'entorno_cuidado_preserv_reforest_desc', {onlyOnSubmit: true} );
cuidado_preserv_reforest_desc.add( Validate.Presence );
var adopta_areas_verdes_desc = new LiveValidation( 'entorno_adopta_areas_verdes_desc', {onlyOnSubmit: true} );
adopta_areas_verdes_desc.add( Validate.Presence );
var promueve_cuidado_salud_desc = new LiveValidation( 'entorno_promueve_cuidado_salud_desc', {onlyOnSubmit: true} );
promueve_cuidado_salud_desc.add( Validate.Presence );
var participacion_sector_salud = new LiveValidation( 'entorno_participacion_sector_salud' );
participacion_sector_salud.add( Validate.Exclusion, { within: [':: SELECCIONA UNA OPCIÓN'] });
var tiempo_activacion_fisica = new LiveValidation( 'entorno_tiempo_activacion_fisica', {onlyOnSubmit: true} );
tiempo_activacion_fisica.add( Validate.Presence );
</script>