<%= render :partial => "informacion_entornos"%>

<% form_for :entorno, @entorno, :url => { :action => "save", :id => @entorno, :diagnostico => @diagnostico.id }, :html => {:class => "formee", :id => "entorno"} do |f| -%>
  <table class="principal" width="100%" align="center" >
    <tr bgcolor="#003366" style="opacity: 0.7;" >
      <td align="center"><h4>EJE 2: ENTORNO SALUDABLE</h4></td>
    </tr>
    <tr align="center">
      <td align="center">
        <table class="subprincipal" width="100%">
          <%= render :partial => "pregunta1", :locals => { :f => f } %>
          <%= render :partial => "pregunta2", :locals => { :f => f } %>
          <%= render :partial => "pregunta3", :locals => { :f => f } %>
          <%= render :partial => "pregunta4", :locals => { :f => f } %>
          <%= render :partial => "pregunta5", :locals => { :f => f } %>
          <%# if @diagnostico.escuela.nivel.clave != 4 %>
            <%#= render :partial => "pregunta3b", :locals => { :f => f } %>
          <%# else %>
            <%#= render :partial => "pregunta3m", :locals => { :f => f } %>
          <%# end %>
          <%#= render :partial => "pregunta4", :locals => { :f => f }%>
          <%#= render :partial => "pregunta5", :locals => { :f => f }%>
          <%# if @diagnostico.escuela.nivel.clave != 4 %>
            <%#= render :partial => "pregunta6b", :locals => { :f => f }%>
          <%# else %>
            <%#= render :partial => "pregunta6m", :locals => { :f => f }%>
          <%# end %>
        </table>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <%= render :partial => "diagnosticos/errores_evidencias"%>
    <tr>
      <td>
        <div class=" grid-6-12"></div>
        <div class=" grid-3-12">
          <input id="button4" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
        </div>
        <div class=" grid-3-12">
          <a href="<%= diagnosticos_path%>" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
<% end %>
<br />

