
<!-- Variables  -->
<% totales = Escuela.find_by_clave(current_user.login.upcase)
    docentes_capacitados = (@competencia_diagnostico.dctes_cap_salud + @competencia_diagnostico.dctes_cap_ma + @competencia_diagnostico.dctes_cap_ambos).to_i
    if totales.nivel_descripcion == "BACHILLERATO"
      docentes = totales.perfil_ciencias_naturales
    else
      docentes = totales.total_personal_docente
    end
    docentes_no_capacitados = docentes - docentes_capacitados

    total_alumnos = (totales.alu_hom + totales.alu_muj).to_i
    alumnos_capacitados_dep = (@competencia_diagnostico.alumn_cap_salud + @competencia_diagnostico.alumn_cap_ma + @competencia_diagnostico.alumn_cap_ambos).to_i
    alumnos_no_capacitados_dep = total_alumnos - alumnos_capacitados_dep

    docentes_no_aplican = docentes - @competencia_diagnostico.dctes_aplican_conocimto

    docentes_no_involucran = docentes - @competencia_diagnostico.dctes_invol_act

    alumnos_no_capacitados = total_alumnos - @competencia_diagnostico.alumn_cap_dctes

%>
<!-- fin -->
<% form_for :competencia, @competencia, :url => { :action => "save_competencia", :id => @competencia, :proyecto => @proyecto.id, :eje_id => @eje}, :html => {:class => "formee", :name => "competencia", :id => "competencia"} do |f| -%>
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#003366" style="opacity: 0.7; color: white;" >
          <td align="left"><h2><%= @catalogo_ejes.clave %>: <%= @catalogo_ejes.descripcion %></h2></td>
        </tr>
        <!--
        <tr>
          <td align="justify" style="vertical-align:top;" >
            <div class="grid-6-12">
              <label class="uper">Líneas de Acción:</label>
              <% @lineas.each do |linea| %>
              <li style=" margin-left:13px;padding:1px;"><%= linea.descripcion %> </li>
              <% end %>
            </div>
            <div class="grid-6-12">
              <label class="uper">Indicadores:</label>
              <% @indicadores.each do |indicador| %>
              <li style=" margin-left:13px;padding:1px;" >&nbsp;<%= indicador.descripcion %></li>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td align="justify" style="vertical-align:top;" >
            <div class="grid-12-12">
              <label class="uper">Objetivo especifico:</label>
              <%= text_area :eje, :objetivo_especifico, :disabled => "disabled" %>
            </div>
          </td>
        </tr>
        <tr>
          <td align="justify" style="vertical-align:top;" >
            <div class="grid-12-12">
              <label class="uper">Meta:</label>
              <%= text_area :eje, :meta, :disabled => "disabled" %>
            </div>
            <div class="grid-12-12">&nbsp;</div>
          </td>
        </tr>
        -->
        <tr>
          <td align="center" style="vertical-align:top;"><label  class="uper" style=" font-size: 15px; font-weight: bold;" >ACCIONES: </label></td>
        </tr>
        <input id="val_max_doc" name="val_max_doc" type="hidden" value="<%= docentes_no_capacitados %>" />
        <input id="val_max_alu" name="val_max_alu" type="hidden" value="<%= alumnos_no_capacitados %>" />
        <% if @eva_diagnostico.puntaje_eje1_p1 < ($competencia_p1 * 100) %>
        <tr>
          <td align="justify">
            <label class="uper">1.- Capacitación del 100% de los docentes en materia de: </label>
            <div class="grid-12-12">
              <div class="grid-12-12">
                [ TOTAL DE DOCENTES: &nbsp; <%= docentes %> ] &nbsp; - &nbsp; [ TOTAL DE DOCENTES CAPACITADOS: &nbsp; <%= docentes_capacitados %> ] &nbsp; = &nbsp; <b>DOCENTES POR CAPACITAR: &nbsp; <%= docentes_no_capacitados %></b>
              </div>
              <div class="grid-1-12"></div>
              <div class="grid-2-12">SALUD: <%= f.text_field :dctes_cap_salud, :style => "text-align: center;", :disabled => "disabled" %></div>
              <div class="grid-2-12">AMBIENTE: <%= f.text_field :dctes_cap_ma, :style => "text-align: center;", :disabled => "disabled" %></div>
              <div class="grid-2-12">AMBOS: <%= f.text_field :dctes_cap_ambos, :style => "text-align: center;", :disabled => "disabled" %></div>
              <div class="grid-1-12"></div>
              <div class="grid-3-12" style="text-align:center;">TOTAL&nbsp;A&nbsp;CAPACITAR:
                <input id="total_docentes" name="total_docentes" type="text" style="border-width: 0; width: 55px; font-size: 15px; text-align: center; color: black; background-color: #e6f8e0;" onkeyup="showImageDctesAlumn('docentes', 'dcapacitadora', 'eje1_p1');" />
              </div>
            </div>
            <div class="grid-12-12" id="dcapacitadora" style="display: none;">
              <label class="uper">¿QUE&nbsp;INSTITUCIONES&nbsp;O&nbsp;DEPENDENCIAS&nbsp;IMPARTIERON&nbsp;ESTAS&nbsp;CAPACITACIONES?</label>

              <fieldset style="padding: 5px 5px 5px 5px;">
                <div id="dcapacitadoras" class="grid-12-12">
                  <% Dcapacitadora.find(:all).each do |c| %>
                    <% @valor = nil %>
                    <% @competencia.docentes_capacitados.each do |x| %>
                      <% if x[:dcapacitadora_id] == c.id %>
                        <% @valor = x.numero  %>
                        <% @desc_dep = x.descripcion_dep %>
                      <% end %>
                    <% end %>
                    <% if @s_dcapacitadoras.include?(c.id) %>
                      <%= check_box_tag "dcapacitadoras[#{c.id}]", c.clave, @s_dcapacitadoras.include?(c.id) ? true : false, {:disabled => "disabled" }%>&nbsp;<%= c.descripcion %>
                      &nbsp;NÚM.&nbsp;DE&nbsp;CAPACITACIONES:&nbsp;<%= select "dcapacitadora", "#{c.clave}", (1..9), {:selected => @valor}, {:style => "display: inline; width:50px; color: grey;", :disabled => "disabled"}%><br /><br />
<% if c.clave == "OTRA" %>&nbsp;DESCRIPCIÓN:&nbsp;<input name="dcapacitadoras<%= c.clave %>" id="dcapacitadoras<%= c.clave %>" size="35px" style="text-align:justify; display: none; text-transform: uppercase;" value="<%=h @desc_dep ? @desc_dep : "" %>" disabled /><% end %>
                      <%= linea_horizontal %>
                    <% end %>
                  <% end %>
                </div>
              </fieldset>
            </div>
            <div class="grid-12-12" id="eje1_p1" style="display: none; text-align: center;">
              
              <%=link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta1", :id => "pregunta1"),
                                                              {:controller => "upload", :proyecto => @proyecto.id, :eje => 1, :numero_pregunta => 1, :action => "list_evidencias_avance", :num_avance => @num_avance },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 1", :class => "fancybox fancybox.iframe"%>
              
            </div>
          </td>
        </tr>
        <script type="text/javascript">
          showImageDctesAlumn('docentes', 'dcapacitadora', 'eje1_p1');
        </script>
        <% end %>
        <% if @eva_diagnostico.puntaje_eje1_p2 < ($competencia_p2 * 100) %>
        <tr>
          <td align="justify">
            <label class="uper">2.- Que el 100% de los docentes incorporen a su practica docente los conocimientos adquiridos.</label>
            <div class="grid-12-12">
              <div class="grid-12-12">
                [ TOTAL DE DOCENTES: &nbsp; <%= docentes %> ] &nbsp; - &nbsp; [ TOTAL DE DOCENTES QUE APLICAN CONOCIMIENTOS: &nbsp; <%= @competencia_diagnostico.dctes_aplican_conocimto %> ] &nbsp; = &nbsp; <b>DOCENTES QUE NO APLICAN CONOCIMIENTOS: &nbsp; <%= docentes_no_aplican %></b>
              </div>
              <div class="grid-3-12"></div>
              <div class="grid-2-12">
                <%= f.text_field :dctes_aplican_conocimto, :style => "text-align: center;", :disabled => "disabled" %>
              </div>
              <div class="grid-1-12"></div>
            </div>
            <div class="grid-12-12" id="eje1_p2" style="display: none; text-align: center;">
              <%=link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta2", :id => "pregunta2"),
                                                              {:controller => "upload", :proyecto => @proyecto.id, :eje => 1, :numero_pregunta => 2, :action => "list_evidencias_avance", :num_avance => @num_avance },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 2", :class => "fancybox fancybox.iframe"%>
            </div>
          </td>
        </tr>
        <script type="text/javascript">
          showImageNum('competencia_dctes_aplican_conocimto', 'eje1_p2');
        </script>
        <% end %>
        <% if @eva_diagnostico.puntaje_eje1_p3 < ($competencia_p3 * 100) %>
        <tr>
          <td  align="justify">
            <label class="uper">3.- Que el 100% de los docentes se involucre en actividades extracurriculares.</label>
            <div class="grid-12-12">
              <div class="grid-12-12">
                [ TOTAL DE DOCENTES: &nbsp; <%= docentes %> ] &nbsp; - &nbsp; [ TOTAL DE DOCENTES QUE SE INVOLUCRAN: &nbsp; <%= @competencia_diagnostico.dctes_invol_act %> ] &nbsp; = &nbsp; <b>DOCENTES QUE NO SE INVOLUCRAN: &nbsp; <%= docentes_no_involucran %></b>
              </div>
              <div class="grid-3-12"></div>
              <div class="grid-2-12">
                <%= f.text_field :dctes_invol_act, :style => "text-align: center;", :disabled => "disabled"%>
              </div>
              <div class="grid-1-12"></div>
            </div>
            <div class="grid-12-12" id="eje1_p3" style="display: none; text-align: center;">
              <%=link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta3", :id => "pregunta3"),
                                                              {:controller => "upload", :proyecto => @proyecto.id, :eje => 1, :numero_pregunta => 3, :action => "list_evidencias_avance", :num_avance => @num_avance },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 3", :class => "fancybox fancybox.iframe"%>
            </div>
          </td>
        </tr>
        <script type="text/javascript">
          showImageNum('competencia_dctes_invol_act', 'eje1_p3');
        </script>
        <% end %>
        <% if @eva_diagnostico.puntaje_eje1_p4 < ($competencia_p4 * 100) %>
        <tr>
          <td align="justify" >
            <label class="uper">4.- Que el 100% de los alumnos sean capacitados por los docentes<em class="formee-req"> *</em></label>
            <div class="grid-12-12">
              <div class="grid-12-12">
                [ TOTAL DE ALUMNOS: &nbsp; <%= total_alumnos %> ] &nbsp; - &nbsp; [ TOTAL DE ALUMNOS CAPACITADOS: &nbsp; <%= @competencia_diagnostico.alumn_cap_dctes %> ] &nbsp; = &nbsp; <b>ALUMNOS POR CAPACITAR: &nbsp; <%= alumnos_no_capacitados %></b>
              </div>
              <div class="grid-3-12"></div>
              <div class="grid-2-12">
                <%= f.text_field :alumn_cap_dctes, :style => "text-align: center;", :disabled => "disabled" %>
              </div>
              <div class="grid-1-12"></div>
            </div>
            <div class="grid-12-12" id="eje1_p4" style="display: none; text-align: center;">
              <%=link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta4", :id => "pregunta4"),
                                                              {:controller => "upload", :proyecto => @proyecto.id, :eje => 1, :numero_pregunta => 4, :action => "list_evidencias_avance", :num_avance => @num_avance },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 4", :class => "fancybox fancybox.iframe"%>
            </div>
          </td>
        </tr>
        <script type="text/javascript">
          showImageNum('competencia_alumn_cap_dctes', 'eje1_p4');
        </script>
        <% end %>
        <% if @eva_diagnostico.puntaje_eje1_p5 < ($competencia_p5 * 100) %>
        <tr>
          <td align="justify">
            <label class="uper">5.- Que el 100% de los alumnos sea capacitado por otras instituciones y/o dependencia en materia de:</label>
            <div class="grid-12-12">
              <div class="grid-12-12">
                [ TOTAL DE ALUMNOS: &nbsp; <%= total_alumnos %> ] &nbsp; - &nbsp; [ TOTAL DE ALUMNOS CAPACITADOS: &nbsp; <%= alumnos_capacitados_dep %> ] &nbsp; = &nbsp; <b>ALUMNOS POR CAPACITAR: &nbsp; <%= alumnos_no_capacitados_dep %></b>
              </div>
              <div class="grid-1-12"></div>
              <div class="grid-2-12">SALUD: <%= f.text_field :alumn_cap_salud, :style => "text-align: center;", :disabled => "disabled" %></div>
              <div class="grid-2-12">AMBIENTE: <%= f.text_field :alumn_cap_ma, :style => "text-align: center;", :disabled => "disabled" %></div>
              <div class="grid-2-12">AMBOS: <%= f.text_field :alumn_cap_ambos, :style => "text-align: center;", :disabled => "disabled" %></div>
              <div class="grid-1-12"></div>
              <div class="grid-3-12" style="text-align:center;">TOTAL&nbsp;A&nbsp;CAPACITAR:
                <input id="total_alumn" name="total_alumn" type="text" style="border-width: 0; width: 55px; font-size: 15px; text-align: center; color: black; background-color: #e6f8e0;" />
              </div>
              <div class="grid-1-12"></div>
            </div>
            <!-- Línea pregunta -->
            <div class="grid-12-12" id="acapacitadora" style="display: none;">
              <label class="uper">¿QUE&nbsp;INSTICUCIONES&nbsp;O&nbsp;DEPENDENCIAS&nbsp;IMPARTIERON&nbsp;ESTAS CAPACITACIONES?</label>
              <!-- Línea campo -->
              <fieldset style="padding: 5px 5px 5px 5px;">
                <div id="acapacitadoras" class="grid-12-12">
                  <% Dcapacitadora.find(:all).each do |c| %>
                  <% @valor = nil %>
                    <% @competencia.alumnos_capacitados.each do |x| %>
                      <% if x[:dcapacitadora_id] == c.id %>
                        <% @valor = x.numero  %>
                        <% @desc_dep = x.descripcion_dep %>
                      <% end %>
                    <% end %>
                    <% if @s_acapacitadoras.include?(c.id) %>
                      <%= check_box_tag "acapacitadoras[#{c.id}]", c.clave, @s_acapacitadoras.include?(c.id) ? true : false, :disabled => "disabled" %>&nbsp;<%= c.descripcion %>
                      &nbsp;NÚM.&nbsp;DE&nbsp;CAPACITACIONES:&nbsp;<%= select "acapacitadora", "#{c.clave}", (1..9), {:selected => @valor}, {:style => "display: inline; width: 50px; color: grey", :disabled => "disabled"}%><br /><br />
                      <% if c.clave == "OTRA" %>&nbsp;DESCRIPCIÓN:&nbsp;<input name="acapacitadoras<%= c.clave %>" id="acapacitadoras<%= c.clave %>" size="35px" style="text-align: justify; display: none; text-transform: uppercase;" value="<%=h @desc_dep ? @desc_dep : "" %>" /><% end %>
                      <%=linea_horizontal%>
                    <% end %>
                  <% end %>
                </div>
              </fieldset>
            </div>
            <div class="grid-12-12" id="eje1_p5" style="display: none; text-align: center;">
              <%=link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta5", :id => "pregunta5"),
                                                              {:controller => "upload", :proyecto => @proyecto.id, :eje => 1, :numero_pregunta => 5, :action => "list_evidencias_avance", :num_avance => @num_avance },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 5", :class => "fancybox fancybox.iframe"%>
            </div>
          </td>
        </tr>
        <script type="text/javascript">
          showImageDctesAlumn('alumnos', 'acapacitadora', 'eje1_p5');
        </script>
        <% end %>
      </table>
      <!--
      <br />
      <table align="right" >
        <tr >
          <td>&nbsp;
            <%#*<input id="siguiente" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar" value="Guardar" />%>
          </td>
          <td>
            <%= link_to "Regresar", { :controller => "avances", :action => "index", :num_avance => Base64.encode64(@num_avance) }, {:id => "cancelar_sig", :class => "buttonText" } %>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
      -->
<% end %>
  <%= render :partial => "diagnosticos/errores_evidencias"%>

<%#*<script type="text/javascript">%>
  <%#*var objetivo_especifico = new LiveValidation( 'eje_objetivo_especifico' );%>
  <%#*objetivo_especifico.add( Validate.Presence );%>
  <%#*objetivo_especifico.add( Validate.Length, { maximum: 350 } );%>

  <%#*var meta = new LiveValidation( 'eje_meta' );%>
  <%#*meta.add( Validate.Presence );%>
  <%#*meta.add( Validate.Length, { maximum: 350 } );%>

<%#*</script>%>