<% form_for :consumo, @consumo, :url => { :action => "check_consumo", :id => @consumo, :proyecto => @proyecto.id, :eje_id => @eje, :eje_avance => Base64.encode64("#{@eje.id}-#{@num_avance}") }, :html => {:class => "formee", :name => "consumo", :id => "consumo"} do |f| -%>
<table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7; color: white;" >
    <td align="left"><h2><%= @catalogo_ejes.clave %>: <%= @catalogo_ejes.descripcion %></h2></td>
  </tr>
  <!--
  <tr>
    <td align="justify" style="vertical-align:top;" >
      <div class="grid-6-12">
        <label class="uper">Líneas de Acción:</label>
        <% @lineas.each do |linea| %>
          <li style=" margin-left:13px;padding:1px;"><%= linea.descripcion %> </li>
        <% end %>
      </div>
      <div class="grid-6-12">
        <label class="uper">Indicadores:</label>
        <% @indicadores.each do |indicador| %>
          <li style=" margin-left:13px;padding:1px;" >&nbsp;<%= indicador.descripcion %></li>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <td align="justify" style="vertical-align:top;" >
      <div class="grid-12-12">
        <label class="uper">Objetivo especifico:</label>
        <%= text_area :eje, :objetivo_especifico %>
      </div>
    </td>
  </tr>
  <tr>
    <td align="justify" style="vertical-align:top;" >
      <div class="grid-12-12">
        <label class="uper">Meta:</label>
        <%= text_area :eje, :meta %>
      </div>
      <div class="grid-12-12">&nbsp;</div>
    </td>
  </tr>
  -->
  <tr>
    <td align="center" style="vertical-align:top;"><label  class="uper" style=" font-size: 15px; font-weight: bold;" >ACCIONES: </label></td>
  </tr>
  <% if @consumo_diagnostico.escuela_establecimiento == "SI" %>
  <% if @eva_diagnostico.puntaje_eje4_p2 < ($consumo_p2 * 100) %>
  <tr>
    <td align="justify" style=" vertical-align:top;" id="pregunta2">
      <!-- Línea pregunta -->
      <div class="grid-12-12">
        <label class="uper">2.- Capacitar al personal responsable del manejo y preparación de alimentos y bebidas en la institución escolar.</label>
      </div>
      <div class="grid-12-12">RESPUESTA DEL DIAGNÓSTICO: &nbsp; <b><%= @consumo_diagnostico.capacitacion_alim_bebidas ? @consumo_diagnostico.capacitacion_alim_bebidas : "NO" %></b></div>
      <!-- Línea campo -->
      <div class="grid-12-12">
        <div class="grid-3-12"></div>
        <div class="grid-5-12">
          <span id="r_capacitacion_alim_bebidas" class="InputGroup">
            <label class="uper">SI <%= f.radio_button :capacitacion_alim_bebidas, "SI", {:disabled => "disabled"}%></label>&nbsp;&nbsp;
            <label class="uper">NO <%= f.radio_button :capacitacion_alim_bebidas, "NO", {:disabled => "disabled"}%></label>
          </span>
        </div>
        <div class="grid-12-12"></div>
        <div id="eje4_p2" class="grid-12-12" style="display: none; text-align: center;">
          <% if @evidencia %>
           <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "evidencia_pregunta2", :id => "evidencia_pregunta2"),
                                                              {:controller => "upload", :proyecto => @proyecto.id, :eje => 4, :numero_pregunta => 2, :action => "list_evidencias_avance", :num_avance => @num_avance },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 2", :class => "fancybox fancybox.iframe"%>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
  <script type="text/javascript">
    showImage('consumo_capacitacion_alim_bebidas_si', 'eje4_p2');
  </script>
  <% end %>
  <% if @eva_diagnostico.puntaje_eje4_p3 < ($consumo_p3 * 100) %>
  <tr id="pregunta3">
    <td align="justify" style=" vertical-align:top;" colspan="3">
      <!-- Línea Pregunta -->
      <div class="grid-12-12">
        <label class="uper">3.- Aplicar los lineamientos generales para la distribución de alimentos y bebidas preparados y procesados.</label>
      </div>
      <div class="grid-12-12">RESPUESTA DEL DIAGNÓSTICO: &nbsp; <b><%= @consumo_diagnostico.conocen_lineamientos_grales ? @consumo_diagnostico.conocen_lineamientos_grales : "NO" %></b></div>
      <!-- Línea campo -->
      <div class="grid-3-12"></div>
      <div class="grid-5-12">
        <span id="responsables_conocen_lineamientos" class="InputGroup">
          <label class="uper">SI <%= f.radio_button :conocen_lineamientos_grales, "SI", {:disabled => "disabled"} %></label>&nbsp;&nbsp;
          <label class="uper">NO <%= f.radio_button :conocen_lineamientos_grales, "NO", {:disabled => "disabled"} %></label>
        </span>
      </div>
      <div class="grid-12-12 clean"></div>
      <div id="eje4_p3" class="grid-12-12" style="display: none; text-align: center;">
        <% if @evidencia %>
        <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "evidencia_pregunta3", :id => "evidencia_pregunta3"),
                                                              {:controller => "upload", :proyecto => @proyecto.id, :eje => 4, :numero_pregunta => 3, :action => "list_evidencias_avance", :num_avance => @num_avance },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 3", :class => "fancybox fancybox.iframe"%>
        <% end %>
      </div>
    </td>
  </tr>
  <script type="text/javascript">
    showImage('consumo_conocen_lineamientos_grales_si', 'eje4_p3');
  </script>
  <% end %>
  <% if @eva_diagnostico.puntaje_eje4_p4 < ($consumo_p4 * 100) %>
  <tr id="pregunta4">
    <td align="justify" style=" vertical-align:top;">
      <!-- Línea Pregunta -->
      <div class="grid-12-12">
      <label class="uper">4.- Aplicar las acciones referentes a la preparación, uso de utensilios e higiene sugeridos en la norma NOM-0043-SSA2-2012.</label>
      </div>
      <div class="grid-6-12" style="vertical-align:top;">
        <!-- Línea pregunta -->
        <div class="grid-12-12">
          <label class="uper">Preparación:</label>
        </div>
        <!-- Línea campo -->
        <fieldset style="padding: 5px 5px 5px 5px;">
          <div id="preparacions" class="grid-12-12">
            <% Preparacion.find(:all).each do |c| %>
              <% if @s_preparacions.include?(c.clave) %>
                <%= check_box_tag "preparacions[#{c.id}]", c.clave, @s_preparacions.include?(c.clave) ? true : false, :disabled => "disabled" %>&nbsp;<%= c.descripcion %><br />
                <%= linea_horizontal%>
              <% end %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="grid-6-12" style=" vertical-align:top;">
        <!-- Línea pregunta -->
        <div class="grid-12-12">
          <label class="uper">Utensilios:</label>
        </div>
        <!-- Línea campo -->
        <fieldset style="padding: 5px 5px 5px 5px;">
          <div id="utensilios" class="grid-12-12">
            <% Utensilio.find(:all).each do |c| %>
              <% if @s_utensilios.include?(c.clave) %>
                <%= check_box_tag "utensilios[#{c.id}]", c.clave, @s_utensilios.include?(c.clave) ? true : false, :disabled => "disabled" %>&nbsp;<%= c.descripcion %><br />
                <%= linea_horizontal%>
              <% end %>
            <% end %>
          </div>
        </fieldset>
      </div>

      <div class="grid-12-12 clear"></div>

      <div class="grid-6-12" style=" vertical-align:top;">
        <!-- Línea pregunta -->
        <div class="grid-12-12">
          <label class="uper">Higiene:</label>
        </div>
        <!-- Línea campo -->
        <fieldset style="padding: 5px 5px 5px 5px;">
          <div id="higienes" class="grid-12-12">
            <% Higiene.find(:all).each do |c| %>
              <% if @s_higienes.include?(c.clave) %>
                <%= check_box_tag "higienes[#{c.id}]", c.clave, @s_higienes.include?(c.clave) ? true : false, :disabled => "disabled" %>&nbsp;<%= c.descripcion %><br />
                <%= linea_horizontal%>
              <% end %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="grid-6-12" style=" vertical-align:top;"></div>
    </td> 
  </tr>
  <% end %>
  <% if @eva_diagnostico.puntaje_eje4_p5 < ($consumo_p5 * 100) %>
  <tr id="bebidas_alimentos">
    <td align="justify" style=" vertical-align:top;" >
      <!-- Línea pregunta -->
      <div class="grid-12-12">
        <label class="uper">5.- Implementar el consumo de alimentos, bebidas, botanas, galletas, pastelillos y postres saludables de acuerdo a lo sugerido
          en el manual para la preparación e higiene de alimentos y bebidas en los establecimientos de consumo escolar.</label>
      </div>
      <div class="grid-12-12">
        <label class="uper">Listado de productos:</label>
      </div>
      <div class="grid-6-12" style=" vertical-align:top;">
        <!-- Línea pregunta -->
        <div class="grid-12-12">
          <label class="uper">Bebidas (industrializadas y caseras):</label>
        </div>
        <!-- Línea campo -->
        <fieldset style="padding: 5px 5px 5px 5px;">
          <div id="bebidas" class="grid-12-12">
            <% Bebida.find(:all).each do |c| %>
              <% if @s_bebidas.include?(c.clave) %>
                <%= check_box_tag "bebidas[#{c.id}]", c.clave, @s_bebidas.include?(c.clave) ? true : false, :disabled => "disabled" %>&nbsp;<%= c.descripcion %><br />
                <%= linea_horizontal%>
              <% end %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="grid-6-12" style=" vertical-align:top;">
        <!-- Línea pregunta -->
        <div class="grid-12-12">
          <label class="uper">Alimentos:</label>
        </div>
        <!-- Línea campo -->
        <fieldset style="padding: 5px 5px 5px 5px;">
          <div id="alimentos" class="grid-12-12">
            <div style="overflow:auto; width:auto; height: 250px;">
              <% Alimento.find(:all).each do |c| %>
                <% if @s_alimentos.include?(c.clave) %>
                  <%= check_box_tag "alimentos[#{c.id}]", c.clave, @s_alimentos.include?(c.clave) ? true : false, :disabled => "disabled" %>&nbsp;<%= c.descripcion %><br />
                  <%= linea_horizontal%>
                <% end %>
              <% end %>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="grid-12-12 clear"></div>

      <div class="grid-6-12" style=" vertical-align:top;" >
        <!-- Línea pregunta -->
        <div class="grid-12-12">
          <label class="uper">Botanas (Industriales y caseras):</label>
        </div>
        <!-- Línea campo -->
        <fieldset style="padding: 5px 5px 5px 5px;">
          <div id="botanas" class="grid-12-12">
            <% Botana.find(:all).each do |c| %>
              <% if @s_botanas.include?(c.clave) %>
                <%= check_box_tag "botanas[#{c.id}]", c.clave, @s_botanas.include?(c.clave) ? true : false, :disabled => "disabled" %>&nbsp;<%= c.descripcion %><br />
                <%= linea_horizontal%>
              <% end %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="grid-6-12" style=" vertical-align:top;" >
        <!-- Línea pregunta -->
        <div class="grid-12-12">
          <label class="uper">Galletas, pastelillos y postres (Industriales y caseros):</label>
        </div>
        <!-- Línea campo -->
        <fieldset style="padding: 5px 5px 5px 5px;">
          <div id="reposterias" class="grid-12-12">
            <div style="overflow:auto; width:auto; height: 250px;">
              <% Reposteria.find(:all).each do |c| %>
                <% if @s_reposterias.include?(c.clave) %>
                  <%= check_box_tag "reposterias[#{c.id}]", c.clave, @s_reposterias.include?(c.clave) ? true : false, :disabled => "disabled" %>&nbsp;<%= c.descripcion %><br />
                  <%= linea_horizontal%>
                <% end %>
              <% end %>
            </div>
          </div>
        </fieldset>
      </div>
    </td> 
  </tr>
  <% end %>
  <% if @eva_diagnostico.puntaje_eje4_p6 < ($consumo_p6 * 100) %>
  <tr id="materiales">
    <td align="justify" style=" vertical-align:top;">
      <div class="grid-12-12">
        <label class="uper">6.- Implementar el uso de materiales sugeridos en la norma oficial mexicana: NOM-0043-SSA2-2012, para servir los alimentos y bebidas.</label>
      </div>
      <fieldset style="padding: 5px 5px 5px 5px;">
        <div id="materials" class="grid-12-12">
          <% Material.find(:all).each do |c| %>
            <% if @s_materials.include?(c.clave) %>
              <%= check_box_tag "materials[#{c.id}]", c.clave, @s_materials.include?(c.clave) ? true : false, :disabled => "disabled" %>&nbsp;<%= c.descripcion %><br />
              <%= linea_horizontal%>
            <% end %>
          <% end %>
        </div>
      </fieldset>
    </td> <!-- materiales -->
  </tr>
  
  <% end %>
  <% end %>

  <% if @eva_diagnostico.puntaje_eje4_p7 < ($consumo_p7 * 100) %>
  <tr>
    <td align="justify" style=" vertical-align:top;">
      <div class="grid-12-12">
        <label class="uper">7.- Implementar la activación fisica de acuerdo a la recomendación del acuerdo nacional para la salud alimentaria.
          Estrategia contra el sobrepeso y la obesidad (Programa acción en el contexto escolar).</label>
      </div>
      <div class="grid-12-12">
        <label class="formee-msg-info" style="text-transform:uppercase;font-size:1.1em;">
          Nota: esta se realizará con independencia y de manera adicional a la clase de Educación Física (Educación Básica) o Actividad deportiva habitual (Media Superior).
        </label>
      </div>
      <div class="grid-12-12">RESPUESTA DEL DIAGNÓSTICO: &nbsp; <b><%= @consumo_diagnostico.frecuencia_afisica ? @consumo_diagnostico.frecuencia_afisica.descripcion : "NO" %></b></div>
      <div class="grid-6-12">
        <!-- Línea campo -->
        <div class="grid-12-12">
          <%= f.select :frecuencia_afisica_id, FrecuenciaAfisica.all.collect {|p| [ p.descripcion, p.clave ]}, {:selected => @s_afisicas}, {:disabled => "disabled", :style => "color: black;"} %>
        </div>
        <!-- Evidencia --->
        <div id="eje4_p7" class="grid-12-12" style="display: none; text-align: center;">
          <% if @evidencia %>
          <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "evidencia_pregunta7", :id => "evidencia_pregunta7"),
                                                              {:controller => "upload", :proyecto => @proyecto.id, :eje => 4, :numero_pregunta => 7, :action => "list_evidencias_avance", :num_avance => @num_avance },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 7", :class => "fancybox fancybox.iframe"%>
          <% end %>
        </div>
      </div>
      <div id="pregunta8" class="grid-6-12" style=" vertical-align:top;" >
        <!-- Línea campo -->
        <div class="grid-2-12"></div>
        <div class="grid-2-12"><label class="uper">Minutos: </label></div>
        <div class="grid-3-12"><%= f.select :minutos_activacion_fisica, [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60], {}, {:style => "color: black;"} %></div>
      </div>
    </td> 
  </tr>
  <script type="text/javascript">
    enable_frecuencias_actividades_fisicas("consumo_frecuencia_afisica_id", "consumo_minutos_activacion_fisica");
    showImageValue('consumo_frecuencia_afisica_id', 'eje4_p7','NOSR');
    document.getElementById("consumo_minutos_activacion_fisica").disabled = true;
  </script>
  <% end %>
</table>
<% if @evidencia %>
<br/>
<table align="right" >
  <tr >
    <td>
      <input id="siguiente" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar" value="Guardar" />
    </td>
    <td>
      <%= link_to "Regresar", { :controller => "avances", :action => "index", :num_avance => Base64.encode64(@num_avance.to_s) }, {:id => "cancelar_sig", :class => "buttonText" } %>
    </td>
  </tr>
  <tr>
    <td colspan="2" >&nbsp;</td>
  </tr>
</table>
<% end %>
<% end %>
<%= render :partial => "diagnosticos/errores_evidencias"%>

<%#*<script type="text/javascript">%>
  <%#*var objetivo_especifico = new LiveValidation( 'eje_objetivo_especifico' );%>
  <%#*objetivo_especifico.add( Validate.Presence );%>
  <%#*objetivo_especifico.add( Validate.Length, { maximum: 350 } );%>

  <%#*var meta = new LiveValidation( 'eje_meta' );%>
  <%#*meta.add( Validate.Presence );%>
  <%#*meta.add( Validate.Length, { maximum: 350 } );%>

<%#*</script>%>



