<table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr>
    <td>
      <section class="ac-container">
        <div>
          <input id="ac-1" name="accordion-1" type="radio" checked />
          <label class="acc-label" for="ac-1"><%= @ejes.catalogo_eje.completo %></label>
          <article class="ac-auto" >
            <div class="grid-6-12">
              <label class="art-label">LÍNEAS DE ACCIÓN: </label>
              <% @ejes.catalogo_eje.lineas_accions.each do |linea| %>
                <li><%= linea.descripcion %></li>
              <% end %>
            </div>
            <div class="grid-6-12">
              <label class="art-label">INDICADORES: </label>
              <% @ejes.catalogo_eje.indicadores.each do |indicador| %>
                <li><%= indicador.descripcion %></li>
              <% end %>
            </div>
            <div class="grid-6-12">
              <label class="art-label">OBJETIVO ESPECÍFICO: </label>
              <p><%= @ejes.objetivo_especifico %></p>
            </div>
            <div class="grid-6-12">
              <label class="art-label">META: </label>
              <p><%= @ejes.meta %></p>
            </div>
            <% num=1 %>
            <% form_for :actividade, @actividade, :url => { :action => "save_avances", :id => @actividade, :num_avance => @num_avance, :eje => @ejes.id, :proyecto => @proyecto }, :html => {:class => "formee", :id => "avance"} do |f| -%>
            <div class="grid-12-12">
              <label class="art-label">META LOGRADA: </label>
              <%= text_area "ejes", "meta_lograda#{@num_avance}", :class => "forme", :placeholder => "Descripcion de la meta lograda..."%>
            </div>
            <div class="grid-12-12">
              <label class="art-label">ACTIVIDADES: </label>
              <ol style="list-style-type: decimal-leading-zero; padding-left: 2em;">
              <% @ejes.actividads.each do |actividad| %>
                <li><%= actividad.descripcion %> <em class="formee-req">*</em></li>
                <% if @act %>
                <%= text_area "actividades", "actividad#{num}", :class => "forme", :placeholder => "Descripcion del avance...", :value => @act["actividad#{num}"] %>
                <% else %>
                <%= text_area "actividades", "actividad#{num}", :class => "forme", :placeholder => "Descripcion del avance..." %>
                <% end %>
                <% num+=1 %>
              <% end %>
              </ol>
              <div class="grid-12-12" style="text-align:center;">
                <%=link_to image_tag("botones/upload_content1.png", :mouseover => "botones/upload_content2.png", :border => 0, :name => "avance1", :id => "avance1"),
                                                              {:controller => "upload", :num_avance => @num_avance, :eje => @ejes.id, :proyecto => @proyecto.id, :action => "list_evidencias_avance" },
                                                               :class => "fancybox fancybox.iframe"%>
              </div>
              <div class="grid-12-12 clear">&nbsp;</div>
              <div class="grid-4-12">&nbsp;</div>
              <div class="grid-4-12">
                <input id="button4" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
              </div>
              <div class="grid-4-12">
                <a href="/avances?num_avance=<%= Base64.encode64(@num_avance) %>" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
              </div>
              <% end %>
            </div>
          </article>
        </div>
      </section>
    </td>
  </tr>
</table>
  <%#= render :partial => "diagnosticos/errores_evidencias"%>
