<table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr>
    <td>
      <section class="ac-container">
        <div>
          <input id="ac-1" name="accordion-1" type="radio" checked />
          <label class="acc-label" for="ac-1"><%= @eje.catalogo_eje.completo %></label>
          <article class="ac-auto" >
            <div class="grid-6-12">
              <label class="art-label">LÍNEAS DE ACCIÓN: </label>
              <% @eje.catalogo_eje.lineas_accions.each do |linea| %>
                <li><%= linea.descripcion %></li>
              <% end %>
            </div>
            <div class="grid-6-12">
              <label class="art-label">INDICADORES: </label>
              <% @eje.catalogo_eje.indicadores.each do |indicador| %>
                <li><%= indicador.descripcion %></li>
              <% end %>
            </div>
            <div class="grid-6-12">
              <label class="art-label">OBJETIVO ESPECÍFICO: </label>
              <p><%= @eje.objetivo_especifico %></p>
            </div>
            <div class="grid-6-12">
              <label class="art-label">META: </label>
              <p><%= @eje.meta %></p>
            </div>
            <div class="grid-12-12">
              <label class="art-label">ACTIVIDADES: </label>
              <% num=1 %>
              <% form_for :avance, @avance, :url => { :action => "save_avances", :id => @avance, :num_avance => @num_avance, :eje => @eje.id }, :html => {:class => "formee", :id => "avance"} do |f| -%>
              <ol style="list-style-type: decimal-leading-zero; padding-left: 2em;">
              <% @eje.actividads.each do |actividad| %>
                <li><%= actividad.descripcion %> <em class="formee-req">*</em></li>
                <%= text_area "actividades", "avance#{num}", :class => "forme", :placeholder => "Descripcion del avance...", :value => @act["avance#{num}"] unless @act["avance#{num}"].empty? %>
                <% num+=1 %>
              <% end %>
              </ol>
              <div class="grid-12-12" style="text-align:center;">
                <%=link_to image_tag("botones/upload_content1.png", :mouseover => "botones/upload_content2.png", :border => 0, :name => "", :id => ""),
                                                              {:controller => "upload", :avance => @avance, :eje => 1, :numero_pregunta => 2, :action => "list_evidencias" },
                                                               :class => "fancybox fancybox.iframe"%>
              </div>
              <div class="grid-12-12 clear">&nbsp;</div>
              <div class="grid-4-12">&nbsp;</div>
              <div class="grid-4-12">
                <input id="button4" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
              </div>
              <div class="grid-4-12">
                <a href="/avances" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
              </div>
              <% end %>
            </div>
          </article>
        </div>
      </section>
    </td>
  </tr>
</table>
