<%= render :partial => "informacion"%>

<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1">
  <tr>
    <td align="center"><h3>INFORME DE EVIDENCIAS No. <%= @num_avance %></h3></td>
  </tr>
  <tr align="center">
    <td align="center">
      <% if @catalogo_ejes.clave == "EJE1" %>
        <%= render :partial => "competencia"%>
      <% end %>
      <% if @catalogo_ejes.clave == "EJE2" %>
        <%= render :partial => "entorno"%>
      <% end %>
      <% if @catalogo_ejes.clave == "EJE3" %>
        <%= render :partial => "huella"%>
      <% end %>
      <% if @catalogo_ejes.clave == "EJE4" %>
        <%= render :partial => "consumo"%>
      <% end %>
      <% if @catalogo_ejes.clave == "EJE5" %>
        <%= render :partial => "participacion"%>
      <% end %>
    </td>
  </tr>
  <tr>
    <td align="right" style="padding-right: 20px;" >
      <%= link_to "Guardar y Regresar", { :controller => "avances", :action => "index", :num_avance => Base64.encode64(@num_avance) }, {:id => "cancelar_sig", :class => "buttonText" } %>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

<%= render :partial => "diagnosticos/errores_evidencias"%>
<script type="text/javascript">

</script>