<%= render :partial => "info"%>

<div id="avances">
  <%#= render :partial => "datos_proyecto"%>
  <table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;" >
    <td align="center"><h4>INFORMES DE AVANCES</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr>
          <td>
            <div class="grid-12-12">
              <label style="font-size: 15px; font-weight: bold;" >NOMBRE DEL PROYECTO: &nbsp;</label>
              <label style="font-size: 13px;"><%= @proyecto.descripcion %></label>
            </div>
          </td>
        </tr>
        <tr align="justify" >
          <td>
            <div class="grid-12-12">
              <label style="font-size: 15px; font-weight: bold;" >EJES A DESARROLLAR: </label>
            </div>
          </td>
        </tr>
        <tr align="center" >
          <td>
            <% @ejes.sort_by { |hsh| hsh[:catalogo_eje_id] }.each do |eje|%>
              <% case eje.catalogo_eje.clave
                when 'EJE1' %>
                  <div class="grid-4-12">
                    <label style=" text-align:center; display:block;">EJE 1</label>
                    <a href="/avances/add_avances/<%= Base64.encode64(eje.id.to_s + '-'+ @num_avance.to_s) %>" type="image" id="button5" class="buttonText" style="font-weight: bold;"><img src="/images/era/iconos/4.png" alt="Desarrollo de Competencias" onmouseover="this.src='/images/era/iconos/4a.png'" onmouseout="this.src='/images/era/iconos/4.png'"/>Desarrollo&nbsp;de&nbsp;Competencias</a>
                  </div>
                   <%@competencia = Competencia.find_by_proyecto_id(@proyecto.id)%>
                   <%@competencia.num_avance_attribute(@num_avance)%>
                <% when 'EJE2' %>
                  <div class="grid-4-12">
                    <label style=" text-align:center; display:block;">EJE 2</label>
                    <a href="/avances/add_avances/<%= Base64.encode64(eje.id.to_s + '-'+ @num_avance.to_s) %>" type="image" id="button5" class="buttonText" style="font-weight: bold;" ><img src="/images/era/iconos/1.png" alt="Entorno Saludable" onmouseover="this.src='/images/era/iconos/1a.png'" onmouseout="this.src='/images/era/iconos/1.png'"/>&nbsp;Entorno&nbsp;Saludable&nbsp;</a>
                  </div>
                  <%@entorno = Entorno.find_by_proyecto_id(@proyecto.id)%>
                  <%@entorno.num_avance_attribute(@num_avance)%>
                <% when 'EJE3' %>
                  <div class="grid-4-12">
                     <label style=" text-align:center; display:block;">EJE 3</label>
                     <a href="/avances/add_avances/<%= Base64.encode64(eje.id.to_s + '-'+ @num_avance.to_s) %>" type="image" id="button5" class="buttonText" style="font-weight: bold;"><img src="/images/era/iconos/2.png" alt="Huella Ecologica" onmouseover="this.src='/images/era/iconos/2a.png'" onmouseout="this.src='/images/era/iconos/2.png'"/>&nbsp;&nbsp;Huella&nbsp;Ecológica&nbsp;&nbsp;</a>
                  </div>
                   <%@huella = Huella.find_by_proyecto_id(@proyecto.id)%>
                   <%@huella.num_avance_attribute(@num_avance)%>
                  <div class="grid-12-12 clear"></div>
                <% when 'EJE4' %>
                  <div class="grid-4-12">
                     <label style=" text-align:center; display:block;">EJE 4</label>
                     <a href="/avances/add_avances/<%= Base64.encode64(eje.id.to_s + '-'+ @num_avance.to_s) %>" type="image" id="button5" class="buttonText" style="font-weight: bold;"><img src="/images/era/iconos/3.png" alt="Consumo Saludable" onmouseover="this.src='/images/era/iconos/3a.png'" onmouseout="this.src='/images/era/iconos/3.png'"/>Consumo&nbsp;Responsable&nbsp;y&nbsp;Saludable</a>
                  </div>
                  <%@consumo = Consumo.find_by_proyecto_id(@proyecto.id)%>
                  <%@consumo.num_avance_attribute(@num_avance)%>
                <% when 'EJE5' %>
                  <div class="grid-4-12">
                     <label style=" text-align:center; display:block;">EJE 5</label>
                     <a href="/avances/add_avances/<%= Base64.encode64(eje.id.to_s + '-'+ @num_avance.to_s) %>" type="image" id="button5" class="buttonText" style="font-weight: bold;"><img src="/images/era/iconos/5.png" alt="Participación Ciudadana" onmouseover="this.src='/images/era/iconos/5a.png'" onmouseout="this.src='/images/era/iconos/5.png'"/>Participación&nbsp;Comunitaria</a>
                  </div>
                  <%@participacion = Participacion.find_by_proyecto_id(@proyecto.id)%>
                  <%@participacion.num_avance_attribute(@num_avance)%>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  </table>
</div>

<!-- Validacion de todos los ejes correctos -->
<%valido=false%>
<%valido= (@competencia.valid?)? true : false if @competencia%>
<%valido= (@entorno.valid?)? true : false if @entorno%>
<%valido= (@huella.valid?)? true : false if @huella%>
<%valido= (@consumo.valid?)? true : false if @consumo%>
<%valido = (@participacion.valid?)? true : false if @participacion%>


<% if valido %>
  <% if @num_avance.to_i == 1  %>
  <p style="text-align: center;">
    <%= link_to image_tag("/images/botones/concluir_1er.png", :mouseover => "/images/botones/concluir_1er2.png" ), { :controller => "avances", :action => "concluir", :id =>  @proyecto, :avance => @num_avance } %>
  </p>
  <% else %>
  <p style="text-align: center;">
    <%= link_to image_tag("/images/botones/concluir_2do.png", :mouseover => "/images/botones/concluir_2do1.png" ), { :controller => "avances", :action => "concluir", :id =>  @proyecto, :avance => @num_avance } %>
  </p>
  <% end %>
<% end %>