<%if @proyecto%>
  <%if @proyecto.oficializado%>
    <div class="titulos" style="text-align: center;" ><p>AVANCES</p></div>
     
      <% case @proyecto.avance
        when 1 %>

          <div>
            <p align="center"><%= link_to image_tag("/images/botones/primer_avance1.png", :mouseover => "/images/botones/primer_avance.png" ), { :controller => "avances", :num_avance => Base64.encode64("1") } %></p>
          </div

        <% when 2 %>
            <div class ="grid-3-12">&nbsp;</div>
            <div class ="grid-3-12"><%= link_to image_tag("/images/botones/imprimir_1avance.png", :mouseover => "/images/botones/imprimir_1avance1.png" ), { :action => "avance_to_pdf.pdf" }, :target => "_blank" %></div>
            <div class ="grid-3-12"><%= link_to image_tag("/images/botones/segundo_avance.png", :mouseover => "/images/botones/segundo_avance1.png" ), { :controller => "avances", :num_avance => Base64.encode64("2") } %></div>

        <% when 3 %>
            <div class ="grid-3-12">&nbsp;</div>
            <div class ="grid-3-12"><%= link_to image_tag("/images/botones/imprimir_1avance.png", :mouseover => "/images/botones/imprimir_1avance1.png" ), { :action => "avance_to_pdf.pdf", :num_avance => Base64.encode64("1") }, :target => "_blank" %></div>
            <div class ="grid-3-12"><%= link_to image_tag("/images/botones/imprimir_2avance.png", :mouseover => "/images/botones/imprimir_2avance1.png" ), { :action => "avance_to_pdf.pdf", :num_avance => Base64.encode64("2") }, :target => "_blank" %></div>
      <% end %>
  <% else %>
    
  <% end %>

 <%end%>