<div class="formee">
  <table class="subreport" width="100%" border="0" align="center" cellpadding="1" cellspacing="1" style="BORDER-RIGHT: #3a3a3a 1px solid; BORDER-TOP: #3a3a3a 1px solid; BORDER-LEFT: #3a3a3a 1px solid; BORDER-BOTTOM: #3a3a3a 1px solid;">
    <tr>
      <td align="center"><h4>FORMATO DE REGISTRO</h4></td>
    </tr>
    <!-- EJE 1: DESARROLLO DE COMPETENCIAS -->
    <tr>
      <td>
<% form_for :escuela, @escuela, :html => {:class => "formee", :name => "escuela"} do |f| -%>
        <fieldset class="report" >
    <div id="prellenado" style="background:#ebf7aa;">
      <div class="grid-4-12">
        <label style=" font-weight: bold;">Clave:</label>
        <label style=" font-style: italic;"><%= @escuela.clave %></label>
      </div>
      <div class="grid-8-12">
        <label style=" font-weight: bold;">Nombre de la Escuela:</label>
        <label style=" font-style: italic;"><%= @escuela.nombre %></label>
      </div>

      <div class="grid-4-12">
        <label style=" font-weight: bold;">Zona Escolar:</label>
        <label style=" font-style: italic;"><%= @escuela.zona_escolar %></label>
      </div>
      <div class="grid-4-12">
        <label style=" font-weight: bold;">Sector:</label>
        <label style=" font-style: italic;"><%= @escuela.sector %></label>
      </div>
      <div class="grid-4-12">
        <label style=" font-weight: bold;">Turno:</label>
        <label style=" font-style: italic;"><%= @escuela.turno %>MATUTINO</label>
      </div>

      <div class="grid-4-12">
        <label style=" font-weight: bold;">Nivel:</label>
        <label style=" font-style: italic;"><%= @escuela.nivel_id %></label>
      </div>
      <div class="grid-8-12">
        <label style=" font-weight: bold;">Modalidad:</label>
        <label style=" font-style: italic;"><%= @escuela.modalidad %></label>
      </div>

      <div class="grid-8-12">
        <label style=" font-weight: bold;">Domicilio:</label>
        <label style=" font-style: italic;"><%= @escuela.domicilio %></label>
      </div>
      <div class="grid-4-12">
        <label style=" font-weight: bold;">Telefono:</label>
        <label style=" font-style: italic;"><%= @escuela.telefono %></label>
      </div>

      <div class="grid-8-12">
        <label style=" font-weight: bold;">Localidad:</label>
        <label style=" font-style: italic;"><%= @escuela.localidad %></label>
      </div>
      <div class="grid-4-12">
        <label style=" font-weight: bold;">Municipio:</label>
        <label style=" font-style: italic;"><%= @escuela.municipio %></label>
      </div>
    </div>

    <!-- categoria -->
    <div class="grid-6-12">
      <label>Categoría: <em class="formee-req">*</em></label>
      <%#=f.select :categoria_escuela_id, CategoriaEscuela.all.collect {|p| [ p.descripcion, p.clave ] }, {:selected => @select_ce}, :onchange => "showDescription(this,'escuela_categoria_desc','');" %>
      <%= f.text_field :categoria_escuela_id, :value => @escuela.categoria_escuela.descripcion, :class => "rpt" %>
    </div>
    <% unless @escuela.categoria_desc.empty? %>
    <div class="grid-6-12">
      <%=f.text_area :categoria_desc, :placeholder => "Especifique...", :class => "rpt" %>
    </div>
    <% end %>

    <div class="grid-12-12 clear"></div>

    <!-- programa -->
    <div class="grid-6-12">
      <label>La institución educativa participa en algún programa: ¿Cúal?</label>
       <%#= f.select :programa_id, Programa.find(:all).collect {|p| [ p.descripcion, p.clave ] }, {:selected => @select_p}, :onchange => "showDescription(this,'escuela_programa_desc','');" %>
       <%= f.text_field :programa_id, :value => @escuela.programa.descripcion, :class => "rpt" %>
    </div>
    <% unless @escuela.programa_desc.empty? %>
    <div class="grid-6-12">
      <%= f.text_area :programa_desc, :placeholder => "Especifique...", :class => "rpt" %>
    </div>
    <% end %>

    <!-- director -->
    <div class="grid-12-12">
      <label>Nombre del director: <em class="formee-req">*</em></label>
      <%= f.text_field  :nombre_director, :class => "rpt" %>
    </div>

    <div class="grid-6-12">
      <label>Teléfono del director (lada): </label>
      <%= f.text_field :telefono_director, :class => "rpt" %>
    </div>

    <div class="grid-6-12">
      <label>Correo electrónico de la escuela: <em class="formee-req">*</em></label>
      <%= f.text_field :email, :class => "rpt" %>
    </div>

    <!-- nombre del proyecto -->
    <div class="grid-12-12">
      <label>Nombre del proyecto: <em class="formee-req">*</em></label>
      <%= f.text_field :nombre_proyecto, :class => "rpt" %>
    </div>

    <!-- responsables -->
    <div class="grid-12-12">
      <label>Nombre(s) del (los) responsable (s) del proyecto: <em class="formee-req">*</em></label>
      <%= f.text_area :responsables_proyecto, :class => "nta" %>
    </div>

    <!-- telefono y correo electronico de responsables -->
    <div class="grid-6-12">
      <label>Teléfono (lada): </label>
      <%= f.text_field :tel_responsable_proyecto, :class => "rpt" %>
    </div>

    <div class="grid-6-12">
      <label>Correo electrónico: </label>
      <%= f.text_field :email_responsable_proyecto, :class => "rpt" %>
    </div>

    <!-- total de personal -->
    <div class="grid-3-12">
      <label>Total personal docente: </label>
      <%= f.text_field :total_personal_docente, :class => "rpt" %>
    </div>

    <div class="grid-3-12">
      <label>Total de alumnos: </label>
      <%= f.text_field :total_personal_docente, :class => "rpt" %>
    </div>

    <div class="grid-3-12">
      <label>Total personal admvo: </label>
      <%= f.text_field :total_personal_admvo, :class => "rpt" %>
    </div>

    <div class="grid-3-12">
      <label>Total personal de apoyo: </label>
      <%= f.text_field :total_personal_apoyo, :class => "rpt" %>
    </div>

  </fieldset>
        <%end%>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript">
  <%#*showDescription('escuela[categoria_escuela_id]','escuela_categoria_desc','');%>
  <%#*showDescription('escuela[programa_id]','escuela_programa_desc','');%>
</script>