<div class="container">

    <div class="formee-msg-info">
    	<h3>Información importante</h3>
        <ul>
        	<li>No olvide completar todos los campos con letras mayúsculas</li>
        	<!--
                <li>We only used <strong>javascript</strong> to guarantee equal height elements (using the <strong>.formee-equal</strong> class)</li>
                -->
        </ul>

    </div>

    <!-- formee-->
 

        <!--<form class="formee" action=""> -->
           <% form_for :escuela, @escuela, :url => { :action => "save", :id => @escuela }, :html => {:class => "formee"} do |f| -%>
        <fieldset>
        <legend>Registro de Escuelas</legend>


        <div class="grid-4-12">
               <label>Clave <em class="formee-req">*</em></label>
               <!-- <input type="text" value="Escriba la clave completa" /> -->
               <%=f.text_field :clave, :placeholder => "Escriba la clave completa"%>
        </div>

        <!-- categoria -->
        <div class="grid-12-12">
                <label>Categoría <em class="formee-req">*</em></label>
                <ul class="formee-list">
                    <li><input name="unitaria" type="checkbox" /> <label>UNITARIA</label></li>
                    <li><input name="bidocente" type="checkbox" /> <label>BIDOCENTE</label></li>
                    <li><input name="multigrado" type="checkbox" /> <label>MULTIGRADO</label></li>
                    <li><input name="organizacion_completa" type="checkbox" /> <label>ORGANIZACIÓN COMPLETA</label></li>
                </ul>
        </div>

        <!-- programa -->
        <div class="grid-12-12">
               <label>La institución educativa participa en algún programa: ¿Cúal? <em class="formee-req">*</em></label>
               <%=text_field :proyecto, :participa_programa, :placeholder => "Escriba la clave completa"%>
        </div>

        <!-- director -->
        <div class="grid-12-12">
               <label>Nombre del director <em class="formee-req">*</em></label>
               <%=f.text_field  :nombre_director, :placeholder => "Escriba la clave completa"%>
        </div>


        <div class="grid-4-12">
               <label>Teléfono del director <em class="formee-req">*</em></label>
               <%=f.text_field :telefono_director, :placeholder => "Escriba la clave completa"%>
        </div>

         <div class="grid-4-12">
               <label>Correo electrónico de la escuela <em class="formee-req">*</em></label>
               <%=f.text_field :correo_electronico, :placeholder => "Escriba la clave completa"%>
        </div>

         <!-- nombre del proyecto -->
        <div class="grid-12-12">
               <label>Nombre del proyecto <em class="formee-req">*</em></label>
               <%=text_field  :proyecto, :nombre, :placeholder => "Escriba la clave completa"%>
        </div>

        <!-- responsables -->
        <div class="grid-12-12">
               <label>Nombre(s) del (los) responsable (s) del proyecto:<em class="formee-req">*</em></label>
               <%=text_area  :proyecto, :responsables, :placeholder => "Escriba la clave completa"%>
        </div>
        
        <!-- telefono y correo electronico de responsables -->
        <div class="grid-6-12">
               <label>Teléfono: <em class="formee-req">*</em></label>
               <%=text_field :proyecto, :telefono_responsable, :placeholder => "Escriba la clave completa"%>
        </div>

         <div class="grid-6-12">
               <label>Correo electrónico<em class="formee-req">*</em></label>
               <%=text_field :proyecto, :correo_electronico_responsable, :placeholder => "Escriba la clave completa"%>
        </div>

        <!-- total de personal -->
        <div class="grid-4-12">
               <label>Total personal docente:<em class="formee-req">*</em></label>
               <%=f.text_field :total_personal_docente, :placeholder => "Escriba la clave completa"%>
        </div>

        <div class="grid-4-12">
               <label>Total personal administrativo<em class="formee-req">*</em></label>
               <%=f.text_field :total_personal_administrativo, :placeholder => "Escriba la clave completa"%>
        </div>

        <div class="grid-4-12">
               <label>Total personal de apoyo:<em class="formee-req">*</em></label>
               <%=f.text_field :total_personal_apoyo, :placeholder => "Escriba la clave completa"%>
        </div>

        <!-- submit -->
        <div class="grid-12-12">
               <input class="right" type="submit" title="send" value="send" />
        </div>
    </fieldset>


    <fieldset>
    	<legend>Message Box</legend>
        <div class="formee-msg-info"><h3>Information Message</h3></div>

        <div class="formee-msg-warning"><h3>Warning Message</h3></div>

        <div class="formee-msg-error"><h3>Error Message</h3></div>

        <div class="formee-msg-success"><h3>Success Message</h3></div>
    </fieldset>
  <%end%>
      <!-- formee-->

</div>