<p>
  <b>Clave:</b>
  <%=h @catalogo_accion.clave %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @catalogo_accion.descripcion %>
</p>

<p>
  <b>Institucion:</b>
  <%=h @catalogo_accion.institucion_id %>
</p>


<%= link_to 'Edit', edit_catalogo_accion_path(@catalogo_accion) %> |
<%= link_to 'Back', catalogo_accions_path %>