<!-- Carga de Evidencias -->
<div class="container">


    <div class="formee-msg-info">
    <h3>Información importante:</h3>
    <ul>
      <li>Los campos marcados con <em class="formee-req">*</em> son obligatorios.</li>
    </ul>
    <ul> <li>El tamaño de un archivo no debe excederse los 10 MB.</li></ul>
  </div>


<%form_for(@uploaded_file, :url => {:action => "create_evidencia", :diagnostico => @diagnostico, :eje => @eje, :numero_pregunta => @numero_pregunta}, :html => { :multipart => true, :class => "formee" }) do |f| -%>
    <fieldset>

    <legend>CARGAR&nbsp;NUEVA&nbsp;EVIDENCIA</legend>

    <div class="grid-form">
      <label>Tipo de archivo: <em class="formee-req">*</em></label>
      <%= f.select :tipodoc_id, Tipodoc.all.collect{|a| [a.descripcion, a.id]}, :prompt => 'Seleccione una opción'%>
    </div>
    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <label>EJE: <%=h @eje %></label>
    </div>
    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <label>Número de Pregunta: <%=h @numero_pregunta %></label>
    </div>
    <div class="grid-12-12 clear"></div>


    <div class="grid-form">
      <label>Archivo: <em class="formee-req">*</em></label>
       <%= f.file_field :inputfile %>
    </div>
    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
       <label>Descripción: <em class="formee-req">*</em></label>
      <%= f.text_area :descripcion, :placeholder => "Escriba la descripción del archivo" %>
    </div>

    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <input class="right" type="submit" title="CARGAR ARCHIVO" value="CARGAR ARCHIVO" />
    </div>
  </fieldset>
<%end%>
</div>
