<!-- Carga de Evidencias -->
<div class="container" style="width: 70%">


    <div class="formee-msg-info">
    <h3>Información importante:</h3>
    <ul>
      <li>Los campos marcados con <em class="formee-req">*</em> son obligatorios.</li>
    </ul>
    <ul> <li>El tamaño de un archivo no debe excederse los 10 MB.</li></ul>
  </div>


<%form_for(@uploaded_file, :url => {:action => "create_evidencia_avance", :proyecto => @proyecto, :eje => @eje, :num_avance => @num_avance}, :html => { :multipart => true, :class => "formee" }) do |f| -%>
  <fieldset>

    <legend>Cargar&nbsp;Nueva&nbsp;Evidencia</legend>

    <div class="grid-form">
      <label>Tipo de archivo: <em class="formee-req">*</em></label>
      <%= f.select :tipodoc_id, Tipodoc.all.collect{|a| [a.descripcion, a.id]}, :prompt => 'Seleccione una opción'%>
    </div>
    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <label>AVANCE NÚN.: <%=h @num_avance %></label>
    </div>
    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <label>Archivo: <em class="formee-req">*</em></label>
       <%= f.file_field :inputfile %>
    </div>
    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <label>Número de actividad: <em class="formee-req">*</em></label>
      <%@actividades= 1..4%>
      <%=f.select(:numero_actividad, @actividades.map { |value| [ value, value ] }, :prompt => "Seleccione alguna actividad")%>
    </div>
    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
       <label>Descripción: <em class="formee-req">*</em></label>
      <%= f.text_area :descripcion, :placeholder => "Escriba la descripción del archivo", :style => "height: 11em;"  %>
    </div>

    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <input class="right" type="submit" title="CARGAR ARCHIVO" value="CARGAR ARCHIVO" />
    </div>
  </fieldset>
<%end%>
</div>

<script type="text/javascript">
  var tipodoc_id = new LiveValidation( 'adjunto_tipodoc_id', {onlyOnSubmit: true} );
  tipodoc_id.add( Validate.Presence );

  var inputfile = new LiveValidation( 'adjunto_inputfile', {onlyOnSubmit: true} );
  inputfile.add( Validate.Presence );

  var descripcion = new LiveValidation( 'adjunto_descripcion', {onlyOnSubmit: true} );
  descripcion.add( Validate.Presence );

  var numero_actividad = new LiveValidation( 'adjunto_numero_actividad', {onlyOnSubmit: true} );
  numero_actividad.add( Validate.Presence );
</script>