<div class="container">
  <% form_for :diagnostico, @diagnostico, :url => { :action => "habilitar_diagnostico", :id => @diagnostico, :escuela => @escuela}, :html => {:class => "formee", :name => "escuela_diagnostico"} do |f| -%>

  <fieldset>
    <legend>Diagnóstico&nbsp;de&nbsp;Escuela</legend>

    <div id="prellenado" style="background:#ebf7aa;">

      <div class="grid-4-12">
        <label style=" font-weight: bold;"><b>Clave:</b></label>
        <label style=" font-style: italic;"><%= @escuela.clave %></label>
      </div>
      <div class="grid-8-12">
        <label style=" font-weight: bold;"><b>Nombre de la Escuela:</b></label>
        <label style=" font-style: italic;"><%= @escuela.nombre %></label>
      </div>

      <div class="grid-4-12">
        <label style=" font-weight: bold;"><b>Zona Escolar:</b></label>
        <label style=" font-style: italic;"><%= @escuela.zona_escolar %></label>
      </div>
      <div class="grid-4-12">
        <label style=" font-weight: bold;"><b>Sector:</b></label>
        <label style=" font-style: italic;"><%= @escuela.sector %></label>
      </div>
      <div class="grid-4-12">
        <label style=" font-weight: bold;"><b>Turno:</b></label>
        <label style=" font-style: italic;"><%= @escuela.turno %></label>
      </div>

      <div class="grid-8-12">
        <label style=" font-weight: bold;"><b>Localidad:</b></label>
        <label style=" font-style: italic;"><%= @escuela.localidad %></label>
      </div>
      <div class="grid-4-12">
        <label style=" font-weight: bold;"><b>Municipio:</b></label>
        <label style=" font-style: italic;"><%= @escuela.municipio %></label>
      </div>
   

    <div class="grid-4-12">
        <label style=" font-weight: bold;"><b>Folio de Diagnóstico:</b></label>
        <label style=" font-style: italic;"><%= @diagnostico.folio %></label>
      </div>

     <div class="grid-4-12">
        <label style=" font-weight: bold;"><b>Código de Autenticidad:</b></label>
        <label style=" font-style: italic;"><%= (User.find_by_escuela_id(@escuela.id))? User.find_by_escuela_id(@escuela.id).activation_code : "-----" %></label>
      </div>

       </div>

    <div class="grid-12-12 clear"></div>

     <!-- submit -->
    <% if @diagnostico.oficializado && current_user.has_role?("adminplat") %>
      <div class="grid-12-12">
        <input class="right" type="submit" onclick="to_uppercase();" title="HABILITAR DIAGNOSTICO" value="HABILITAR DIAGNOSTICO" />
      </div>
    <%end%>
     
  </fieldset>

  <%end%>

  <% if @diagnostico.oficializado %>
    <% form_for :diagnostico, @diagnostico, :url => {:action => "reporte_completo", :controller => "diagnosticos", :id => "#{Base64.encode64(@diagnostico.id.to_s)}.pdf" }, :html => {:class => "formee", :target => "_blank"} do -%>
      <div class="grid-12-12" style="text-align: center;" ><input type="submit" title="Imprimir" value="Imprimir Diagnostico" /></div>
    <% end %>
  <% end %>
      
</div>
