<div class="container">
  <div class="formee">
    <table align="center" class="subprincipal" width="95%" cellspacing="5" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
      <tr class="tdiagnostico">
        <td align="center" ><label style=" font-weight: bold; " >MONITOR DE EVALUACIÓN DE EVIDENCIAS</label></td>
      </tr>
      <tr class="tdiagnostico">
        <td align="center" ><label>ESCUELA: &nbsp; &nbsp;<b><%= @escuela.nombre %></b>, &nbsp; CLAVE: &nbsp; &nbsp;<b><%= @escuela.clave %></b>  </label></td>
      </tr>
    </table>
    <br />
    <fieldset>
      <div class="grid-12-12 clear">
        <% unless @eje1.empty?  %>
        <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
          <tr class="tdiagnostico">
            <td colspan="8" align="center" ><label>EJE: 1 &nbsp; <b>DESARROLLO DE COMPETENCIAS</b></label></td>
          </tr>
          <tr class="d0" style=" font-weight: bold; " >
            <td width="2%" style="vertical-align: middle;">NP</td>
            <td width="56%" style="vertical-align: middle;">DESCRIPCIÓN EVIDENCIA</td>
            <td width="10%" style="vertical-align: middle;">PUNTAJE PREGUNTA</td>
            <td width="10%" style="vertical-align: middle;">PUNTAJE OBTENIDO</td>
            <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
          </tr>
          <% total_competencia = 0.0 %>
          <% obtenido_competencia = 0.0 %>
          <% @eje1.each do |eje| %>
         <tr class="d1">
            <td><%= eje.numero_pregunta %></td>
            <td><%= eje.descripcion %></td>
            <% total_competencia += (eval("$competencia_p#{eje.numero_pregunta}").to_f * 100) %>
            <% obtenido_competencia += (eval("@cp#{eje.numero_pregunta}")).to_f %>
            <td align="right"><%= eval("$competencia_p#{eje.numero_pregunta}").to_f * 100 %></td>
            <td align="right"><%= eval("@cp#{eje.numero_pregunta}") %></td>
            <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:action => "show_evidencias_avance", :controller => "upload", :id => @user, :diagnostico => @diagnostico, :avance => 2}, :html => { :target => "_blank"}, :title => "Ver Evidencia" %></td>
            <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:action => "show_evidencias_avance", :controller => "upload", :id => @user, :diagnostico => @diagnostico, :avance => 2}, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
            <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:action => "show_evidencias_avance", :controller => "upload", :id => @user, :diagnostico => @diagnostico, :avance => 2}, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
            <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:action => "show_evidencias_avance", :controller => "upload", :id => @user, :diagnostico => @diagnostico, :avance => 2}, :html => { :target => "_blank"}, :title => "Eliminar Evidencia" %></td>
          </tr>
          <% end %>
          <tr class="d1">
            <td colspan="2">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
            <td align="right"><%= @c_maxptos - total_competencia %></td>
            <td align="right"><%= (@c_totalptos - obtenido_competencia).round(3) %></td>
            <td colspan="4">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="8">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="right"><b><%= @c_maxptos %></b></td>
            <td align="right"><b><%= @c_totalptos %></b></td>
            <td colspan="4"></td>
          </tr>
        </table>
        <% end %>
      </div>

      <div class="grid-12-12 clear">
        <% unless @eje2.empty?  %>
        <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
          <tr class="tdiagnostico">
            <td colspan="8" align="center" ><label>EJE: 2 &nbsp; <b>ENTORNO SALUDABLE</b></label></td>
          </tr>
          <tr class="d0" style=" font-weight: bold; " >
            <td width="2%" style="vertical-align: middle;">NP</td>
            <td width="56%" style="vertical-align: middle;">DESCRIPCIÓN EVIDENCIA</td>
            <td width="10%" style="vertical-align: middle;">PUNTAJE PREGUNTA</td>
            <td width="10%" style="vertical-align: middle;">PUNTAJE OBTENIDO</td>
            <td width="20%"style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
          </tr>
          <% total_entorno = 0.0 %>
          <% obtenido_entorno = 0.0 %>
          <% @eje2.each do |eje| %>
         <tr class="d1">
            <td><%= eje.numero_pregunta %></td>
            <td><%= eje.descripcion %></td>
            <% total_entorno += (eval("$entorno_p#{eje.numero_pregunta}").to_f * 100) %>
            <% obtenido_entorno += (eval("@ep#{eje.numero_pregunta}")).to_f %>
            <td align="right"><%= eval("$entorno_p#{eje.numero_pregunta}").to_f * 100 %></td>
            <td align="right"><%= eval("@ep#{eje.numero_pregunta}") %></td>
            <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:action => "show_evidencias_avance", :controller => "upload", :id => @user, :diagnostico => @diagnostico, :avance => 2}, :html => { :target => "_blank"}, :title => "Ver Evidencia" %></td>
            <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:action => "show_evidencias_avance", :controller => "upload", :id => @user, :diagnostico => @diagnostico, :avance => 2}, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
            <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:action => "show_evidencias_avance", :controller => "upload", :id => @user, :diagnostico => @diagnostico, :avance => 2}, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
            <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:action => "show_evidencias_avance", :controller => "upload", :id => @user, :diagnostico => @diagnostico, :avance => 2}, :html => { :target => "_blank"}, :title => "Eliminar Evidencia" %></td>
          </tr>
          <tr class="d1">
            <td colspan="2">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
            <td align="right"><%= @e_maxptos - total_entorno %></td>
            <td align="right"><%= @e_totalptos - obtenido_entorno %></td>
            <td colspan="4">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="8">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="right"><b><%= @e_maxptos %></b></td>
            <td align="right"><b><%= @e_totalptos %></b></td>
            <td colspan="4"></td>
          </tr>
          <% end %>
        </table>
        <% end %>
      </div>

      <div class="grid-12-12 clear">
        <% unless @eje3.empty?  %>
        <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
          <tr class="tdiagnostico">
            <td colspan="8" align="center" ><label>EJE: 3 &nbsp; <b>HUELLA ECOLOGICA</b></label></td>
          </tr>
          <tr class="d0" style=" font-weight: bold; " >
            <td width="2%"style="vertical-align: middle;">NP</td>
            <td width="56%"style="vertical-align: middle;">DESCRIPCIÓN EVIDENCIA</td>
            <td width="10%" style="vertical-align: middle;">PUNTAJE PREGUNTA</td>
            <td width="10%"style="vertical-align: middle;">PUNTAJE OBTENIDO</td>
            <td width="20%"style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
          </tr>
          <% total_huella = 0.0 %>
          <% obtenido_huella = 0.0 %>
          <% @eje3.each do |eje| %>
         <tr class="d1">
            <td><%= eje.numero_pregunta %></td>
            <td><%= eje.descripcion %></td>
            <% total_huella += (eval("$huella_p#{eje.numero_pregunta}").to_f * 100) %>
            <% obtenido_huella += (eval("@hp#{eje.numero_pregunta}")).to_f %>
            <td align="right"><%= eval("$huella_p#{eje.numero_pregunta}").to_f * 100 %></td>
            <td align="right"><%= eval("@hp#{eje.numero_pregunta}") %></td>
            <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:action => "show_evidencias_avance", :controller => "upload", :id => @user, :diagnostico => @diagnostico, :avance => 2}, :html => { :target => "_blank"}, :title => "Ver Evidencia" %></td>
            <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:action => "show_evidencias_avance", :controller => "upload", :id => @user, :diagnostico => @diagnostico, :avance => 2}, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
            <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:action => "show_evidencias_avance", :controller => "upload", :id => @user, :diagnostico => @diagnostico, :avance => 2}, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
            <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:action => "show_evidencias_avance", :controller => "upload", :id => @user, :diagnostico => @diagnostico, :avance => 2}, :html => { :target => "_blank"}, :title => "Eliminar Evidencia" %></td>
          </tr>
          <tr class="d1">
            <td colspan="2">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
            <td align="right"><%= @h_maxptos - total_huella %></td>
            <td align="right"><%= @h_totalptos - obtenido_huella %></td>
            <td colspan="4">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="8">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="right"><b><%= @h_maxptos %></b></td>
            <td align="right"><b><%= @h_totalptos %></b></td>
            <td colspan="4"></td>
          </tr>
          <% end %>
        </table>
        <% end %>
      </div>
    </fieldset>
    
  </div>
</div>

