<%=render :partial => "flash_messages"%>

<div class="container">
  <div class="formee">
    <table align="center" class="subprincipal" width="95%" cellspacing="5" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
      <tr class="tdiagnostico">
        <td align="center" ><label style=" font-weight: bold; " >MONITOR DE EVALUACIÓN DE EVIDENCIAS DE LOS AVANCES</label></td>
      </tr>

      <tr class="tdiagnostico">
        <td align="center" ><label style=" font-weight: bold; " >AVANCE <%=@avance%></label></td>
      </tr>
      <tr class="tdiagnostico">
        <td align="center" ><label>ESCUELA: &nbsp; &nbsp;<b><%= @escuela.nombre %></b>, &nbsp; CLAVE: &nbsp; &nbsp;<b><%= @escuela.clave %></b>  </label></td>
      </tr>

      <tr class="tdiagnostico">
        <td align="center" ><label>MUNICIPIO: &nbsp; &nbsp;<b><%= @escuela.municipio %></b>, &nbsp; LOCALIDAD: &nbsp; &nbsp;<b><%= @escuela.localidad %></b> &nbsp; NIVEL: &nbsp; &nbsp;<b><%=h (@escuela.nivel)? @escuela.nivel.descripcion : "" %></b> </label></td>
      </tr>

      <tr>
          <td colspan="3">
              <div class="formee" style="text-align:center" >
                  <%avance = (@avance == "1")? 2 : 1%>
                  <fieldset>
                    <h1><%= image_tag 'era/iconos/flecha_inversa.png' %>&nbsp;<%= link_to "   REGRESAR A MENU", {:controller => "admin", :action => "menu_escuela", :id => @user}, :style => "color:#0489B1; text-decoration: none;", :title => "IR A MENU" %> &nbsp; | &nbsp; <%= image_tag 'era/iconos/flecha.png' %>&nbsp;<%= link_to "   IR A AVANCE #{avance}", {:controller => "admin", :action => "dashboard_proyecto", :avance => avance, :id => @user, :proyecto => @proyecto}, :style => "color:#0489B1; text-decoration: none;", :title => "IR A AVANCE #{avance}" %></h1>
                  </fieldset>
              </div>
        </td>
       </tr>

    </table>
    <br />
    <fieldset>

    <!-- EJE 1 -->
    <% if @proyecto.competencia %>
      <div class="grid-12-12 clear">
          <% total_eje1 = 0.0 %>
          <% total_obtenido_eje1 = 0.0 %>
          <% @total_obtenido_proyecto_eje1 = 0 %>
          <% @puntaje_pregunta_diagnostico_eje1 = 0 %>
          <% @puntaje_pregunta_proyecto_eje1 = 0%>
          <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" >
            <tr class="tdiagnostico">
              <td colspan="10" align="center" ><label>EJE: 1 &nbsp; <b>DESARROLLO DE COMPETENCIAS</b></label></td>
            </tr>
            <% unless @preguntas_eje1.empty?  %>
              <tr class="d0" style=" font-weight: bold; " >
                <td width="5%" style="vertical-align: middle;" align="center">NP</td>
                <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
                <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE DIAGNÓSTICO</td>
                <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE AVANCE</td>
                <!--<td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>-->
                <td width="3%" style="vertical-align: middle;" align="center">&nbsp;</td>
                <td width="32%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
                <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
              </tr>
              <%@preguntas_eje1.sort{|p1,p2| p1.numero_pregunta <=> p2.numero_pregunta}.each do |p|%>
                <tr class="d1" style="font-size: 14px;">
                  <% total_eje1 += eval("$competencia_p#{p.numero_pregunta}").to_f * 100 %>
                  <% total_obtenido_eje1 += eval("@competencia_p#{p.numero_pregunta}").to_f %>
                  <%detalle_preguntas_eje1 = Adjunto.find(:all, :conditions => ["proyecto_id = ? and eje_id = ? and numero_pregunta = ? and avance = ?", p.proyecto_id, @eje1.id, p.numero_pregunta, @avance])%>
                  <td align="center" rowspan="<%= detalle_preguntas_eje1.size + 1%>"><%= p.numero_pregunta %></td>
                  <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje1.size + 1%>"><%= eval("$competencia_p#{p.numero_pregunta}").to_f * 100 %></td>
                  <% @puntaje_pregunta_diagnostico_eje1 = eval("@p_diagnostico.puntaje_eje1_p#{p.numero_pregunta}").to_f %>
                  <% @puntaje_pregunta_proyecto_eje1 = (eval("@competencia_p#{p.numero_pregunta}").to_f > 0.0) ? (eval("@competencia_p#{p.numero_pregunta}").to_f - eval("@p_diagnostico.puntaje_eje1_p#{p.numero_pregunta}").to_f) : 0.0%>
                  <% @total_obtenido_proyecto_eje1 += @puntaje_pregunta_proyecto_eje1 %>
                  <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje1.size + 1%>"><%= @puntaje_pregunta_diagnostico_eje1 %></td>
                  <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje1.size + 1%>"><%= @puntaje_pregunta_proyecto_eje1 %></td>
                  <!--<td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje1.size + 1%>"><%= @puntaje_pregunta_diagnostico_eje1 + @puntaje_pregunta_proyecto_eje1 %></td>-->
                </tr>

                <%detalle_preguntas_eje1.each do |eje|%>
                  <tr class="d1">
                  <!-- icono de validado -->
                    <%if eje.validado%>
                      <td style="vertical-align: middle;"><%= image_tag 'admin/disponible.png'%></td>
                    <%else%>
                      <%if eje.validado == false%>
                        <td style="vertical-align: middle;"><%= image_tag 'admin/bloqueado.png'%></td>
                      <%else%>
                        <td style="vertical-align: middle;">-</td>
                      <%end%>
                    <%end%>
                    <td><%= eje.descripcion %></td>
                    <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:controller => "upload", :action => "download", :id => eje.id}, :class => 'fancybox fancybox.iframe', :title => "Ver Evidencia" %></td>
                    <%if current_user.has_role?("adminplat") || current_user.has_role?("enlaceevaluador")%>
                      <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:controller => "upload", :action => "validar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard_proyecto => 1, :avance => @avance }, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
                      <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:controller => "upload", :action => "invalidar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard_proyecto => 1, :avance => @avance }, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
                      <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:controller => "upload", :action => "destroy_evidencia", :id => eje.id, :dashboard => 1, :user_id => @user.id, :diagnostico_id => @diagnostico}, :confirm => '¿Esta seguro que desea elimina la evidencia?', :title => "Eliminar Evidencia" %></td>
                    <% else %>
                      <td colspan="3">&nbsp;</td>
                    <% end %>
                  </tr>
                <%end%>
                <tr>
                  <td colspan="10">&nbsp;</td>
                </tr>
              <%end%>
              <tr>
                <td align="right" ><b>TOTALES:</b></td>
                <td align="center"><b><%= @total_puntos_eje1 %></b></td>
                <td></td>
                <td align="center"><b><%= @total_obtenido_proyecto_eje1 %></b></td>
                <td colspan="6"></td>
              </tr>
            <%end%>
          </table>
        </div>
    <% end %>

    <!-- EJE 2 -->
    <% if @proyecto.entorno %>
      <div class="grid-12-12 clear">
        <% total_eje2 = 0.0 %>
        <% total_obtenido_eje2 = 0.0 %>
        <% @total_obtenido_proyecto_eje2 = 0 %>
        <% @puntaje_pregunta_diagnostico_eje2 = 0 %>
        <% @puntaje_pregunta_proyecto_eje2 = 0%>
        <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" >
          <tr class="tdiagnostico">
            <td colspan="10" align="center" ><label>EJE: 2 &nbsp; <b>ENTORNO SALUDABLE</b></label></td>
          </tr>
          <% unless @preguntas_eje2.empty?  %>
            <tr class="d0" style=" font-weight: bold; " >
              <td width="5%" style="vertical-align: middle;" align="center">NP</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE DIAGNÓSTICO</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE AVANCE</td>
              <!--<td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>-->
              <td width="3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="32%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
            </tr>

            <%@preguntas_eje2.sort{|p1,p2| p1.numero_pregunta <=> p2.numero_pregunta}.each do |p|%>
              <tr class="d1" style="font-size: 14px;">
                <% total_eje2 += (eval("$entorno_p#{p.numero_pregunta}").to_f * 100).to_f %>
                <% total_obtenido_eje2 += eval("@entorno_p#{p.numero_pregunta}").to_f %>
                <%detalle_preguntas_eje2 = Adjunto.find(:all, :conditions => ["proyecto_id = ? and eje_id = ? and numero_pregunta = ? and avance = ?", p.proyecto_id, @eje2.id, p.numero_pregunta, @avance])%>
                <td align="center" rowspan="<%= detalle_preguntas_eje2.size + 1%>"><%= p.numero_pregunta %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje2.size + 1%>"><%= eval("$entorno_p#{p.numero_pregunta}").to_f * 100 %></td>
                <% @puntaje_pregunta_diagnostico_eje2 = eval("@p_diagnostico.puntaje_eje2_p#{p.numero_pregunta}").to_f%>
                <% @puntaje_pregunta_proyecto_eje2 = (eval("@entorno_p#{p.numero_pregunta}").to_f > 0.0) ? (eval("@entorno_p#{p.numero_pregunta}").to_f - eval("@p_diagnostico.puntaje_eje2_p#{p.numero_pregunta}").to_f) : 0.0 %>
                <% @total_obtenido_proyecto_eje2 += @puntaje_pregunta_proyecto_eje2 %>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje2.size + 1%>"><%= @puntaje_pregunta_diagnostico_eje2 %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje2.size + 1%>"><%= @puntaje_pregunta_proyecto_eje2 %></td>
                <!--<td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje2.size + 1%>"><%= @puntaje_pregunta_diagnostico_eje2 + @puntaje_pregunta_proyecto_eje2 %></td>-->
              </tr>

              <%detalle_preguntas_eje2.each do |eje|%>
                <tr class="d1">
                  <!-- icono de validado -->
                  <%if eje.validado%>
                    <td style="vertical-align: middle;"><%=image_tag 'admin/disponible.png'%></td>
                  <%else%>
                    <%if eje.validado == false%>
                      <td style="vertical-align: middle;"><%=image_tag 'admin/bloqueado.png'%></td>
                    <%else%>
                      <td style="vertical-align: middle;">-</td>
                    <%end%>
                  <%end%>
                  <td><%= eje.descripcion %></td>
                  <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:controller => "upload", :action => "download", :id => eje.id}, :class => 'fancybox fancybox.iframe', :title => "Ver Evidencia" %></td>
                  <%if current_user.has_role?("adminplat") || current_user.has_role?("enlaceevaluador")%>
                    <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:controller => "upload", :action => "validar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard_proyecto => 1, :avance => @avance }, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
                    <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:controller => "upload", :action => "invalidar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard_proyecto => 1, :avance => @avance }, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
                    <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:controller => "upload", :action => "destroy_evidencia", :id => eje.id, :dashboard => 1, :user_id => @user.id, :diagnostico_id => @diagnostico}, :confirm => '¿Esta seguro que desea elimina la evidencia?', :title => "Eliminar Evidencia" %></td>
                  <% else %>
                    <td colspan="3">&nbsp;</td>
                  <% end %>
                </tr>
              <%end%>

              <tr>
                <td colspan="10">&nbsp;</td>
              </tr>
            <%end%>
            <tr>
              <td align="right" ><b>TOTALES:</b></td>
              <td align="center"><b><%= @total_puntos_eje2 %></b></td>
              <td></td>
              <td align="center"><b><%= @total_obtenido_proyecto_eje2 %></b></td>
              <td colspan="6"></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>

    <!-- EJE 3 -->
    <% if @proyecto.huella %>
      <div class="grid-12-12 clear">
        <% total_eje3 = 0.0 %>
        <% total_obtenido_eje3 = 0.0 %>
        <% @total_obtenido_proyecto_eje3 = 0 %>
        <% @puntaje_pregunta_diagnostico_eje3 = 0 %>
        <% @puntaje_pregunta_proyecto_eje3 = 0%>
        <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" >
          <tr class="tdiagnostico">
            <td colspan="10" align="center" ><label>EJE: 3 &nbsp; <b>HUELLA ECOLOGICA</b></label></td>
          </tr>
          <tr class="d0" style=" font-weight: bold; " >
              <td width="5%" style="vertical-align: middle;" align="center">NP</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE DIAGNÓSTICO</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE AVANCE</td>
              <!--<td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>-->
              <td width="3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="32%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
          </tr>
          <% unless @preguntas_eje3.empty?  %>
            <%@preguntas_eje3.sort{|p1,p2| p1.numero_pregunta <=> p2.numero_pregunta}.each do |p|%>
              <tr class="d1" style="font-size: 14px;">
                <% total_eje3 += (eval("$huella_p#{p.numero_pregunta}").to_f * 100).to_f %>
                <%# total_obtenido_eje3 += eval("@huella_p#{p.numero_pregunta}").to_f %>
                <% @total_obtenido_se_eje3 = 0.0 %>
                <%
                  np=0
                  [3,5].each do |np|
                    pregunta_puntaje_proyecto_eje3 = ( eval("@p_proyecto.puntaje_eje3_p#{np}('proyecto', #{@avance})").to_f > 0.0 ) ? (( eval("@p_proyecto.puntaje_eje3_p#{np}('proyecto', #{@avance})").to_f - eval("@p_diagnostico.puntaje_eje3_p#{np}").to_f )) : 0
                      #( eval("@p_proyecto.puntaje_eje3_p#{np}('proyecto', #{@avance})").to_f )
                    @total_obtenido_se_eje3 += pregunta_puntaje_proyecto_eje3
                  end
                %>
                <% detalle_preguntas_eje3 = Adjunto.find(:all, :conditions => ["proyecto_id = ? and eje_id = ? and numero_pregunta = ? and avance = ?", p.proyecto_id, @eje3.id, p.numero_pregunta, @avance]) %>
                <td align="center" rowspan="<%= detalle_preguntas_eje3.size + 1%>"><%= p.numero_pregunta %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje3.size + 1%>"><%= eval("$huella_p#{p.numero_pregunta}").to_f * 100 %></td>
                <% @puntaje_pregunta_diagnostico_eje3 = eval("@p_diagnostico.puntaje_eje3_p#{p.numero_pregunta}").to_f%>
                <% @puntaje_pregunta_proyecto_eje3 = (eval("@huella_p#{p.numero_pregunta}").to_f > 0.0) ? (eval("@huella_p#{p.numero_pregunta}").to_f - eval("@p_diagnostico.puntaje_eje3_p#{p.numero_pregunta}").to_f) : 0.0 %>
                <% @total_obtenido_proyecto_eje3 += @puntaje_pregunta_proyecto_eje3 %>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje3.size + 1%>"><%= @puntaje_pregunta_diagnostico_eje3 %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje3.size + 1%>"><%= @puntaje_pregunta_proyecto_eje3 %></td>
                <!--<td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje3.size + 1%>"><%= @puntaje_pregunta_diagnostico_eje3 + @puntaje_pregunta_proyecto_eje3 %></td>-->
              </tr>

              <%detalle_preguntas_eje3.each do |eje|%>
                <tr class="d1">
                  <!-- icono de validado -->
                  <%if eje.validado%>
                    <td style="vertical-align: middle;"><%=image_tag 'admin/disponible.png'%></td>
                  <%else%>
                    <%if eje.validado == false%>
                      <td style="vertical-align: middle;"><%=image_tag 'admin/bloqueado.png'%></td>
                    <%else%>
                      <td style="vertical-align: middle;">-</td>
                    <%end%>
                  <%end%>
                  <td><%= eje.descripcion %></td>
                  <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:controller => "upload", :action => "download", :id => eje.id}, :class => 'fancybox fancybox.iframe', :title => "Ver Evidencia" %></td>
                  <%if current_user.has_role?("adminplat") || current_user.has_role?("enlaceevaluador")%>
                    <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:controller => "upload", :action => "validar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard_proyecto => 1, :avance => @avance }, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
                    <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:controller => "upload", :action => "invalidar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard_proyecto => 1, :avance => @avance }, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
                    <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:controller => "upload", :action => "destroy_evidencia", :id => eje.id, :dashboard => 1, :user_id => @user.id, :diagnostico_id => @diagnostico}, :confirm => '¿Esta seguro que desea elimina la evidencia?', :title => "Eliminar Evidencia" %></td>
                  <% else %>
                    <td colspan="3">&nbsp;</td>
                  <% end %>
                </tr>
              <%end%>
              <tr>
                <td colspan="10">&nbsp;</td>
              </tr>
            <%end%>
          <% end %>
              <tr class="d1">
              <td>&nbsp;</td>
              <td align="center"><%= @total_puntos_eje3 - total_eje3 %></td>
              <td>&nbsp;</td>
              <%# obtenidos_sin_evidencias = (@ptos_obtenidos_eje3.to_f > 0) ? (@ptos_obtenidos_eje3 - total_obtenido_eje3) : 0 %>
              <td align="center"><%= @total_obtenido_se_eje3 %></td>
              <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
            </tr>
            <tr>
              <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
              <td align="right" ><b>TOTALES:</b></td>
              <td align="center"><b><%= @total_puntos_eje3 %></b></td>
              <td>&nbsp;</td>
              <%@total_obtenido_se_eje3 ||= 0%>
              <td align="center"><b><%= @total_obtenido_proyecto_eje3 + @total_obtenido_se_eje3 %></b></td>
              <td colspan="6"></td>
            </tr>
        </table>
      </div>
    <% end %>

    <!-- EJE 4 -->
    <% if @proyecto.consumo %>
      <div class="grid-12-12 clear">
        <% total_eje4 = 0.0 %>
        <% total_obtenido_eje4 = 0.0 %>
        <% @total_obtenido_proyecto_eje4 = 0 %>
        <% @puntaje_pregunta_diagnostico_eje4 = 0 %>
        <% @puntaje_pregunta_proyecto_eje4 = 0%>
        <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" >
          <tr class="tdiagnostico">
            <td colspan="10" align="center" ><label>EJE: 4 &nbsp; <b>CONSUMO RESPONSABLE / SALUDABLE</b></label></td>
          </tr>
          <tr class="d0" style=" font-weight: bold; " >
              <td width="5%" style="vertical-align: middle;" align="center">NP</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE DIAGNÓSTICO</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE AVANCE</td>
              <!--<td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>-->
              <td width="3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="32%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
          </tr>
          <% unless @preguntas_eje4.empty?  %>
            <%@preguntas_eje4.sort{|p1,p2| p1.numero_pregunta <=> p2.numero_pregunta}.each do |p|%>
              <tr class="d1" style="font-size: 14px;">
                <% total_eje4 += (eval("$consumo_p#{p.numero_pregunta}").to_f * 100).to_f %>
                <% @total_obtenido_se_eje4 = 0 %>
                <%
                  np=0
                  [4, 5, 6, 8].each do |np|
                    pregunta_puntaje_proyecto_eje4 = ( eval("@p_proyecto.puntaje_eje4_p#{np}('proyecto', #{@avance})").to_f > 0.0 ) ? (( eval("@p_proyecto.puntaje_eje4_p#{np}('proyecto', #{@avance})").to_f - eval("@p_diagnostico.puntaje_eje4_p#{np}").to_f )) : 0
                      #( eval("@p_proyecto.puntaje_eje4_p#{np}('proyecto', #{@avance})").to_f )
                    @total_obtenido_se_eje4 += pregunta_puntaje_proyecto_eje4
                  end
                %>
                <%detalle_preguntas_eje4 = Adjunto.find(:all, :conditions => ["proyecto_id = ? and eje_id = ? and numero_pregunta = ? and avance = ?", p.proyecto_id, @eje4.id, p.numero_pregunta, @avance])%>
                <td align="center" rowspan="<%= detalle_preguntas_eje4.size + 1%>"><%= p.numero_pregunta %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje4.size + 1%>"><%= eval("$consumo_p#{p.numero_pregunta}").to_f * 100 %></td>
                <% @puntaje_pregunta_diagnostico_eje4 = eval("@p_diagnostico.puntaje_eje4_p#{p.numero_pregunta}").to_f%>
                <% @puntaje_pregunta_proyecto_eje4 = (eval("@consumo_p#{p.numero_pregunta}").to_f > 0.0) ? (eval("@consumo_p#{p.numero_pregunta}").to_f - eval("@p_diagnostico.puntaje_eje4_p#{p.numero_pregunta}").to_f) : 0.0 %>
                <% @total_obtenido_proyecto_eje4 += @puntaje_pregunta_proyecto_eje4 %>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje4.size + 1%>"><%= @puntaje_pregunta_diagnostico_eje4 %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje4.size + 1%>"><%= @puntaje_pregunta_proyecto_eje4 %></td>
                <!--<td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje4.size + 1%>"><%= @puntaje_pregunta_diagnostico_eje4 + @puntaje_pregunta_proyecto_eje4 %></td>-->
              </tr>

              <%detalle_preguntas_eje4.each do |eje|%>
                <tr class="d1">
                  <!-- icono de validado -->
                  <%if eje.validado%>
                    <td style="vertical-align: middle;"><%=image_tag 'admin/disponible.png'%></td>
                  <%else%>
                    <%if eje.validado == false%>
                      <td style="vertical-align: middle;"><%=image_tag 'admin/bloqueado.png'%></td>
                    <%else%>
                      <td style="vertical-align: middle;">-</td>
                    <%end%>
                  <%end%>
                  <td><%= eje.descripcion %></td>
                  <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:controller => "upload", :action => "download", :id => eje.id}, :class => 'fancybox fancybox.iframe', :title => "Ver Evidencia" %></td>
                  <%if current_user.has_role?("adminplat") || current_user.has_role?("enlaceevaluador")%>
                    <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:controller => "upload", :action => "validar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard_proyecto => 1, :avance => @avance }, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
                    <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:controller => "upload", :action => "invalidar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard_proyecto => 1, :avance => @avance }, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
                    <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:controller => "upload", :action => "destroy_evidencia", :id => eje.id, :dashboard => 1, :user_id => @user.id, :diagnostico_id => @diagnostico}, :confirm => '¿Esta seguro que desea elimina la evidencia?', :title => "Eliminar Evidencia" %></td>
                  <% else %>
                    <td colspan="3">&nbsp;</td>
                  <% end %>
                </tr>
              <%end%>
              <tr>
                <td colspan="10">&nbsp;</td>
              </tr>
            <%end%>
          <% end %>
              <tr class="d1">
              <td>&nbsp;</td>
              <td align="center"><%= @total_puntos_eje4 - total_eje4 %></td>
              <td></td>
              <%# obtenidos_sin_evidencias = (@ptos_obtenidos_eje4.to_f > 0) ? (@ptos_obtenidos_eje4 - total_obtenido_eje4) : 0 %>
              <td align="center"><%= @total_obtenido_se_eje4 %></td>
              <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
            </tr>
            <tr>
              <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
              <td align="right" ><b>TOTALES:</b></td>
              <td align="center"><b><%= @total_puntos_eje4 %></b></td>
              <td></td>
              <%@total_obtenido_se_eje4 ||= 0%>
              <td align="center"><b><%= @total_obtenido_proyecto_eje4 + @total_obtenido_se_eje4 %></b></td>
              <td colspan="6"></td>
            </tr>
        </table>
      </div>
    <% end %>

    <!-- EJE 5 -->
    <% if @proyecto.participacion %>
      <div class="grid-12-12 clear">
        <% total_eje5 = 0.0 %>
        <% total_obtenido_eje5 = 0.0 %>
        <% @total_obtenido_proyecto_eje5 = 0 %>
        <% @puntaje_pregunta_diagnostico_eje5 = 0 %>
        <% @puntaje_pregunta_proyecto_eje5 = 0%>
        <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" >
          <tr class="tdiagnostico">
            <td colspan="10" align="center" ><label>EJE: 5 &nbsp; <b>PARTICIPACIÓN COMUNITARIA</b></label></td>
          </tr>
          <tr class="d0" style=" font-weight: bold; " >
              <td width="5%" style="vertical-align: middle;" align="center">NP</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE DIAGNÓSTICO</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE AVANCE</td>
              <!--<td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>-->
              <td width="3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="32%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
          </tr>
          <% unless @preguntas_eje5.empty?  %>
            <%@preguntas_eje5.sort{|p1,p2| p1.numero_pregunta <=> p2.numero_pregunta}.each do |p|%>
              <tr class="d1" style="font-size: 14px;">
                <% total_eje5 += (eval("$participacion_p#{p.numero_pregunta}").to_f * 100).to_f %>
                <% total_obtenido_eje5 += eval("@participacion_p#{p.numero_pregunta}").to_f %>
                <%detalle_preguntas_eje5 = Adjunto.find(:all, :conditions => ["proyecto_id = ? and eje_id = ? and numero_pregunta = ? and avance = ?", p.proyecto_id, @eje5.id, p.numero_pregunta, @avance])%>
                <td align="center" rowspan="<%= detalle_preguntas_eje5.size + 1%>"><%= p.numero_pregunta %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje5.size + 1%>"><%= eval("$participacion_p#{p.numero_pregunta}").to_f * 100 %></td>
                <% @puntaje_pregunta_diagnostico_eje5 = eval("@p_diagnostico.puntaje_eje5_p#{p.numero_pregunta}").to_f%>
                <% @puntaje_pregunta_proyecto_eje5 = (eval("@participacion_p#{p.numero_pregunta}").to_f > 0.0) ? (eval("@participacion_p#{p.numero_pregunta}").to_f - eval("@p_diagnostico.puntaje_eje5_p#{p.numero_pregunta}").to_f) : 0.0 %>
                <% @total_obtenido_proyecto_eje5 += @puntaje_pregunta_proyecto_eje5 %>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje5.size + 1%>"><%= @puntaje_pregunta_diagnostico_eje5 %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje5.size + 1%>"><%= @puntaje_pregunta_proyecto_eje5 %></td>
                <!--<td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje5.size + 1%>"><%= @puntaje_pregunta_diagnostico_eje5 + @puntaje_pregunta_proyecto_eje5 %></td>-->
              </tr>

              <%detalle_preguntas_eje5.each do |eje|%>
                <tr class="d1">
                  <!-- icono de validado -->
                  <%if eje.validado%>
                    <td style="vertical-align: middle;"><%=image_tag 'admin/disponible.png'%></td>
                  <%else%>
                    <%if eje.validado == false%>
                      <td style="vertical-align: middle;"><%=image_tag 'admin/bloqueado.png'%></td>
                    <%else%>
                      <td style="vertical-align: middle;">-</td>
                    <%end%>
                  <%end%>
                  <td><%= eje.descripcion %></td>
                  <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:controller => "upload", :action => "download", :id => eje.id}, :class => 'fancybox fancybox.iframe', :title => "Ver Evidencia" %></td>
                  <%if current_user.has_role?("adminplat") || current_user.has_role?("enlaceevaluador")%>
                    <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:controller => "upload", :action => "validar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard_proyecto => 1, :avance => @avance }, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
                    <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:controller => "upload", :action => "invalidar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard_proyecto => 1, :avance => @avance }, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
                    <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:controller => "upload", :action => "destroy_evidencia", :id => eje.id, :dashboard => 1, :user_id => @user.id, :diagnostico_id => @diagnostico}, :confirm => '¿Esta seguro que desea elimina la evidencia?', :title => "Eliminar Evidencia" %></td>
                  <% else %>
                    <td colspan="3">&nbsp;</td>
                  <% end %>
                </tr>
              <%end%>
              <tr>
                <td colspan="10">&nbsp;</td>
              </tr>
            <%end%>
          <% end %>
              <tr class="d1">
              <td>&nbsp;</td>
              <td align="center"><%= @total_puntos_eje5 - total_eje5 %></td>
              <td></td>
              <% obtenidos_sin_evidencias = (@ptos_obtenidos_eje5.to_f > 0) ? (@ptos_obtenidos_eje5 - total_obtenido_eje5) : 0 %>
              <td align="center"><%= obtenidos_sin_evidencias %></td>
              <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
            </tr>
            <tr>
              <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
              <td align="right" ><b>TOTALES:</b></td>
              <td align="center"><b><%= @total_puntos_eje5 %></b></td>
              <td></td>
              <td align="center"><b><%= @total_obtenido_proyecto_eje5 + obtenidos_sin_evidencias %></b></td>
              <td colspan="6"></td>
            </tr>
        </table>
      </div>
    <% end %>

    <div class="grid-12-12 clear"></div>

     <div class="grid-12-12 clear">
       <label><img id="img_hist" src="/images/admin/expand.png" alt="Histórico" onclick="in_visible('historico', 'img_hist');" style="cursor:pointer; vertical-align:middle;">&nbsp;HISTORICO:</img></label>
       <div id="historico" style="display:none;" >
         <% @husuario.each do |hu| %>
         <div class="grid-12-12">
           <label style="font-size:11px; font-style:italic;" >USUARIO: <%= hu.user.login.to_s.upcase %></label>
           <% @historico.each do |h| %>
             <% if h.user_id == hu.user_id %>
             <div class="grid-12-12">
               <li style="font-size:10px; font-style:italic;"><%= h.observaciones %> &nbsp; &nbsp; <%= h.updated_at.strftime(":: %m/%d/%Y %I:%M%p") %></li>
             </div>
             <% end %>
           <% end unless @historico.nil?  %>
         </div>
         <% end unless @husuario.nil?  %>
       </div>
     </div>

      <!-- observaciones -->
     <%form_for(@evaluacion, :url => {:action => "save_dashboard_proyecto", :id => @user.id, :proyecto => @proyecto.id, :avance => @avance }, :html => {:class => "formee" }) do |f| -%>
     <fieldset>
       <legend>OBSERVACIONES&nbsp;Y/O&nbsp;RECOMENDACIONES</legend>
       <div class="grid-12-12">
         <%= f.text_area :observaciones, :placeholder => "Escriba brevemente sus observaciones", :class => "nta"%>
       </div>
     </fieldset>
     <div class="grid-3-12"></div>
     <div class="grid-2-12">
       <%if current_user.has_role?("adminplat") || current_user.has_role?("enlaceevaluador")%>
           <%= link_to image_tag("botones/btn_regresar.png", :mouseover => "botones/btn_regresar1.png") , :controller => "admin", :action => "menu_escuela", :id => @user.id%>
       <% else %>
          <%= link_to image_tag("botones/btn_regresar.png", :mouseover => "botones/btn_regresar1.png") , :controller => "instituciones" %>
       <% end %>
     </div>

     <div class="grid-4-12">
       <input class="right" type="submit" title="CONCLUIR VALIDACIÓN" value="CONCLUIR VALIDACIÓN" style="font-size: 14px;"/>
     </div>
     
     <%end%>
     </fieldset>
  </div>
</div>

<script type="text/javascript">
var observaciones = new LiveValidation( 'evaluacion_observaciones' );
  observaciones.add( Validate.Presence );
  observaciones.add( Validate.Length, { maximum: 750 } );
</script>





