<%=render :partial => "flash_messages"%>

<div class="container">
  <div class="formee">
    <table align="center" class="subprincipal" width="95%" cellspacing="5" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
      <tr class="tdiagnostico">
        <td align="center" ><label style=" font-weight: bold; " >MONITOR DE EVALUACIÓN DE EVIDENCIAS DE DIAGNÓSTICO</label></td>
      </tr>
      <tr class="tdiagnostico">
        <td align="center" ><label>ESCUELA: &nbsp; &nbsp;<b><%= @escuela.nombre %></b>, &nbsp; CLAVE: &nbsp; &nbsp;<b><%= @escuela.clave %></b>  </label></td>
      </tr>
    </table>
    <br />
    <fieldset>
     <!-- EJE 1 -->
     <div class="grid-12-12 clear">
        <% total_eje1 = 0.0 %>
        <% total_obtenido_eje1 = 0.0 %>
        <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" >
            <tr class="tdiagnostico">
              <td colspan="9" align="center" ><label>EJE: 1 &nbsp; <b>DESARROLLO DE COMPETENCIAS</b></label></td>
            </tr>
        <% unless @preguntas_eje1.empty?  %>
            <tr class="d0" style=" font-weight: bold; " >
              <td width=" 7%" style="vertical-align: middle;" align="center">PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>
              <td width=" 3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="30%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
            </tr>
            
            <%@preguntas_eje1.sort{|p1,p2| p1.numero_pregunta <=> p2.numero_pregunta}.each do |p|%>
            <tr class="d1" style="font-size: 14px;">
              <% total_eje1 += eval("$competencia_p#{p.numero_pregunta}").to_f * 100 %>
              <% total_obtenido_eje1 += eval("@competencia_p#{p.numero_pregunta}").to_f %>
              <%detalle_preguntas_eje1 = Adjunto.find(:all, :conditions => ["diagnostico_id = ? AND eje_id = ? AND numero_pregunta = ?", p.diagnostico_id, @eje1.id, p.numero_pregunta])%>
                <td align="center" rowspan="<%= detalle_preguntas_eje1.size + 1%>"><%= p.numero_pregunta %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje1.size + 1%>"><%= eval("$competencia_p#{p.numero_pregunta}").to_f * 100 %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje1.size + 1%>"><%= eval("@competencia_p#{p.numero_pregunta}").to_f %></td>
            </tr>

            <%detalle_preguntas_eje1.each do |eje|%>
            <tr class="d1">
              <!-- icono de validado -->
              <%if eje.validado%>
                  <td style="vertical-align: middle;"><%= image_tag 'admin/disponible.png'%></td>
              <%else%>
                <%if eje.validado == false%>
                  <td style="vertical-align: middle;"><%= image_tag 'admin/bloqueado.png'%></td>
                <%else%>
                  <td style="vertical-align: middle;">-</td>
                <%end%>
              <%end%>
              <td><%= eje.descripcion %></td>
              <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:controller => "upload", :action => "download", :id => eje.id}, :class => 'fancybox fancybox.iframe', :title => "Ver Evidencia" %></td>
              <%if current_user.has_role?("adminplat") || current_user.has_role?("enlaceevaluador")%>
              <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:controller => "upload", :action => "validar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard => 1 }, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
              <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:controller => "upload", :action => "invalidar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard => 1 }, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
              <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:controller => "upload", :action => "destroy_evidencia", :id => eje.id, :dashboard => 1, :user_id => @user.id, :diagnostico_id => @diagnostico}, :confirm => '¿Esta seguro que desea elimina la evidencia?', :title => "Eliminar Evidencia" %></td>
              <% else %>
              <td colspan="3">&nbsp;</td>
              <% end %>
            </tr>
            <%end%>
            <tr>
              <td colspan="9">&nbsp;</td>
            </tr>
           <%end%>

           <tr class="d1">
              <td>&nbsp;</td>
              <td align="center"><%= @total_puntos_eje1 - total_eje1 %></td>
              <td align="center"><%= @ptos_obtenidos_eje1 - total_obtenido_eje1 %></td>
              <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
            </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr>
            <td align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="center"><b><%= @total_puntos_eje1 %></b></td>
            <td align="center"><b><%= @ptos_obtenidos_eje1 %></b></td>
            <td colspan="6"></td>
          </tr>
       <% else %>
          <tr class="d0" style=" font-weight: bold; " >
              <td width=" 7%" style="vertical-align: middle;" align="center">PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>
              <td width=" 3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="30%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
          </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr class="d1">
            <td>&nbsp;</td>
            <td align="center"><%= @total_puntos_eje1 - total_eje1 %></td>
            <td align="center"><%= @puntaje_total_eje1 %></td>
            <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
          </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr>
            <td align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="center"><b><%= @total_puntos_eje1 %></b></td>
            <td align="center"><b><%= @ptos_obtenidos_eje1 %></b></td>
            <td colspan="6"></td>
          </tr>
       <%end%>
        </table>
     </div>

     <!-- EJE 2 -->
     <div class="grid-12-12 clear">
        <% total_eje2 = 0.0 %>
        <% total_obtenido_eje2 = 0.0 %>
        <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" >
            <tr class="tdiagnostico">
              <td colspan="9" align="center" ><label>EJE: 2 &nbsp; <b>ENTORNO SALUDABLE</b></label></td>
            </tr>
          <% unless @preguntas_eje2.empty?  %>
            <tr class="d0" style=" font-weight: bold; " >
              <td width=" 7%" style="vertical-align: middle;" align="center">PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>
              <td width=" 3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="30%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
            </tr>
            
            <%@preguntas_eje2.sort{|p1,p2| p1.numero_pregunta <=> p2.numero_pregunta}.each do |p|%>
            <% total_eje2 += (eval("$entorno_p#{p.numero_pregunta}").to_f * 100).to_f %>
            <% total_obtenido_eje2 += eval("@entorno_p#{p.numero_pregunta}").to_f %>
            <tr class="d1" style="font-size: 14px;">
              <%detalle_preguntas_eje2 = Adjunto.find(:all, :conditions => ["diagnostico_id = ? AND eje_id = ? AND numero_pregunta= ?", p.diagnostico_id, @eje2.id, p.numero_pregunta])%>
                <td align="center" rowspan="<%= detalle_preguntas_eje2.size + 1%>"><%= p.numero_pregunta %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje2.size + 1%>"><%= eval("$entorno_p#{p.numero_pregunta}").to_f * 100 %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje2.size + 1%>"><%= eval("@entorno_p#{p.numero_pregunta}").to_f %></td>
            </tr>

            <%detalle_preguntas_eje2.each do |eje|%>
            <tr class="d1">
              <!-- icono de validado -->
              <%if eje.validado%>
                  <td style="vertical-align: middle;"><%=image_tag 'admin/disponible.png'%></td>
              <%else%>
                <%if eje.validado == false%>
                  <td style="vertical-align: middle;"><%=image_tag 'admin/bloqueado.png'%></td>
                <%else%>
                  <td style="vertical-align: middle;">-</td>
                <%end%>
              <%end%>
              <td><%= eje.descripcion %></td>
              <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:controller => "upload", :action => "download", :id => eje.id}, :class => 'fancybox fancybox.iframe', :title => "Ver Evidencia" %></td>
              <%if current_user.has_role?("adminplat") || current_user.has_role?("enlaceevaluador")%>
              <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:controller => "upload", :action => "validar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard => 1 }, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
              <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:controller => "upload", :action => "invalidar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard => 1 }, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
              <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:controller => "upload", :action => "destroy_evidencia", :id => eje.id, :dashboard => 1, :user_id => @user.id, :diagnostico_id => @diagnostico}, :confirm => '¿Esta seguro que desea elimina la evidencia?', :title => "Eliminar Evidencia" %></td>
              <% else %>
              <td colspan="3">&nbsp;</td>
              <% end %>
            </tr>
            
            <%end%>
            <tr>
              <td colspan="9">&nbsp;</td>
            </tr>
           <%end%>

           <tr class="d1">
              <td>&nbsp;</td>
              <td align="center"><%= @total_puntos_eje2 - total_eje2 %></td>
              <td align="center"><%= @ptos_obtenidos_eje2 - total_obtenido_eje2 %></td>
              <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
            </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr>
            <td align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="center"><b><%= @total_puntos_eje2 %></b></td>
            <td align="center"><b><%= @ptos_obtenidos_eje2 %></b></td>
            <td colspan="6"></td>
          </tr>
        <% else %>
          <tr class="d0" style=" font-weight: bold; " >
              <td width=" 7%" style="vertical-align: middle;" align="center">PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>
              <td width=" 3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="30%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
          </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr class="d1">
            <td>&nbsp;</td>
            <td align="center"><%= @total_puntos_eje2 - total_eje2 %></td>
            <td align="center"><%= @puntaje_total_eje2 %></td>
            <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
          </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr>
            <td align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="center"><b><%= @total_puntos_eje2 %></b></td>
            <td align="center"><b><%= @ptos_obtenidos_eje2 %></b></td>
            <td colspan="6"></td>
          </tr>
        <% end %>
        </table>
     </div>

     <!-- EJE 3 -->
     <div class="grid-12-12 clear">
        <% total_eje3 = 0.0 %>
        <% total_obtenido_eje3 = 0.0 %>
        <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" >
            <tr class="tdiagnostico">
              <td colspan="9" align="center" ><label>EJE: 3 &nbsp; <b>HUELLA ECOLOGICA</b></label></td>
            </tr>
          <% unless @preguntas_eje3.empty?  %>
            <tr class="d0" style=" font-weight: bold; " >
              <td width=" 7%" style="vertical-align: middle;" align="center">PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>
              <td width=" 3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="30%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
            </tr>
            
            <%@preguntas_eje3.sort{|p1,p2| p1.numero_pregunta <=> p2.numero_pregunta}.each do |p|%>
            <% total_eje3 += eval("$huella_p#{p.numero_pregunta}").to_f * 100 %>
            <% total_obtenido_eje3 += eval("@huella_p#{p.numero_pregunta}").to_f %>
            <tr class="d1" style="font-size: 14px;">
              <%detalle_preguntas_eje3 = Adjunto.find(:all, :conditions => ["diagnostico_id = ? AND eje_id = ? AND numero_pregunta= ?", p.diagnostico_id, @eje3.id, p.numero_pregunta])%>
                <td align="center" rowspan="<%= detalle_preguntas_eje3.size + 1%>"><%= p.numero_pregunta %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje3.size + 1%>"><%= eval("$huella_p#{p.numero_pregunta}").to_f * 100 %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje3.size + 1%>"><%= eval("@huella_p#{p.numero_pregunta}").to_f %></td>
            </tr>

            <%detalle_preguntas_eje3.each do |eje|%>
            <tr class="d1">
              <!-- icono de validado -->
              <%if eje.validado%>
                  <td style="vertical-align: middle;"><%=image_tag 'admin/disponible.png'%></td>
              <%else%>
                <%if eje.validado == false%>
                  <td style="vertical-align: middle;"><%=image_tag 'admin/bloqueado.png'%></td>
                <%else%>
                  <td style="vertical-align: middle;">-</td>
                <%end%>
              <%end%>
              <td><%= eje.descripcion %></td>
              <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:controller => "upload", :action => "download", :id => eje.id}, :class => 'fancybox fancybox.iframe', :title => "Ver Evidencia" %></td>
              <%if current_user.has_role?("adminplat") || current_user.has_role?("enlaceevaluador")%>
              <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:controller => "upload", :action => "validar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard => 1 }, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
              <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:controller => "upload", :action => "invalidar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard => 1 }, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
              <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:controller => "upload", :action => "destroy_evidencia", :id => eje.id, :dashboard => 1, :user_id => @user.id, :diagnostico_id => @diagnostico}, :confirm => '¿Esta seguro que desea elimina la evidencia?', :title => "Eliminar Evidencia" %></td>
              <% else %>
              <td colspan="3">&nbsp;</td>
              <% end %>
            </tr>

            <%end%>
            <tr>
              <td colspan="9">&nbsp;</td>
            </tr>
           <%end%>

           <tr class="d1">
              <td>&nbsp;</td>
              <td align="center"><%= @total_puntos_eje3 - total_eje3 %></td>
              <td align="center"><%= @ptos_obtenidos_eje3 - total_obtenido_eje3 %></td>
              <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
            </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr>
            <td align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="center"><b><%= @total_puntos_eje3 %></b></td>
            <td align="center"><b><%= @ptos_obtenidos_eje3 %></b></td>
            <td colspan="6"></td>
          </tr>
          <% else %>
          <tr class="d0" style=" font-weight: bold; " >
              <td width=" 7%" style="vertical-align: middle;" align="center">PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>
              <td width=" 3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="30%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
          </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr class="d1">
            <td>&nbsp;</td>
            <td align="center"><%= @total_puntos_eje3 - total_eje3 %></td>
            <td align="center"><%= @puntaje_total_eje3 %></td>
            <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
          </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr>
            <td align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="center"><b><%= @total_puntos_eje3 %></b></td>
            <td align="center"><b><%= @ptos_obtenidos_eje3 %></b></td>
            <td colspan="6"></td>
          </tr>
        <% end %>
        </table>
     </div>

     <!-- EJE 4 -->
     <div class="grid-12-12 clear">
        <% total_eje4 = 0.0 %>
        <% total_obtenido_eje4 = 0.0 %>
        <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" >
            <tr class="tdiagnostico">
              <td colspan="9" align="center" ><label>EJE: 4 &nbsp; <b>CONSUMO RESPONSABLE</b></label></td>
            </tr>
        <% unless @preguntas_eje4.empty?  %>
            <tr class="d0" style=" font-weight: bold; " >
              <td width=" 7%" style="vertical-align: middle;" align="center">PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>
              <td width=" 3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="30%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
            </tr>
            <%@preguntas_eje4.sort{|p1,p2| p1.numero_pregunta <=> p2.numero_pregunta}.each do |p|%>
            <% total_eje4 += eval("$consumo_p#{p.numero_pregunta}").to_f * 100 %>
            <% total_obtenido_eje4 += eval("@consumo_p#{p.numero_pregunta}").to_f %>
            <tr class="d1" style="font-size: 14px;">
              <%detalle_preguntas_eje4 = Adjunto.find(:all, :conditions => ["diagnostico_id = ? AND eje_id = ? AND numero_pregunta= ?", p.diagnostico_id, @eje4.id, p.numero_pregunta])%>
                <td align="center" rowspan="<%= detalle_preguntas_eje4.size + 1%>"><%= p.numero_pregunta %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje4.size + 1%>"><%= eval("$consumo_p#{p.numero_pregunta}").to_f * 100 %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje4.size + 1%>"><%= eval("@consumo_p#{p.numero_pregunta}").to_f %></td>
            </tr>

            <%detalle_preguntas_eje4.each do |eje|%>
            <tr class="d1">
              <!-- icono de validado -->
              <%if eje.validado%>
                  <td style="vertical-align: middle;"><%=image_tag 'admin/disponible.png'%></td>
              <%else%>
                <%if eje.validado == false%>
                  <td style="vertical-align: middle;"><%=image_tag 'admin/bloqueado.png'%></td>
                <%else%>
                  <td style="vertical-align: middle;">-</td>
                <%end%>
              <%end%>
              <td><%= eje.descripcion %></td>
              <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:controller => "upload", :action => "download", :id => eje.id}, :class => 'fancybox fancybox.iframe', :title => "Ver Evidencia" %></td>
              <%if current_user.has_role?("adminplat") || current_user.has_role?("enlaceevaluador")%>
              <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:controller => "upload", :action => "validar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard => 1 }, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
              <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:controller => "upload", :action => "invalidar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard => 1 }, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
              <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:controller => "upload", :action => "destroy_evidencia", :id => eje.id, :dashboard => 1, :user_id => @user.id, :diagnostico_id => @diagnostico}, :confirm => '¿Esta seguro que desea elimina la evidencia?', :title => "Eliminar Evidencia" %></td>
              <% else %>
              <td colspan="3">&nbsp;</td>
              <% end %>
            </tr>

            <%end%>
            <tr>
              <td colspan="9">&nbsp;</td>
            </tr>
           <%end%>

           <tr class="d1">
              <td>&nbsp;</td>
              <td align="center"><%= @total_puntos_eje4 - total_eje4 %></td>
              <td align="center"><%= @ptos_obtenidos_eje4 - total_obtenido_eje4 %></td>
              <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
            </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr>
            <td align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="center"><b><%= @total_puntos_eje4 %></b></td>
            <td align="center"><b><%= @ptos_obtenidos_eje4 %></b></td>
            <td colspan="6"></td>
          </tr>
          <% else %>
          <tr class="d0" style=" font-weight: bold; " >
              <td width=" 7%" style="vertical-align: middle;" align="center">PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>
              <td width=" 3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="30%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
          </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr class="d1">
            <td>&nbsp;</td>
            <td align="center"><%= @total_puntos_eje4 - total_eje4 %></td>
            <td align="center"><%= @puntaje_total_eje4 %></td>
            <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
          </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr>
            <td align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="center"><b><%= @total_puntos_eje4 %></b></td>
            <td align="center"><b><%= @ptos_obtenidos_eje4 %></b></td>
            <td colspan="6"></td>
          </tr>
        <% end %>
        </table>
     </div>

     <!-- EJE 5 -->
     <div class="grid-12-12 clear">
        <% total_eje5 = 0.0 %>
        <% total_obtenido_eje5 = 0.0 %>
        <table width="98%" border="0" cellspacing="0" cellpadding="0" class="sample" >
            <tr class="tdiagnostico">
              <td colspan="9" align="center" ><label>EJE: 5 &nbsp; <b>PARTICIPACIÓN COMUNITARIA</b></label></td>
            </tr>
        <% unless @preguntas_eje5.empty?  %>
            <tr class="d0" style=" font-weight: bold; " >
              <td width=" 7%" style="vertical-align: middle;" align="center">PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>
              <td width=" 3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="30%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
            </tr>
            
            <%@preguntas_eje5.sort{|p1,p2| p1.numero_pregunta <=> p2.numero_pregunta}.each do |p|%>
            <% total_eje5 += eval("$participacion_p#{p.numero_pregunta}").to_f* 100 %>
            <% total_obtenido_eje5 += eval("@participacion_p#{p.numero_pregunta}").to_f %>
            <tr class="d1" style="font-size: 14px;">
              <%detalle_preguntas_eje5 = Adjunto.find(:all, :conditions => ["diagnostico_id = ? AND eje_id = ? AND numero_pregunta = ?", p.diagnostico_id, @eje5.id, p.numero_pregunta])%>
                <td align="center" rowspan="<%= detalle_preguntas_eje5.size + 1%>"><%= p.numero_pregunta %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje5.size + 1%>"><%= eval("$participacion_p#{p.numero_pregunta}").to_f * 100   %></td>
                <td align="center" style="font-size: 14px;" rowspan="<%=h detalle_preguntas_eje5.size + 1%>"><%= eval("@participacion_p#{p.numero_pregunta}").to_f %></td>
            </tr>

            <%detalle_preguntas_eje5.each do |eje|%>
            <tr class="d1">
              <!-- icono de validado -->
              <%if eje.validado%>
                  <td style="vertical-align: middle;"><%=image_tag 'admin/disponible.png'%></td>
              <%else%>
                <%if eje.validado == false%>
                  <td style="vertical-align: middle;"><%=image_tag 'admin/bloqueado.png'%></td>
                <%else%>
                  <td style="vertical-align: middle;">-</td>
                <%end%>
              <%end%>
              <td><%= eje.descripcion %></td>
              <td><%=link_to image_tag('admin/view.png', :size => "30x30", :mouseover => 'admin/view.png') , {:controller => "upload", :action => "download", :id => eje.id}, :class => 'fancybox fancybox.iframe', :title => "Ver Evidencia" %></td>
              <%if current_user.has_role?("adminplat") || current_user.has_role?("enlaceevaluador")%>
              <td><%=link_to image_tag('admin/valid.png', :size => "30x30", :mouseover => 'admin/valid.png') , {:controller => "upload", :action => "validar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard => 1 }, :html => { :target => "_blank"}, :title => "Evidencia Válida" %></td>
              <td><%=link_to image_tag('admin/invalid.png', :size => "30x30", :mouseover => 'admin/invalid.png') , {:controller => "upload", :action => "invalidar", :id => eje.id, :diagnostico => @diagnostico, :user => @user, :dashboard => 1 }, :html => { :target => "_blank"}, :title => "Evidencia Inválida" %></td>
              <td><%=link_to image_tag('admin/delete.png', :size => "30x30", :mouseover => 'admin/delete.png') , {:controller => "upload", :action => "destroy_evidencia", :id => eje.id, :dashboard => 1, :user_id => @user.id, :diagnostico_id => @diagnostico}, :confirm => '¿Esta seguro que desea elimina la evidencia?', :title => "Eliminar Evidencia" %></td>
              <% else %>
              <td colspan="3">&nbsp;</td>
              <% end %>
            </tr>

            <%end%>
            <tr>
              <td colspan="9">&nbsp;</td>
            </tr>
           <%end%>

           <tr class="d1">
              <td>&nbsp;</td>
              <td align="center"><%= @total_puntos_eje5 - total_eje5 %></td>
              <td align="center"><%= @ptos_obtenidos_eje5 - total_obtenido_eje5 %></td>
              <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
            </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr>
            <td align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="center"><b><%= @total_puntos_eje5 %></b></td>
            <td align="center"><b><%= @ptos_obtenidos_eje5 %></b></td>
            <td colspan="6"></td>
          </tr>
          <% else %>
          <tr class="d0" style=" font-weight: bold; " >
              <td width=" 7%" style="vertical-align: middle;" align="center">PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;"align="center">PUNTAJE PREGUNTA</td>
              <td width="10%" style="vertical-align: middle;" align="center">PUNTAJE OBTENIDO</td>
              <td width=" 3%" style="vertical-align: middle;" align="center">&nbsp;</td>
              <td width="30%" style="vertical-align: middle;" align="center">DESCRIPCIÓN EVIDENCIA</td>
              <td width="20%" style="vertical-align: middle;" align="center" colspan="4">ACCIONES</td>
          </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr class="d1">
            <td>&nbsp;</td>
            <td align="center"><%= @total_puntos_eje5 - total_eje5 %></td>
            <td align="center"><%= @puntaje_total_eje5 %></td>
            <td colspan="6">PUNTOS POR PREGUNTAS SIN EVIDENCIAS</td>
          </tr>
          <tr>
            <td colspan="9">&nbsp;</td>
          </tr>
          <tr>
            <td align="right" ><b>TOTALES: &nbsp; </b></td>
            <td align="center"><b><%= @total_puntos_eje5 %></b></td>
            <td align="center"><b><%= @ptos_obtenidos_eje5 %></b></td>
            <td colspan="6"></td>
          </tr>
        <% end %>
        </table>
     </div>

     <div class="grid-12-12 clear"></div>

     <div class="grid-12-12 clear">
       <label><img id="img_hist" src="/images/admin/expand.png" alt="Histórico" onclick="in_visible('historico', 'img_hist');" style="cursor:pointer; vertical-align:middle;">&nbsp;HISTORICO:</img></label>
       <div id="historico" style="display:none;" >
         <% @husuario.each do |hu| %>
         <div class="grid-12-12">
           <label style="font-size:11px; font-style:italic;" >USUARIO: <%= hu.user.login.to_s.upcase %></label>
           <% @historico.each do |h| %>
             <% if h.user_id == hu.user_id %>
             <div class="grid-12-12">
               <li style="font-size:10px; font-style:italic;"><%= h.observaciones %> &nbsp; &nbsp; <%= h.updated_at.strftime(":: %m/%d/%Y %I:%M%p") %></li>
             </div>
             <% end %>
           <% end unless @historico.nil?  %>
         </div>
         <% end unless @husuario.nil?  %>
       </div>
     </div>
      
      <!-- observaciones -->
     <%form_for(@evaluacion, :url => {:action => "save_dashboard", :id => @user.id, :diagnostico => @diagnostico.id}, :html => {:class => "formee" }) do |f| -%>
     <fieldset>
       <legend>OBSERVACIONES&nbsp;Y/O&nbsp;RECOMENDACIONES</legend>
       <div class="grid-12-12">
         <%= f.text_area :observaciones, :placeholder => "Escriba brevemente sus observaciones", :class => "nta" %>
       </div>
     </fieldset>
     <div class="grid-3-12"></div>
     <div class="grid-2-12">
       <% if current_user.has_role?("revisor") %>
        <%= link_to image_tag("botones/btn_regresar.png", :mouseover => "botones/btn_regresar1.png") , :controller => "instituciones" %>
       <% else %>
        <%= link_to image_tag("botones/btn_regresar.png", :mouseover => "botones/btn_regresar1.png") , :controller => "admin", :action => "menu_escuela", :id => @user.id%>
       <% end %>
     </div>
     <div class="grid-4-12">
       <input class="right" type="submit" title="CONCLUIR VALIDACIÓN" value="CONCLUIR VALIDACIÓN" />
     </div>
     <%end%>
     </fieldset>
  </div>
</div>


<script type="text/javascript">
var observaciones = new LiveValidation( 'evaluacion_observaciones' );
  observaciones.add( Validate.Presence );
  observaciones.add( Validate.Length, { maximum: 500 } );
</script>





