<!-- Menú de administrador -->
<div class="titulos">
  <p>
    Administración
  </p>
</div>

<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr align="center">

       <!-- Búsqueda de Escuela -->
       <td><%=link_to image_tag('admin/escuela.png', :size => "128x128", :mouseover => 'admin/escuela2.png') , {:action => "show_users", :controller => "admin"}, :title => "Mostrar escuelas"%></td
     
       <!-- Perfiles -->
       <%if current_user.has_role?("admin")%>
          <td><%=link_to image_tag('admin/usuarios.png', :size => "128x128", :size => "128x128", :mouseover => 'admin/usuarios2.png') , {:action => "show_roles", :controller => "admin"}, :title => "Mostrar roles y usuarios"%></td
       <%end%>
       <!-- Perfiles -->
       <td><%=link_to image_tag('admin/comentarios.png', :size => "128x128", :size => "128x128", :mouseover => 'admin/comentarios2.png') , {:action => "show_comentarios", :controller => "admin"}, :title => "Mostrar comentarios"%></td

       <!-- Indicadores -->
       <td><%=link_to image_tag('admin/indicadores.png', :size => "128x128", :mouseover => 'admin/indicadores2.png') , {:action => "indicadores", :controller => "admin"}, :title => "Mostrar indicadores"%></td

        <!-- Listado -->
       <td><%=link_to image_tag('admin/listado.png', :size => "128x128", :mouseover => 'admin/listado2.png') , {:action => "total_escuelas_registradas", :controller => "admin"}, :title => "Descargar listado de escuelas registradas"%></td


    </tr>

  <!-- TITULOS -->
  <tr align="center">
    <td class="menu">Escuelas</td>
    <%if current_user.has_role?("admin")%>
      <td class="menu">Perfiles</td>
    <%end%>
    <td class="menu">Comentarios</td>
    <td class="menu">Indicadores</td>
    <td class="menu">Listado General de Escuelas</td>
  </tr>
</table>
<br/>

<!--
<div class="titulocalendario">
  <= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />
</div>
-->
