<div class="titulos">
  <p>Listado de Revisores Internos y Externos</p>
</div>

<!-- contenido -->

  <table width="95%" class="sample" border="0" cellspacing="0" cellpadding="0" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
    <tr align="center" style="color:white;background-color:#70aedd;font-size:16px;font-weight:bold;">
      <td style="vertical-align: middle;">Login</td>
      <td style="vertical-align: middle;">Nombre</td>
      <td style="vertical-align: middle;">Tipo</td>
      <td colspan="3" style="vertical-align: middle;">Acciones</td>
    </tr>
    <% clase=0 %>
    <%@usuarios.each do |u|%>
    <tr class="d<%=invert_class(clase)%>" align="center" style="font-size:13px;" >
      <td style="vertical-align: middle;">
        <%= case u.is_blocked?
          when true
            h(image_tag("admin/bloqueado.png", :border =>0))
          when false
            h(image_tag("admin/disponible.png", :border =>0))
          else
            h(image_tag("admin/disponible.png", :border =>0))
        end %>
      </td>
     <td style="vertical-align: middle;"><%=h u.login%></td>
     <td style="vertical-align: middle;"><%=h u.nombre%></td>
     <td><%=h u.roles.map{|x|x.descripcion}%></td>
      <% if u.is_blocked? %>
     <td style="vertical-align: middle;"><%=button_to "Desbloquear", { :action => "block_user", :id => u.login, :show_roles => "show_roles" }, :confirm => "¿Esta seguro que desea bloquearlo?", :method => :delete, :style => "cursor:pointer" %></td>
      <% else %>
     <td style="vertical-align: middle;"><%=button_to "Bloquear", { :action => "block_user", :id => u.login, :show_roles => "show_roles" }, :confirm => "¿Esta seguro que desea bloquearlo?", :method => :delete, :style => "cursor:pointer" %></td>
      <% end %>
     <td style="vertical-align: middle;"><%= link_to image_tag("/users/edit_user.png", :mouseover => "/users/edit_user1.png", :size => "35x35", :title => "Editar usuario" ) , :controller => "admin", :action => "new_from_admin", :id => u.id %></td>
     <td style="vertical-align: middle;"><%= link_to image_tag("/users/delete_user.png", :mouseover => "/users/delete_user1.png", :size => "35x35", :title => "Eliminar usuario") , :controller => "admin", :action => "del_user", :id => u.id %></td>
    </tr>
    <% clase = invert_class(clase) %>
    <%end%>

    <% if @usuarios.total_entries > @usuarios.per_page.to_i %>
    <tr class="d<%=invert_class(clase)%>" align="center" >
      <td colspan="11" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @usuarios %>
          </div>
          <%= will_paginate @usuarios %>
        </div>
      </td>
    </tr>
    <% end %>
  </table>

<br />

<div style="text-align: center">
    <label>
      <%= link_to image_tag("/users/add_user.png", :mouseover => "/users/add_user1.png", :size => "50x50", :title => "Agregar usuario") , :controller => "admin", :action => "new_from_admin"%><br/>
      Agregar Usuario
    </label>
</div>

<br />


<div class="titulos">
<%= link_to image_tag("botones/btn_regresar.png", :mouseover => "botones/btn_regresar1.png") , :controller => "admin", :action => "index"%><br />
</div>
