<div class="formee">
  <div class="grid-12-12 clear"></div>
  <div class="grid-4-12"></div>
  <div class="grid-3-12"><div class="titulos">Comentarios</div></div>

  <div class="grid-1-12">
    <%= link_to_remote (image_tag("admin/actualizar.png", :mouseover => "admin/actualizar1.png", :title => "Actualizar")),
                        :url => {:action => "show_comentarios", :actualizar => "SI"},
                        :update => "divlista",
                        :loading => "Element.show('indicador');Element.hide('divlista')",
                        :complete =>"Element.hide('indicador');Element.show('divlista')"%>
  </div>  
  <div class="grid-5-12"></div>
  <div class="grid-2-12">
    <span id="indicador" style="display:none;"><img src="/images/admin/spinner.gif" /></span>
  </div>
</div>
<!-- contenido -->
<div id="divlista">
  <table width="95%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" align="center">
    <tr style="background-color:#2E6AB1; color:white;">
      <th style="vertical-align: middle;">&nbsp;</th>
      <th style="vertical-align: middle;">Clave/Usuario</th>
      <th style="vertical-align: middle;">Asunto</th>
      <th style="vertical-align: middle;">Fecha/Hora</th>
      <th style="vertical-align: middle;" colspan="2">Acciones</th>
    </tr>
<%clase=0%>
<%@comentarios.each do |comentario|%>
    <tr class="d<%=invert_class(clase)%>">
      <td style="vertical-align: middle;">&nbsp;</td>
      <td style="vertical-align: middle;"><%=h (comentario.user) ? (comentario.user.login.upcase): "--"%></td>
      <td style="vertical-align: middle;"><%=h (comentario.asunto)? comentario.asunto : "----"%></td>
      <td style="vertical-align: middle;"><%=h (comentario.created_at)? comentario.created_at.strftime('%d de %B de %Y - %H:%M') : "----"%></td>
      <td style="vertical-align: middle;"><%=link_to "Resumen", {:action => 'show_comentario_detalle', :controller => 'admin', :id => comentario},  :title => "Detalle del comentario", :class => "fancybox fancybox.iframe"%></td>
      <td style="vertical-align: middle;"><%=button_to "Eliminar", {:action => "destroy_comentario", :id => comentario}, :confirm => "¿Esta seguro que desea eliminar el comentario?", :method => :delete, :class => 'boton'%></td>
  <%clase = invert_class(clase)%>
    </tr>
<%end%>
  </table>
</div>
<br />
<div class="titulos">
  <%= link_to image_tag("botones/btn_regresar.png", :mouseover => "botones/btn_regresar1.png") , :controller => "admin", :action => "index"%><br />
</div>


