<div class="formee">
  <div class="grid-12-12 clear"></div>
  <div class="grid-12-12">
     <div class="titulos"><%=h current_user.nombre%></div>
  </div>
</div>

<% unless flash[:error].nil? %>
<div class="formee-msg-error">
  <h3>Error:</h3>
  <ul>
    <li><%= flash[:error] %></li>
  </ul>
</div>
<% end %>

<% unless @no_evaluadas.empty? %>
<p class="titulos">Escuelas sin evaluar</p>
<table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" align="center">
  <tr style="background-color:#2E6AB1;color:white;font-size:14px; font-weight:bold;">
    <th style="vertical-align: middle;">NP</th>
    <th style="vertical-align: middle;">Clave</th>
    <th style="vertical-align: middle;">Nombre de Escuela</th>
    <th style="vertical-align: middle;" colspan="6">Acciones</th>
  </tr>
  <%clase=0%>
  <%contador=1%>
  <%@no_evaluadas.each do |escuela|%>
    <%user = User.find(:first, :conditions => ["escuela_id = ?", escuela.id])%>
  <tr class="d<%=invert_class(clase)%>">
    <td style="vertical-align: middle;"><%=h contador%><%contador+=1%></td>
    <td style="vertical-align: middle;"><%=h(escuela.clave.upcase)%></td>
    <td style="vertical-align: middle;"><%=h(escuela.nombre.upcase)%></td>
     <!-- Acciones -->
    <%if user%>
      <% @diagnostico = (escuela)? Diagnostico.find(:first, :conditions => ["escuela_id = ?", escuela.id]) : nil%>
      <% @proyecto = (@diagnostico) ? Proyecto.find(:first, :conditions => ["diagnostico_id = ?", @diagnostico.id]) : nil%>
    <td>
      <!-- validar diagnostico -->
      <% form_for :escuela, escuela, :url => { :action => "dashboard", :controller => "admin", :id => user.id, :diagnostico=> @diagnostico.id }, :html => { :target => "_blank"} do -%>
      <div class="grid-center" style="font-size: 8px;">
        <p id="pdf_link"><input type="submit" title="Validar Diagn贸stico" value="Validar Diagn贸stico" style="cursor:pointer;" /></p>
      </div>
      <%end%>
    </td>

      <%if @proyecto%>
    <td>
      <!-- validar proyecto -->
        <% form_for :escuela, escuela, :url => { :action => "dashboard_proyecto", :controller => "admin", :id => user.id, :diagnostico=> @diagnostico.id, :proyecto => @proyecto.id }, :html => { :target => "_blank"} do -%>
      <div class="grid-center" style="font-size: 8px;">
        <p id="pdf_link"><input type="submit" title="Validar Proyecto" value="Validar Proyecto" style="cursor:pointer;" /></p>
      </div>
        <%end%>
    </td>
      <%else%>
    <td>&nbsp;</td>
      <%end%>
    <td>
      <!-- validar proyecto -->
      <% form_for :escuela, escuela, :url => { :action => "new", :controller => "mensajes", :id => user.id, :recibe_id => user.id }, :html => { :target => "_blank"} do -%>
      <div class="grid-center" style="font-size: 8px;">
        <p id="pdf_link"><input type="submit" title="Mensaje directo" value="Mensaje directo" style="cursor:pointer;" /></p>
      </div>
      <%end%>
    </td>
    <%else%>
      <td style="vertical-align: middle;" colspan="4">&nbsp;</td>
    <%end%>
  <%clase = invert_class(clase)%>
  </tr>
  <%end%>

  <% if @no_evaluadas.total_entries > @no_evaluadas.per_page.to_i %>
  <tr class="d<%=invert_class(clase)%>" align="center" >
    <td colspan="7" style="padding: 0;">
      <div class="digg_pagination">
        <div class="page_info">
          <%= page_entries_info @no_evaluadas %>
        </div>
        <%= will_paginate @no_evaluadas, :params => { :find => 1, :buscar => params[:buscar], :clave_nombre => params[:clave_nombre], :estatus_escuela => params[:estatus_escuela], :action => 'index' } %>
      </div>
    </td>
  </tr>
  <% end %>
</table>
<% end %>


<% unless @evaluadas.empty? %>
<br />
<p class="titulos">Escuelas evaluadas</p>
<table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" align="center">
  <tr style="background-color:#2E6AB1;color:white;font-size:14px; font-weight:bold;">
    <th style="vertical-align: middle;">NP</th>
    <th style="vertical-align: middle;">Clave</th>
    <th style="vertical-align: middle;">Nombre de Escuela</th>
    <th style="vertical-align: middle;" colspan="6">Acciones</th>
  </tr>
  <%clase=0%>
  <%contador=1%>
  <%@evaluadas.each do |escuela|%>
    <%user = User.find(:first, :conditions => ["escuela_id = ?", escuela.id])%>
  <tr class="d<%=invert_class(clase)%>">
    <td style="vertical-align: middle;"><%=h contador%><%contador+=1%></td>
    <td style="vertical-align: middle;"><%=h(escuela.clave.upcase)%></td>
    <td style="vertical-align: middle;"><%=h(escuela.nombre.upcase)%></td>
    <!-- Acciones -->
    <%if user%>
      <% @diagnostico = (escuela)? Diagnostico.find(:first, :conditions => ["escuela_id = ?", escuela.id]) : nil%>
      <% @proyecto = (@diagnostico) ? Proyecto.find(:first, :conditions => ["diagnostico_id = ?", @diagnostico.id]) : nil%>
    <td>
    <!-- validar diagnostico -->
      <% form_for :escuela, escuela, :url => { :action => "dashboard", :controller => "admin", :id => user.id, :diagnostico=> @diagnostico.id }, :html => { :target => "_blank"} do -%>
      <div class="grid-center" style="font-size: 8px;">
        <p id="pdf_link"><input type="submit" title="Validar Diagn贸stico" value="Validar Diagn贸stico" style="cursor:pointer;" /></p>
      </div>
      <%end%>
    </td>

      <%if @proyecto%>
    <td>
      <!-- validar proyecto -->
        <% form_for :escuela, escuela, :url => { :action => "dashboard_proyecto", :controller => "admin", :id => user.id, :diagnostico=> @diagnostico.id, :proyecto => @proyecto.id }, :html => { :target => "_blank"} do -%>
      <div class="grid-center" style="font-size: 8px;">
        <p id="pdf_link"><input type="submit" title="Validar Proyecto" value="Validar Proyecto" style="cursor:pointer;" /></p>
      </div>
        <%end%>
    </td>
      <%else%>
    <td>&nbsp;</td>
      <%end%>
    <td>
      <!-- validar proyecto -->
      <% form_for :escuela, escuela, :url => { :action => "new", :controller => "mensajes", :id => user.id, :recibe_id => user.id }, :html => { :target => "_blank"} do -%>
      <div class="grid-center" style="font-size: 8px;">
        <p id="pdf_link"><input type="submit" title="Mensaje directo" value="Mensaje directo" style="cursor:pointer;" /></p>
      </div>
      <%end%>
    </td>
    <%else%>
      <td style="vertical-align: middle;" colspan="4">&nbsp;</td>
    <%end%>
  <%clase = invert_class(clase)%>
  </tr>
  <%end%>

  <% if @evaluadas.total_entries > @evaluadas.per_page.to_i %>
  <tr class="d<%=invert_class(clase)%>" align="center" >
    <td colspan="7" style="padding: 0;">
      <div class="digg_pagination">
        <div class="page_info">
          <%= page_entries_info @evaluadas %>
        </div>
        <%= will_paginate @evaluadas, :params => { :find => 1, :buscar => params[:buscar], :clave_nombre => params[:clave_nombre], :estatus_escuela => params[:estatus_escuela], :action => 'index' } %>
      </div>
    </td>
  </tr>
  <% end %>
</table>
<% end %>