<table width="80%" border="0" align="center" cellpadding="2" cellspacing="1">
  
  <!-- Verificamos si ya fue evaluado -->
 <%if @diagnostico%>
  <%if Evaluacion.count(:id, :conditions => ["diagnostico_id = ?", @diagnostico.id]) < 1 %>
    <tr>
      <td>
        <div class="formee-msg-warning">
          <h3>Importante:</h3>
                <ul><li>&nbsp;</li></ul>
                <ul>
                  <li>El diagnóstico aún no ha sido evaluado, por lo que los puntajes pueden no ser exactos al carecer de algunas validaciones de evidencias.</li>
                </ul>
                <ul><li>&nbsp;</li></ul>
        </div>
      </td>
    </tr>
    <%end%>
  <%end%>


  <tr>
    <td><%= render :partial => "resumen_ptos" %></td>
  </tr>


  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><img alt="mostrar/ocultar" src="/images/acordeon/arrow_up.png" style="cursor: pointer;" onclick="showEje(this, 'eje1');" >&nbsp; EJE1.- DESARROLLO DE COMPETENCIAS </img></td>
  </tr>
  <tr id="eje1" style="display: none;" >
    <td><%= render :partial => "competencias_rpte" %></td>
  </tr>
  <tr>
    <td><img alt="mostrar/ocultar" src="/images/acordeon/arrow_up.png" style="cursor: pointer;" onclick="showEje(this, 'eje2');" >&nbsp; EJE2.- ENTORNO SALUDABLE </img></td>
  </tr>
  <tr id="eje2" style="display: none;" >
    <td><%= render :partial => "entornos_rpte" %></td>
  </tr>
  <tr>
    <td><img alt="mostrar/ocultar" src="/images/acordeon/arrow_up.png" style="cursor: pointer;" onclick="showEje(this, 'eje3');" >&nbsp; EJE3.- HUELLA ECOLÓGICA </img></td>
  </tr>
  <tr id="eje3" style="display: none;" >
    <td><%= render :partial => "huellas_rpte" %></td>
  </tr>
  <tr>
    <td><img alt="mostrar/ocultar" src="/images/acordeon/arrow_up.png" style="cursor: pointer;" onclick="showEje(this, 'eje4');" >&nbsp; EJE4.- CONSUMO RESPONSABLE / SALUDABLE </img></td>
  </tr>
  <tr id="eje4" style="display: none;" >
    <td><%= render :partial => "consumos_rpte" %></td>
  </tr>
  <tr>
    <td><img alt="mostrar/ocultar" src="/images/acordeon/arrow_up.png" style="cursor: pointer;" onclick="showEje(this, 'eje5');" >&nbsp; EJE5.- PARTICIPACIÓN COMUNITARIA </img></td>
  </tr>
  <tr id="eje5" style="display: none;" >
    <td><%= render :partial => "participacions_rpte" %></td>
  </tr>
</table>