<h4 style="text-align: center;" >REPORTE GENERAL DEL DIAGNOSTICO INSTITUCIONAL</h4>
<!-- EJE 1: DESARROLLO DE COMPETENCIAS -->
<% form_for :competencia, :html => {:class => "formee", :name => "competencia"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;">
    <td align="center"><h4>EJE 1: DESARROLLO DE COMPETENCIAS</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr align="center" >
          <td><label class="uper" style="font-weight:bold;" >Pregunta</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Máximo Puntaje</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Puntaje Obtenido</label></td>
        </tr>
        <!-- Pregunta1 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">1.- ¿Cuántos docentes se han capacitado en materia de salud y/o medio ambiente en el último ciclo escolar?<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :docentes_capacitados_sma, :style => "text-align: center;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $competencia_p1.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @cp1 %></label></td>
        </tr>
        <!-- Pregunta2 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">2.- De los docentes capacitados, ¿cuántos aplican con sus alumnos los conocimientos adquiridos en materia de salud y medio ambiente en otras acciones pedagógicas o extracurriculares?<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :docentes_aplican_conocimientos, :style => "text-align: center;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $competencia_p2.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @cp2 %></label></td>
        </tr>
        <!-- Pregunta3 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">3.- Del total de docentes, ¿cuántos se involucran en actividades extracurriculares en materia de salud y medio ambiente que promueve la escuela?<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :docentes_involucran_actividades, :style => "text-align: center;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $competencia_p3.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @cp3 %></label></td>
        </tr>
        <!-- Pregunta4 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">4.- Del total de alumnos, ¿cuántos recibieron capacitación relacionada con temas salud y medio ambiente por parte de los docentes en el último ciclo escolar?<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :alumnos_capacitados_docentes, :style => "text-align: center;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $competencia_p4.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @cp4 %></label></td>
        </tr>
        <!-- Pregunta5 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">5.- Del total de alumnos, ¿cuántos recibieron capacitación relacionada con temas de salud y medio ambiente por parte de otras <b>instituciones y/o dependencias</b> en el último ciclo escolar?<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :alumnos_capacitados_instituciones, :style => "text-align: center;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $competencia_p5.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @cp5 %></label></td>
        </tr>
        <!-- Barra de Porcentaje -->
        <tr align="center" >
          <td><label class="uper" style="font-weight:bold;" >Porcentaje</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Total Máximo</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Total Obtenido</label></td>
        </tr>
        <tr>
          <td style="text-align:center;" >
            <div class="bar_mortice rounded_tiny mortice_tiny green_mortice">
              <div id="bar_competencias" class="progress rounded_tiny progress_tiny green" style="width: <%= @c_porcentaje.to_i %>%;" ></div>
            </div>
            <label style="font-weight:bold;" ><%= @c_porcentaje %> %</label>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;" ><label style="font-weight:bold;" ><%= @c_maxptos %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;" ><label style="font-weight:bold;" ><%= @c_totalptos %></label></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
  </tr>
</table>
<% end %>
<img src="/images/era/space.png" alt="" width="10" height="50px" />
<!-- EJE 2: ENTORNO SALUDABLE -->
<% form_for :entorno, @entorno, :html => {:class => "formee", :name => "entorno"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;" >
    <td align="center"><h4>EJE 2: ENTORNO SALUDABLE</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr align="center" >
          <td><label class="uper" style="font-weight:bold;" >Pregunta</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Máximo Puntaje</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Puntaje Obtenido</label></td>
        </tr>
        <!-- Pregunta1 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">1.- ¿Cuál es la superficie total del terreno de la escuela en metros cuadrados?<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :superficie_terreno_escuela, :style => "text-align: center;", :class => "rpt" %></div>
            <div class="grid-1-12"><label class="uper" style="padding: 10px 0;">M<sup>2</sup></label></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
        </tr>
        <!-- Pregunta2 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">2.- ¿Qué superficie (mts. cuadrados) de la escuela se destina para áreas verdes? (Se considera áreas verdes al "espacio cubierto por vegetación. Un bosque, un parque y el jardín de una escuela son ejemplos de áreas verdes. Estos espacios brindan beneficios tanto al ambiente en el que se encuentran como a las personas localizadas cerca de ellos"). <em class="formee-req"> *</em></label>
            <label class="uper">Rangos: 0 en adelante.</label><br />
            <label class="uper">Posibles áreas verdes:</label><br />
            <label class="formee-msg-info" style="text-transform:uppercase;font-size:1.1em;" >
              Este valor debe de ser menor o igual a la superficie total del terreno.
            </label><br />
            <ul class="formee-lbl-vinetas" style="text-transform:uppercase;">
              <li>Jardín de ornato</li>
              <li>Jardín de césped</li>
              <li>Jardín herbal</li>
              <li>Jardín de macetas</li>
              <li>Jardin de suelo elevado</li>
              <li>Parcelas</li>
              <li>Huerto escolar</li>
            </ul>
            <div class="grid-2-12"><%= f.text_field :superficie_terreno_escuela_av, :style => "text-align: center;", :class => "rpt" %></div>
            <div class="grid-1-12"><label class="uper" style="padding: 10px 0;">M<sup>2</sup></label></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $entorno_p2.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @ep2 %></label></td>
        </tr>
        <!-- Pregunta3 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">3.- ¿La escuela cuenta con espacios destinados para jardines verticales (paredes verdes)?<em class="formee-req"> *</em></label>
            <div class="grid-4-12">
              <span id="r_jardines_verticales" class="InputGroup">
                <label class="uper">SI <%= f.radio_button :jardines_verticales, "SI" %></label>&nbsp;&nbsp;
                <label class="uper">NO <%= f.radio_button :jardines_verticales, "NO" %></label>
              </span>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
        </tr>
        <!-- Pregunta4 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">4.- ¿La escuela cuenta con espacios destinados para jardines y/o cultivo hidropónicos?<em class="formee-req"> *</em></label>
            <div class="grid-4-12">
              <span id="r_jardines_hidroponicos" class="InputGroup">
                <label class="uper">SI <%= f.radio_button :jardines_hidroponicos, "SI" %></label>&nbsp;&nbsp;
                <label class="uper">NO <%= f.radio_button :jardines_hidroponicos, "NO" %></label>
              </span>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
        </tr>
        <!-- Pregunta5 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">5.- ¿Cuántos árboles adultos se encuentran dentro del terreno de la escuela?<em class="formee-req"> *</em></label>
            <label class="formee-msg-info" style="text-transform:uppercase;font-size:1.1em;" >
              Para que un árbol sea considerado adulto, debe contar con una altura no menor a 4 metros y erguirse de un solo tronco. <br />
              Si la escuela cuenta con áreas extensas arboladas agregue un número apróximado.
            </label>
            <div class="grid-2-12"><%= f.text_field :arboles_terreno_escuela, :style => "text-align: center;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
        </tr>
        <!-- Pregunta6 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">6.- ¿Cuáles de las siguientes acciones del Manual de Salud realiza la institución educativa?<em class="formee-req"> *</em></label>
            <label class="formee-msg-info" style="text-transform:uppercase;font-size:1.1em;" >
              Consultar manual de salud: Manual para el maestro del programa Escuela y Salud. Enfoque actual del programa: Determinantes de la salud, página 42 - 45. Puede consultarlo dando clic <a class="notchange" href="/Manual_de_Salud.pdf" target="_blank"><b>aquí</b></a>
            </label>
            <fieldset style="padding: 5px 5px 5px 5px;">
              <legend style="text-transform:uppercase;font-size:1.1em;">&nbsp;Acciones:&nbsp;</legend>
              <div id="acciones" class="grid-12-12">
                <% i= 1 %>
                <% @acciones.each do |c| %>
                  <%= check_box_tag "acciones[#{i}]", c.clave, @s_acciones.include?(c.id) ? true : false %>&nbsp;<%= c.descripcion %><br />
                  <% i+=1 %>
                <% end %>
              </div>
            </fieldset>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $entorno_p6.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @ep6 %></label></td>
        </tr>
        <!-- Barra de Porcentaje -->
        <tr align="center" >
          <td><label class="uper" style="font-weight:bold;" >Porcentaje</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Total Máximo</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Total Obtenido</label></td>
        </tr>
        <tr>
          <td style="text-align:center;" >
            <div class="bar_mortice rounded_tiny mortice_tiny green_mortice">
              <div id="bar_entornos" class="progress rounded_tiny progress_tiny green" style="width: <%= @e_porcentaje.to_i %>%;" ></div>
            </div>
            <label style="font-weight:bold;" ><%= @e_porcentaje %> %</label>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;" ><label style="font-weight:bold;" ><%= @e_maxptos %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;" ><label style="font-weight:bold;" ><%= @e_totalptos %></label></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
  </tr>
</table>
<% end %>
<img src="/images/era/space.png" alt="" width="10" height="50px" />
<!-- EJE 3: HUELLA ECOLÓGICA -->
<% form_for :huella, @huella, :html => {:class => "formee", :name => "huella"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;" >
    <td align="center"><h4>EJE 3: HUELLA ECOLÓGICA</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr align="center" >
          <td><label class="uper" style="font-weight:bold;" >Pregunta</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Máximo Puntaje</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Puntaje Obtenido</label></td>
        </tr>
        <!-- Pregunta1 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">1.- En el último ciclo escolar, ¿cuántas capacitaciones enfocadas al uso adecuado y al ahorro de energía eléctrica ha recibido la comunidad estudiantil?.<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :capacitacion_ahorro_energia, :style => "text-align: center;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $huella_p1.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @hp1 %></label></td>
        </tr>
        <!-- Pregunta2 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">2.- Tomando en cuenta el último bimestre de consumo con relación al mismo bimestre del año anterior ¿Cuál es la variación en el consumo eléctrico de la institución escolar?.<em class="formee-req"> *</em></label>
            <div class="grid-6-12">
              <div class="grid-12-12"><label class="uper">Consumo&nbsp;anterior:</label></div>
              <div class="grid-3-12"><%= f.text_field :consumo_anterior, :style => "text-align: right;", :class => "rpt" %></div>
              <div class="grid-9-12"><label class="uper" style="padding: 10px 0;" >kWh</label></div>
            </div>
            <div class="grid-6-12">
              <div class="grid-12-12"><label class="uper">Consumo&nbsp;actual:</label></div>
              <div class="grid-3-12"><%= f.text_field :consumo_actual, :style => "text-align: right;", :class => "rpt" %></div>
              <div class="grid-9-12"><label class="uper" style="padding: 10px 0;" >kWh</label></div>
            </div>
            <div class="grid-12-12">
              <label class="uper">Otro:</label>
              <%energias = EnergiaElectrica.all.sort{|p1,p2|p1.descripcion  <=> p2.descripcion } %>
              <%= f.select :energia_electrica_id, energias.collect {|p| [ p.descripcion, p.clave ]}, {:selected => @s_electricas}, :class => "rpt" %>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $huella_p2.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @hp2 %></label></td>
        </tr>
        <!-- Pregunta3 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">3.- De los focos existentes en la institución escolar ¿Cuántos son ahorradores?.<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><label class="uper" style="padding: 10px 0;">Total focos:</label></div>
            <div class="grid-2-12"><%= f.text_field :total_focos, :style => "text-align: center;", :class => "rpt" %></div>
            <div class="grid-1-12">&nbsp;</div>
            <div class="grid-4-12"><label class="uper" style="padding: 10px 0;">Focos ahorradores: </label></div>
            <div class="grid-2-12"><%= f.text_field :focos_ahorradores, :style => "text-align: center;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $huella_p3.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @hp3 %></label></td>
        </tr>
        <!-- Pregunta4 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">4.- ¿La escuela se encuentra conectada a la red pública de agua?.<em class="formee-req"> *</em></label>
            <div class="grid-4-12">
              <span id="r_jardines_hidroponicos" class="InputGroup">
                <label class="uper">SI <%= f.radio_button :red_publica_agua, "SI", :class => "rpt" %></label>&nbsp;&nbsp;
                <label class="uper">NO <%= f.radio_button :red_publica_agua, "NO", :class => "rpt" %></label>
              </span>
            </div>
            <div class="grid-12-12">
              <%= f.select :servicio_agua_id, ServicioAgua.all.collect {|p| [ p.descripcion, p.clave ]}, { :selected => @s_aguas,  :prompt => "SELECCIONE UNA OPCIÓN" }, {:disabled => "disabled", :style => "display: none;", :class => "rpt"} %>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $huella_p4.to_f * 100 %></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @hp4 %></label></td>
        </tr>
        <!-- Pregunta5 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">5.- ¿Cuántas veces la escuela da mantenimiento preventivo y/o correctivo a las instalaciones hidráulicas en el ciclo escolar?.<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :mantto_inst, :style => "text-align: center;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $huella_p5.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @hp5 %></label></td>
        </tr>
        <!-- Pregunta6 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">6.- ¿La escuela cuenta con recipientes para residuos sólidos en las diferentes áreas de la institución?.<em class="formee-req"> *</em></label>
            <div class="grid-4-12">
              <span id="r_recip_residuos_solid" class="InputGroup">
                <label class="uper">SI <%= f.radio_button :recip_residuos_solid, "SI", :class => "rpt" %></label>&nbsp;&nbsp;
                <label class="uper">NO <%= f.radio_button :recip_residuos_solid, "NO", :class => "rpt" %></label>
              </span>
            </div>
            <div id="elimina_residuos" class="grid-12-12" style="text-align: justify; display: none;">
              <label class="uper">¿Que tipo de acciones realiza para la disposición de los residuos sólidos.?</label>
              <fieldset style="padding: 5px 5px 5px 5px;">
                <% EliminaResiduo.find(:all).each do |c| %>
                  <%= check_box_tag "elimina_residuos[#{c.id}]", c.clave, @s_elimina_residuos.include?(c.id) ? true : false %>&nbsp;<%= c.descripcion %><br />
                <% end %>
              </fieldset>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $huella_p6.to_f * 100 %></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @hp6 %></label></td>
        </tr>
        <!-- Pregunta7 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">7.- De los residuos sólidos, generados en la institución. ¿Se realiza la adecuada separación según las características de  su composición? (ORGANICO E INORGANICO).<em class="formee-req"> *</em></label>
            <div class="grid-4-12">
              <span id="r_sep_residuos_org_inorg" class="InputGroup">
                <label class="uper">SI <%= f.radio_button :sep_residuos_org_inorg, "SI", :class => "rpt" %></label>&nbsp;&nbsp;
                <label class="uper">NO <%= f.radio_button :sep_residuos_org_inorg, "NO", :class => "rpt" %></label>
              </span>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $huella_p7.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @hp7 %></label></td>
        </tr>
        <!-- Pregunta8 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">8.- ¿Los residuos orgánicos (hojas, cascaras de frutas o verduras, etc.) son reutilizados en elaboración de compostas para abono en áreas verdes?.<em class="formee-req"> *</em></label>
            <div class="grid-4-12">
              <span id="r_elabora_compostas" class="InputGroup">
                <label class="uper">SI <%= f.radio_button :elabora_compostas, "SI", :class => "rpt" %></label>&nbsp;&nbsp;
                <label class="uper">NO <%= f.radio_button :elabora_compostas, "NO", :class => "rpt" %></label>
              </span>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $huella_p8.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @hp8 %></label></td>
        </tr>
        <!-- Pregunta9 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">9.- Selecciona de la siguiente lista los residuos inorgánicos  que son reutilizados y/o reciclados en el centro escolar. <em class="formee-req"> *</em></label>
            <fieldset style="padding: 5px 5px 5px 5px;">
              <legend style="text-transform:uppercase;font-size:1.1em;">&nbsp;Residuos&nbsp;Inorgánicos:&nbsp;</legend>
              <div id="inorganicos" class="grid-12-12">
                <% Inorganico.find(:all).each do |c| %>
                  <%= check_box_tag "inorganicos[#{c.id}]", c.clave, @s_inorganicos.include?(c.id) ? true : false %>&nbsp;<%= c.descripcion %><br />
                <% end %>
              </div>
            </fieldset>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $huella_p9.to_f * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @hp9 %></label></td>
        </tr>
        <!-- Barra de Porcentaje -->
        <tr align="center" >
          <td><label class="uper" style="font-weight:bold;" >Porcentaje</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Total Máximo</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Total Obtenido</label></td>
        </tr>
        <tr>
          <td style="text-align:center;" >
            <div class="bar_mortice rounded_tiny mortice_tiny green_mortice">
              <div id="bar_huellas" class="progress rounded_tiny progress_tiny green" style="width: <%= @h_porcentaje.to_i %>%;" ></div>
            </div>
            <label style="font-weight:bold;" ><%= @h_porcentaje %> %</label>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;" ><label style="font-weight:bold;" ><%= @h_maxptos %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;" ><label style="font-weight:bold;" ><%= @h_totalptos %></label></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
  </tr>
</table>
<% end %>
<img src="/images/era/space.png" alt="" width="10" height="50px" />
<!-- EJE 4: CONSUMO RESPONSABLE / SALUDABLE -->
<% form_for :consumo, :html => {:class => "formee", :name => "consumo"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;">
    <td align="center"><h4>EJE 4: CONSUMO RESPONSABLE / SALUDABLE</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr align="center" >
          <td><label class="uper" style="font-weight:bold;" >Pregunta</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Máximo Puntaje</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Puntaje Obtenido</label></td>
        </tr>
        <!-- Pregunta1 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">1.- ¿Su centro escolar cuenta con establecimientos para el expendio de alimentos y bebidas?.<em class="formee-req"> *</em></label>
            <div class="grid-4-12">
              <span id="r_escuela_establecimient" class="InputGroup">
                <label class="uper">SI <%= f.radio_button :escuela_establecimiento, "SI", :class => "rpt"  %></label>&nbsp;&nbsp;
                <label class="uper">NO <%= f.radio_button :escuela_establecimiento, "NO", :class => "rpt"  %></label>
              </span>
            </div>
            <div id="establecimientos" class="grid-12-12">
              <fieldset style="padding: 5px 5px 5px 5px;">
                <% @establecimientos.each do |c| %>
                  <%= check_box_tag "establecimientos[#{c.id}]", c.clave, @s_establecimientos.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                <% end %>
              </fieldset>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
        </tr>
        <!-- Pregunta2 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">2.- Los responsables de la elaboración y venta de  alimentos en cooperativas, cafeterías o expendios escolares, ¿conocen los  Lineamientos Generales para la venta y consumo de alimentos y bebidas  de la Secretaria de Salud?.<em class="formee-req"> *</em></label>
            <div class="grid-4-12">
              <span id="responsables_conocen_lineamientos" class="InputGroup">
                <label class="uper">SI <%= f.radio_button :conocen_lineamientos_grales, "SI", :class => "rpt" %></label>&nbsp;&nbsp;
                <label class="uper">NO <%= f.radio_button :conocen_lineamientos_grales, "NO", :class => "rpt" %></label>
              </span>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $consumo_p2 * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @cop2 %></label></td>
        </tr>
        <!-- Pregunta3 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">3.- Las personas encargadas del manejo y preparación de alimentos  dentro de la escuela, ¿han recibido capacitación(es)  para la preparación  e higiene de alimentos y bebidas en  los establecimientos de consumo escolar?<em class="formee-req"> *</em></label>
            <div class="grid-4-12">
              <span id="r_capacitacion_alim_bebidas" class="InputGroup">
                  <label class="uper">SI <%= f.radio_button :capacitacion_alim_bebidas, "SI", :class => "rpt" %></label>&nbsp;&nbsp;
                  <label class="uper">NO <%= f.radio_button :capacitacion_alim_bebidas, "NO", :class => "rpt" %></label>
                </span>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $consumo_p3 * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @cop3 %></label></td>
        </tr>
        <!-- Pregunta4 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">4.- Los alimentos preparados que se venden en los establecimientos escolares, ¿cumplen los  requerimientos nutricionales  que señala la Norma Oficial Mexicana  NOM-0043-SSA2-2005, del Plato del Bien Comer?.<em class="formee-req"> *</em></label>
            <div class="grid-12-12">
              <fieldset style="padding: 5px 5px 5px 5px;">
                <label class="uper" style="font-style:italic;text-decoration:underline;" >Preparación:</label><br />
                <div id="preparacions" class="grid-12-12">
                  <% Preparacion.find(:all).each do |c| %>
                    <%= check_box_tag "preparacions[#{c.id}]", c.clave, @s_preparacions.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                  <% end %>
                </div>
                <label class="uper" style="font-style:italic;text-decoration:underline;" >Utensilios:</label><br />
                <div id="utensilios" class="grid-12-12">
                  <% Utensilio.find(:all).each do |c| %>
                    <%= check_box_tag "utensilios[#{c.id}]", c.clave, @s_utensilios.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                  <% end %>
                </div>
                <label class="uper" style="font-style:italic;text-decoration:underline;" >Higiene:</label>
                <div id="higienes" class="grid-12-12">
                  <% Higiene.find(:all).each do |c| %>
                    <%= check_box_tag "higienes[#{c.id}]", c.clave, @s_higienes.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                  <% end %>
                </div>
              </fieldset>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $consumo_p4 * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @cop4 %></label></td>
        </tr>
        <!-- Pregunta5 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">5.- Del siguiente listado marque los que se comercializan en su escuela:<em class="formee-req"> *</em></label><br />
            <label class="uper">Listado de productos:<em class="formee-req"> *</em></label>
            <div class="grid-12-12">
              <fieldset style="padding: 5px 5px 5px 5px;">
                <label class="uper" style="font-style:italic;text-decoration:underline;" >Bebidas (industrializadas y caseras):</label><br />
                <div id="bebidas" class="grid-12-12">
                  <% Bebida.find(:all).each do |c| %>
                    <%# if @s_bebidas.include?(c.clave) %>
                    <%= check_box_tag "bebidas[#{c.id}]", c.clave, @s_bebidas.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                    <%# end %>
                  <% end %>
                </div>
                <label class="uper" style="font-style:italic;text-decoration:underline;" >Alimentos:</label><br />
                <div id="alimentos" class="grid-12-12">
                  <% Alimento.find(:all).each do |c| %>
                    <%# if @s_alimentos.include?(c.clave) %>
                    <%= check_box_tag "alimentos[#{c.id}]", c.clave, @s_alimentos.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                    <%# end %>
                  <% end %>
                </div>
                <label class="uper" style="font-style:italic;text-decoration:underline;" >Botanas (Industriales y caseras):</label><br />
                <div id="botanas" class="grid-12-12">
                  <% Botana.find(:all).each do |c| %>
                    <%# if @s_botanas.include?(c.clave) %>
                    <%= check_box_tag "botanas[#{c.id}]", c.clave, @s_botanas.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                    <%# end %>
                  <% end %>
                </div>
                <label class="uper" style="font-style:italic;text-decoration:underline;" >Galletas, pastelillos y postres (Industriales y caseros):</label>
                <div id="reposterias" class="grid-12-12">
                  <% Reposteria.find(:all).each do |c| %>
                    <%# if @s_reposterias.include?(c.clave) %>
                    <%= check_box_tag "reposterias[#{c.id}]", c.clave, @s_reposterias.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                    <%# end %>
                  <% end %>
                </div>
              </fieldset>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $consumo_p5 * 100 * 4 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @cop5 %></label></td>
        </tr>
        <!-- Pregunta6 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">6.- ¿Cuál es el tipo de material de los recipientes y utensilios (platos, vasos, cucharas, cuchillos, tenedores, etc) que se utilizan para servir alimentos en los establecimientos de consumo escolar?. <em class="formee-req"> *</em></label>
            <div class="grid-12-12">
              <fieldset style="padding: 5px 5px 5px 5px;">
                <legend style="text-transform:uppercase;font-size:1.1em;">&nbsp;Materiales:&nbsp;</legend>
                <div id="materials" class="grid-12-12">
                <% Material.find(:all).each do |c| %>
                  <%= check_box_tag "materials[#{c.id}]", c.clave, @s_materials.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                <% end %>
              </div>
              </fieldset>
            </div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $consumo_p6 * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @cop6 %></label></td>
        </tr>
        <!-- Pregunta7 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">7.- ¿Con qué frecuencia se realiza activación física en su escuela?. <em class="formee-req"> *</em></label>
            <div class="grid-4-12"><%= f.select :frecuencia_afisica_id, FrecuenciaAfisica.all.collect {|p| [ p.descripcion, p.clave ]}, {:selected => @s_afisicas}, :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $consumo_p7 * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @cop7 %></label></td>
        </tr>
        <!-- Pregunta8 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">8.- Por día ¿Qué tiempo dedica y en cuántos momentos realiza la activación física?. <em class="formee-req"> *</em></label>
            <div class="grid-2-12"><label class="uper" style="padding: 10px 0;" >Minutos: </label></div>
            <div class="grid-2-12"><%= f.text_field :minutos_activacion_fisica, :style => "text-align: center;", :class => "rpt" %></div>
              <%#= f.select :minutos_activacion_fisica, [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]%>
            <div class="grid-1-12"></div>
            <div class="grid-2-12"><label class="uper" style="padding: 10px 0;" >Momentos: </label></div>
            <div class="grid-2-12"><%= f.text_field :momentos_activacion_fisica, :style => "text-align: center;", :class => "rpt" %></div>
              <%#= f.select :momentos_activacion_fisica, (1..4)%>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $consumo_p8 * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @cop8 %></label></td>
        </tr>
        <!-- Barra de Porcentaje -->
        <tr align="center" >
          <td><label class="uper" style="font-weight:bold;" >Porcentaje</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Total Máximo</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Total Obtenido</label></td>
        </tr>
        <tr>
          <td style="text-align:center;" >
            <div class="bar_mortice rounded_tiny mortice_tiny green_mortice">
              <div id="bar_consumo" class="progress rounded_tiny progress_tiny green" style="width: <%= @co_porcentaje.to_i %>%;" ></div>
            </div>
            <label style="font-weight:bold;" ><%= @co_porcentaje %> %</label>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;" ><label style="font-weight:bold;" ><%= @co_maxptos %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;" ><label style="font-weight:bold;" ><%= @co_totalptos %></label></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
  </tr>
</table>
<% end %>
<img src="/images/era/space.png" alt="" width="10" height="50px" />
<!-- EJE 5: PARTICIPACIÓN CIUDADANA -->
<% form_for :participacion, :html => {:class => "formee", :name => "participacion"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;">
    <td align="center"><h4>EJE 5: PARTICIPACION CIUDADANA</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr align="center" >
          <td><label class="uper" style="font-weight:bold;" >Pregunta</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Máximo Puntaje</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Puntaje Obtenido</label></td>
        </tr>
        <!-- Pregunta1 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">1.- ¿Cuál es el número de  padres de familia o tutores que tiene la escuela en su registro?.<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :num_padres_familia, :style => "text-align: center;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
        </tr>
        <!-- Pregunta2 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">2.- De su registro escolar ¿Cuántos  padres de familia o tutores participaron en la última capacitación, taller, curso o actividad relacionados en temas de salud y/o medio ambiente?.<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :capacitacion_salud_ma, :style => "text-align: center;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $participacion_p2 * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @pp2 %></label></td>
        </tr>
        <!-- Pregunta3 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">3.- ¿Cuántos proyectos escolares en materia del cuidado del medio ambiente realizó la escuela en vinculación con la comunidad?.<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :proy_escolares_ma, :style => "text-align: center;", :class => "rpt" %></div>
            <div class="grid-10-12"><%= f.text_area :proy_escolares_ma_desc, :disabled => 'disabled', :style => "display: none;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $participacion_p3 * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @pp3 %></label></td>
        </tr>
        <!-- Pregunta4 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">4.- ¿Cuántos proyectos escolares en materia del cuidado de la salud realizó la escuela en vinculación con la comunidad?.<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :proy_escolares_salud, :style => "text-align: center;", :class => "rpt" %></div>
            <div class="grid-10-12"><%= f.text_area :proy_escolares_salud_desc, :disabled => 'disabled', :style => "display: none;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $participacion_p4 * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @pp4 %></label></td>
        </tr>
        <!-- Pregunta5 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">5.- ¿Cuántos talleres, pláticas o actividades relacionadas en temas de salud y/o medio ambiente ha realizado la escuela con padres de familia?.<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :act_salud_ma, :style => "text-align: center;", :class => "rpt" %></div>
            <div class="grid-10-12"><%= f.text_area :act_salud_ma_desc, :disabled => 'disabled', :style => "display: none;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= $participacion_p5 * 100 %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label><%= @pp5 %></label></td>
        </tr>
        <!-- Pregunta6 -->
        <tr>
          <td width="80%" align="justify">
            <label class="uper">6.- De los proyectos o actividades que realiza la institución escolar, ¿cuáles se desarrollan, con apoyos de organismos no gubernamentales o dependencias gubernamentales?.<em class="formee-req"> *</em></label>
            <div class="grid-2-12"><%= f.text_field :act_dep_gobierno, :style => "text-align: center;", :class => "rpt" %></div>
            <div class="grid-10-12"><%= f.text_area :act_dep_gobierno_desc, :disabled => 'disabled', :style => "display: none;", :class => "rpt" %></div>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;vertical-align:top;" ><label>0</label></td>
        </tr>
        <!-- Barra de Porcentaje -->
        <tr align="center" >
          <td><label class="uper" style="font-weight:bold;" >Porcentaje</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Total Máximo</label></td>
          <td>&nbsp;</td>
          <td><label class="uper" style="font-weight:bold;" >Total Obtenido</label></td>
        </tr>
        <tr>
          <td style="text-align:center;" >
            <div class="bar_mortice rounded_tiny mortice_tiny green_mortice">
              <div id="bar_participacion" class="progress rounded_tiny progress_tiny green" style="width: <%= @p_porcentaje.to_i %>%;" ></div>
            </div>
            <label style="font-weight:bold;" ><%= @p_porcentaje %> %</label>
          </td>
          <td>&nbsp;</td>
          <td style="text-align:right;" ><label style="font-weight:bold;" ><%= @p_maxptos %></label></td>
          <td>&nbsp;</td>
          <td style="text-align:right;" ><label style="font-weight:bold;" ><%= @p_totalptos %></label></td>
        </tr>
        <tr>
          <td colspan="5">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% end %>


<script type="text/javascript">
  // Huella ecológica
  enaSelect('huella_red_publica_agua', 'huella_servicio_agua_id');
  enaSelectMultiple('huella_recip_residuos_solid', 'elimina_residuos');

  // Consumo saludable
  enaSelectMultiple('consumo_escuela_establecimiento', 'establecimientos');

  // Participación Ciudadana
  showDescReport('participacion_proy_escolares_ma', 'participacion_proy_escolares_ma_desc');
  showDescReport('participacion_proy_escolares_salud', 'participacion_proy_escolares_salud_desc');
  showDescReport('participacion_act_salud_ma', 'participacion_act_salud_ma_desc');
  showDescReport('participacion_act_dep_gobierno', 'participacion_act_dep_gobierno_desc');
</script>