<br />
<div class="container">
<% form_for :user, @user, :url => { :action => "create", :controller => "users"}, :html => {:class => "formee"} do |f| -%>
  <fieldset>

    <legend>&nbsp;REGISTRO&nbsp;DE&nbsp;NUEVA&nbsp;ESCUELA&nbsp;</legend>
    <div class="grid-form">
      <% @user.password = @user.password_confirmation = nil %>
      <%= error_messages_for :user %>
    </div>
    
    <div class="grid-form-login">
      <div class="grid-8-12">
      <label><b>CLAVE DE LA ESCUELA: </b><em class="formee-req">*</em></label>
      </div>
      <div class="grid-4-12"><%= f.text_field :login %></div>
    </div>
    
    <div class="grid-form-login">
      <div class="grid-8-12">
      <label><b>CORREO ELECTRÓNICO </b> (ESCRÍBALO CORRECTAMENTE PORQUE PODRÁ RECUPERAR SU CONTRASEÑA POR ESTE MEDIO)<em class="formee-req">*</em></label>
      </div>
      <div class="grid-4-12"><%= f.text_field :email, :placeholder => "Escriba una dirección válida", :size => 40 %></div>
    </div>

    <div class="grid-form-login">
      <div class="grid-6-12">
      <label><b>NOMBRE COMPLETO DE LA PERSONA QUE REGISTRA</b>: <em class="formee-req">*</em></label>
      </div>
      <div class="grid-6-12"><%= f.text_field :nombre %></div>
    </div>
    
    <div class="grid-form-login">
       <div class="grid-8-12">
        <label><b>ESCRIBA SU PROPIA CONTRASEÑA PARA ACCEDER A LA PLATAFORMA:</b> <em class="formee-req">*</em></label>
       </div>
       <div class="grid-4-12">
        <%= f.password_field :password, :placeholder => "6 CARACTERES MÍNIMO" %>
       </div>
    </div>

    <div class="grid-form-login">
      <div class="grid-8-12">
      <label><b>ESCRIBA LA CONFIRMACIÓN DE LA CONTRASEÑA (LA QUE ESCRIBIÓ EN EL PUNTO ANTERIOR)</b>: <em class="formee-req">*</em></label>
      </div>
      <div class="grid-4-12"><%= f.password_field :password_confirmation, :placeholder => "6 CARACTERES MÍNIMO"%></div>
    </div>

    <div class="grid-form-login">
      <input class="right" type="submit" title="CREAR USUARIO" value="CREAR USUARIO" />
    </div>
    
  </fieldset>
<% end %>
</div>

<script type="text/javascript">
  var login = new LiveValidation( 'user_login', {onlyOnSubmit: true} );
  login.add( Validate.Presence );
  var nombre = new LiveValidation( 'user_nombre', {onlyOnSubmit: true } );
  nombre.add( Validate.Presence );
  var email = new LiveValidation( 'user_email' );
  email.add( Validate.Presence );
  email.add( Validate.Email );
  <%#*var email = new LiveValidation( 'user_email', {onlyOnSubmit: true } );%>
  <%#*email.add( Validate.Presence );%>
  <%#*email.add( Validate.Email );%>
  var password = new LiveValidation( 'user_password' );
  password.add( Validate.Presence, {onlyOnSubmit: true } );
  password.add( Validate.Length, { minimum: 6 } );
  var password_confirmation = new LiveValidation( 'user_password_confirmation' );
  password_confirmation.add( Validate.Confirmation, { match: 'user_password'} );
</script>




