<div class="container">
<% form_for :user, @user, :url => { :action => "create", :controller => "users"}, :html => {:class => "formee"} do |f| -%>
  <fieldset>

    <legend>Nuevo&nbsp;usuario</legend>
    <div class="grid-form">
      <% @user.password = @user.password_confirmation = nil %>
      <%= error_messages_for :user %>
    </div>
    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <label>Clave de escuela: <em class="formee-req">*</em></label>
      <%=f.text_field :login%>
    </div>
    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <label>Nombre completo: <em class="formee-req">*</em></label>
      <%=f.text_field :nombre%>
    </div>
    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <label>Correo electrónico: (Para recuperación de contraseña)</label>
      <%=f.text_field :email%>
    </div>
    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <label>Contraseña: <em class="formee-req">*</em></label>
      <%=f.password_field :password%>
    </div>

    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <label>Confirmar contraseña: <em class="formee-req">*</em></label>
      <%=f.password_field :password_confirmation%>
    </div>

    <div class="grid-12-12 clear"></div>

    <div class="grid-form">
      <input class="right" type="submit" title="CREAR USUARIO" value="CREAR USUARIO" />
    </div>
    
  </fieldset>
<%end%>
</div>








