<%= error_messages_for :user %>

<!-- version fina -->
<div class="container">
<% form_for :user, @user, :url => { :action => "reset", :controller => "users"}, :html => {:class => "formee"} do |f| -%>
      <fieldset>
        <legend>RECUPERACIÓN&nbsp;DE&nbsp;CONTRASEÑA</legend>
            <div class="grid-12-12">
               <label>Nombre:
                <%= @user.nombre %>
               </label>
            </div>

            <div class="grid-6-12">
               <label>Clave de usuario:
                  <%= @user.login.upcase %>
               </label>
            </div>


            <div class="grid-6-12">
               <label>Correo electrónico:
                  <%= @user.email %>
               </label>
            </div>
           

           <div class="grid-12-12 clear"></div>

             <div class="grid-6-12">
               <label>Contraseña:</label>
                <%= f.password_field :password %>
            </div>

            <div class="grid-6-12">
               <label>Confirmación de la Contraseña:</label>
                 <%= f.password_field :password_confirmation %>
            </div>

           <div class="grid-12-12">
                   <input class="right" type="submit" title="CAMBIAR CONTRASEÑA" value="CAMBIAR CONTRASEÑA" />
           </div>
        </div>
    </fieldset>
  <%end%>
</div>





