<!-- inicio valores ocultos usados -->
<% totales = Escuela.find_by_clave(current_user.login.upcase)
if totales.nivel_descripcion == "BACHILLERATO"
  docentes = totales.perfil_ciencias_naturales
else
  docentes = totales.total_personal_docente
end %>
<input id="val_max_doc" name="val_max_doc" type="hidden" value="<%= docentes %>" />
<input id="val_max_alu" name="val_max_alu" type="hidden" value="<%= totales.alu_hom + totales.alu_muj%>" />
<!-- fin valores ocultos usados -->

<%= render :partial => "informacion_competencias"%>

<% form_for :competencia, @competencia, :url => { :action => "save", :id => @competencia, :diagnostico => @diagnostico.id }, :html => {:class => "formee", :name => "competencia", :id => "competencia"} do |f| -%>
  <table class="principal" width="100%" align="center" >
    <tr bgcolor="#003366" style="opacity: 0.7;" >
      <td align="center"><h4>EJE 1: DESARROLLO DE COMPETENCIAS</h4></td>
    </tr>
    <tr align="center">
      <td align="center">
        <table class="subprincipal" width="100%">
          <%= render :partial => "pregunta1", :locals => { :f => f } %>
          <%= render :partial => "pregunta2", :locals => { :f => f } %>
          <% if @diagnostico.escuela.nivel.clave != 4 %>
            <%= render :partial => "pregunta3b", :locals => { :f => f } %>
          <% else %>
            <%= render :partial => "pregunta3m", :locals => { :f => f } %>
          <% end %>
          <%= render :partial => "pregunta4", :locals => { :f => f }%>
          <%= render :partial => "pregunta5", :locals => { :f => f }%>
          <% if @diagnostico.escuela.nivel.clave != 4 %>
            <%= render :partial => "pregunta6b", :locals => { :f => f }%>
          <% else %>
            <%= render :partial => "pregunta6m", :locals => { :f => f }%>
          <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <%= render :partial => "diagnosticos/errores_evidencias"%>
    <tr>
      <td>
        <div class=" grid-6-12"></div>
        <div class=" grid-3-12">
          <input id="button4" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
        </div>
        <div class=" grid-3-12">
          <a href="<%= diagnosticos_path%>" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
<% end %>
<br />

