<%= render :partial => "informacion_competencias"%>

<% form_for :competencia, @competencia, :url => { :action => "save", :id => @competencia, :diagnostico => @diagnostico.id }, :html => {:class => "formee", :name => "competencia", :id => "competencia"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;" >
    <td align="center"><h4>EJE 1: DESARROLLO DE COMPETENCIAS</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr>
          <td width="49%" align="justify"><label>1.- ¿Cuántos docentes se han capacitado en materia de salud y/o medio ambiente en el último ciclo escolar?<em class="formee-req"> *</em></label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>2.- De los docentes capacitados, ¿cuántos aplican con sus alumnos los conocimientos adquiridos en materia de salud y medio ambiente en otras acciones pedagógicas o extracurriculares?<em class="formee-req"> *</em></label></td>
        </tr>
        <!--<tr>
          <td>
            <div class="grid-2-12">Porcentaje:</div>
            <div class="grid-8-12">
              <div class="bar_mortice rounded_tiny mortice_tiny green_mortice">
                <div id="bar_docentes_capacitados_sma" class="progress rounded_tiny progress_tiny green" ></div>
              </div>
            </div>-->
            <% totales = Escuela.find_by_clave(current_user.login.upcase)
               if totales.nivel_descripcion == "BACHILLERATO"
                    docentes = totales.perfil_ciencias_naturales
               else
                    docentes = totales.total_personal_docente
               end
            %>
            <input id="val_max_doc" name="val_max_doc" type="hidden" value="<%= docentes %>" />
            <input id="val_max_alu" name="val_max_alu" type="hidden" value="<%= totales.alu_hom + totales.alu_muj%>" />
            <!--
            <div class="grid-2-12"><%= text_field :porcentaje, :docentes_capacitados_sma, :class => "ninguno", :disabled => "disabled", :value => :porcentaje_docentes_capacitados_sma? ? '0 %': :porcentaje_docentes_capacitados_sma %></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <div class="grid-2-12">Porcentaje:</div>
            <div class="grid-8-12">
              <div class="bar_mortice rounded_tiny mortice_tiny green_mortice">
                <div id="bar_docentes_aplican_conocimientos" class="progress rounded_tiny progress_tiny green"></div>
              </div>
            </div>
            <div class="grid-2-12"><%= text_field :porcentaje, :docentes_aplican_conocimientos, :class => "ninguno", :disabled => "disabled", :value => :porcentaje_docentes_aplican_conocimientos? ? '0 %': :porcentaje_docentes_aplican_conocimientos %></div>
          </td>
        </tr>-->
        <tr>
          <td align="center" >
            <div class="grid-3-12"></div>
            <div class="grid-2-12">
              <!--<%= f.text_field :docentes_capacitados_sma, :onkeyup => "porcentaje('competencia_docentes_capacitados_sma', 'porcentaje_docentes_capacitados_sma', 'bar_docentes_capacitados_sma', 'val_max_doc');"%>-->
              <%= f.text_field :docentes_capacitados_sma %>
            </div>
            <div class="grid-1-12"></div>
            <div class="grid-6-12">
              <%=link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta1", :id => "pregunta1"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 1, :numero_pregunta => 1, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 1", :class => "fancybox fancybox.iframe"%>
              <!--<div id="div_pregunta1">
                <%= text_field :verifica, :pregunta1, :class => "ninguno", :style => "width:15px;", :disabled => "disabled", :value => :verifica_pregunta1? ? '0': :verifica_pregunta1 %> Archivo(s) cargado(s)
              </div>-->
            </div>
          </td>
          <td>&nbsp;</td>
          <td align="center">
            <div class="grid-3-12"></div>
            <div class="grid-2-12">
              <%= f.text_field :docentes_aplican_conocimientos %>
            </div>
            <div class="grid-1-12"></div>
              <%=link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta2", :id => "pregunta2"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 1, :numero_pregunta => 2, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 2", :class => "fancybox fancybox.iframe"%>
              <!--<%= text_field :verifica, :pregunta2, :class => "ninguno", :style => "width:15px;", :disabled => "disabled", :value => :verifica_pregunta2? ? '0': :verifica_pregunta2 %> Archivo(s) cargado(s)-->
            <div class="grid-6-12"></div>
          </td>
        </tr>

        <tr>
          <td width="49%" align="justify"><label>3.- Del total de docentes, ¿cuántos se involucran en actividades extracurriculares en materia de salud y medio ambiente que promueve la escuela?<em class="formee-req"> *</em></label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>4.- Del total de alumnos, ¿cuántos recibieron capacitación relacionada con temas salud y medio ambiente por parte de los docentes en el último ciclo escolar?<em class="formee-req"> *</em></label></td>
        </tr>
        <!--<tr>
          <td>
            <div class="grid-2-12">Porcentaje:</div>
            <div class="grid-8-12">
              <div class="bar_mortice rounded_tiny mortice_tiny green_mortice">
                <div id="bar_docentes_involucran_actividades" class="progress rounded_tiny progress_tiny green"></div>
              </div>
            </div>
            <div class="grid-2-12"><%= text_field :porcentaje, :docentes_involucran_actividades, :class => "ninguno", :disabled => "disabled", :value => :porcentaje_docentes_involucran_actividades? ? '0 %': :porcentaje_docentes_involucran_actividades %></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <div class="grid-2-12">Porcentaje:</div>
            <div class="grid-8-12">
              <div class="bar_mortice rounded_tiny mortice_tiny green_mortice">
                <div id="bar_alumnos_capacitados_docentes" class="progress rounded_tiny progress_tiny green"></div>
              </div>
            </div>
            <input id="val_max_alu" name="val_max_alu" type="hidden" value="<%= totales.total_alumnos %>" />
            <div class="grid-2-12"><%= text_field :porcentaje, :alumnos_capacitados_docentes, :class => "ninguno", :disabled => "disabled", :value => :porcentaje_porcentaje_alumnos_capacitados_docentes? ? '0 %': :porcentaje_porcentaje_alumnos_capacitados_docentes %></div>
          </td>
        </tr>-->
        <tr>
          <td align="center" >
            <div class="grid-3-12"></div>
            <div class="grid-2-12">
              <%= f.text_field :docentes_involucran_actividades %>
            </div>
            <div class="grid-1-12"></div>
            <div class="grid-6-12">
              <%=link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta3", :id => "pregunta3"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 1, :numero_pregunta => 3, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 3", :class => "fancybox fancybox.iframe"%>
              <!--<%= text_field :verifica, :pregunta3, :class => "ninguno", :style => "width:15px;", :disabled => "disabled", :value => :verifica_pregunta3? ? '0': :verifica_pregunta3 %> Archivo(s) cargado(s)-->
            </div>
          </td>
          <td>&nbsp;</td>
          <td align="center">
            <div class="grid-3-12"></div>
            <div class="grid-2-12">
              <%= f.text_field :alumnos_capacitados_docentes %>
            </div>
            <div class="grid-1-12"></div>
            <div class="grid-6-12">
              <%=link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta4", :id => "pregunta4"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 1, :numero_pregunta => 4, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 4", :class => "fancybox fancybox.iframe"%>
              <!--<%= text_field :verifica, :pregunta4, :class => "ninguno", :style => "width:15px;", :disabled => "disabled", :value => :verifica_pregunta4? ? '0': :verifica_pregunta4 %> Archivo(s) cargado(s)-->
            </div>
          </td>
        </tr>

        <tr>
          <td width="49%" align="justify"><label>5.- Del total de alumnos, ¿cuántos recibieron capacitación relacionada con temas de salud y medio ambiente por parte de otras <b>instituciones y/o dependencias</b> en el último ciclo escolar?<em class="formee-req"> *</em></label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify">&nbsp;</td>
        </tr>
        <!--<tr>
          <td>
            <div class="grid-2-12">Porcentaje:</div>
            <div class="grid-8-12">
              <div class="bar_mortice rounded_tiny mortice_tiny green_mortice">
                <div id="bar_alumnos_capacitados_instituciones" class="progress rounded_tiny progress_tiny green"></div>
              </div>
            </div>
            <div class="grid-2-12"><%= text_field :porcentaje, :alumnos_capacitados_instituciones, :class => "ninguno", :disabled => "disabled", :value => :porcentaje_alumnos_capacitados_instituciones? ? '0 %': :porcentaje_alumnos_capacitados_instituciones %></div>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>-->
        <tr>
          <td align="center" >
            <div class="grid-3-12"></div>
            <div class="grid-2-12">
              <%= f.text_field :alumnos_capacitados_instituciones %>
            </div>
            <div class="grid-1-12"></div>
            <div class="grid-6-12">
              <%=link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta5", :id => "pregunta5"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 1, :numero_pregunta => 5, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 5", :class => "fancybox fancybox.iframe"%>
              <!--<%= text_field :verifica, :pregunta5, :class => "ninguno", :style => "width:15px;", :disabled => "disabled", :value => :verifica_pregunta5? ? '0': :verifica_pregunta5 %> Archivo(s) cargado(s)-->
            </div>
          </td>
          <td>&nbsp;</td>
          <td align="center">&nbsp;</td>
        </tr>

      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>


  
  <%= render :partial => "diagnosticos/errores_evidencias"%>


  <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <input id="button4" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
          </td>
          <td>
            <a href="<%= diagnosticos_path%>" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% end %>

<%#= observe_form  :competencia,
                  :url => {:controller => 'getnumbers', :action => 'getnumberadj'},
                  :frequency => 0.05,
                  :update => "div_pregunta1"%>
 
<script type="text/javascript">
  <%#*porcentaje('competencia_docentes_capacitados_sma', 'porcentaje_docentes_capacitados_sma', 'bar_docentes_capacitados_sma', 'val_max_doc');%>
  <%#*porcentaje('competencia_docentes_aplican_conocimientos', 'porcentaje_docentes_aplican_conocimientos', 'bar_docentes_aplican_conocimientos', 'val_max_doc');%>
  <%#*porcentaje('competencia_docentes_involucran_actividades', 'porcentaje_docentes_involucran_actividades', 'bar_docentes_involucran_actividades', 'val_max_doc');%>
  <%#*porcentaje('competencia_alumnos_capacitados_docentes', 'porcentaje_alumnos_capacitados_docentes', 'bar_alumnos_capacitados_docentes', 'val_max_alu');%>
  <%#*porcentaje('competencia_alumnos_capacitados_instituciones', 'porcentaje_alumnos_capacitados_instituciones', 'bar_alumnos_capacitados_instituciones', 'val_max_alu');%>

  var docentes_capacitados_sma = new LiveValidation( 'competencia_docentes_capacitados_sma' );
  docentes_capacitados_sma.add( Validate.Presence );
  docentes_capacitados_sma.add( Validate.Numericality, { maximum: parseInt(document.getElementById("val_max_doc").value), onlyInteger: true } );
  
  var docentes_aplican_conocimientos = new LiveValidation( 'competencia_docentes_aplican_conocimientos' );
  docentes_aplican_conocimientos.add( Validate.Presence );
  docentes_aplican_conocimientos.add( Validate.Numericality, { maximum: parseInt(document.getElementById("val_max_doc").value), onlyInteger: true } );

  var docentes_involucran_actividades = new LiveValidation( 'competencia_docentes_involucran_actividades' );
  docentes_involucran_actividades.add( Validate.Presence );
  docentes_involucran_actividades.add( Validate.Numericality, { maximum: parseInt(document.getElementById("val_max_doc").value), onlyInteger: true } );

  var alumnos_capacitados_docentes = new LiveValidation( 'competencia_alumnos_capacitados_docentes' );
  alumnos_capacitados_docentes.add( Validate.Presence );
  alumnos_capacitados_docentes.add( Validate.Numericality, { maximum: parseInt(document.getElementById("val_max_alu").value), onlyInteger: true } );

  var alumnos_capacitados_instituciones = new LiveValidation( 'competencia_alumnos_capacitados_instituciones' );
  alumnos_capacitados_instituciones.add( Validate.Presence );
  alumnos_capacitados_instituciones.add( Validate.Numericality, { maximum: parseInt(document.getElementById("val_max_alu").value), onlyInteger: true } );
</script>