<div class="formee-msg-info">
  <h3>Información importante</h3>
    <ul>
      <li>Los campos marcados con <em class="formee-req">*</em> son obligatorios.</li>
    </ul>
</div>

<% form_for :competencia, @competencia, :url => { :action => "save", :id => @competencia, :diagnostico => @diagnostico.id }, :html => {:class => "formee", :name => "competencia"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;" >
    <td align="center"><h4>EJE 1: DESARROLLO DE COMPETENCIAS</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#81BEF7">
          <td colspan="3" align="center"><h5>DOCENTES</h5></td>
        </tr>
        <tr>
          <td colspan="3" align="center"><label>¿El personal docente asiste y se capacita en materia de salud y medio ambiente?<em class="formee-req"> *</em></label></td>
        </tr>
        <tr>
          <td width="49%" align="center"><label>Salud</label></td>
          <td>&nbsp;</td>
          <td width="49%" align="center"><label>Medio Ambiente</label></td>
        </tr>
        <tr>
          <td align="center">
            <span id="doc_capacitan_salud" class="InputGroup">
            <label>
              SI <%= f.radio_button :doc_capacitan_salud, "SI" %>&nbsp;&nbsp;
              NO <%= f.radio_button :doc_capacitan_salud, "NO" %>
            </label>
            </span>
            <%= f.text_area :doc_capacitan_salud_desc, :placeholder => "Especifique..." %>
          </td>
          <td>&nbsp;</td>
          <td align="center">
            <span id="r_doc_capacitan_ma" class="InputGroup">
            <label>
              SI <%= f.radio_button :doc_capacitan_ma, "SI" %>&nbsp;&nbsp;
              NO <%= f.radio_button :doc_capacitan_ma, "NO" %>
            </label>
            </span>
            <%= f.text_area :doc_capacitan_ma_desc, :placeholder => "Especifique..." %>
          </td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td width="49%" align="justify"><label>¿Los conocimientos adquiridos son aplicados?<em class="formee-req"> *</em></label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>¿La escuela desarrolla proyectos para la aplicación de conocimientos en materia de salud y medio ambiente?<em class="formee-req"> *</em></label></td>
        </tr>
        <tr>
          <td align="center" >
            <span id="r_aplica_conocimientos" class="InputGroup">
            <label>
              SI <%= f.radio_button :aplica_conocimientos, "SI" %>&nbsp;&nbsp;
              NO <%= f.radio_button :aplica_conocimientos, "NO" %>
            </label>
            </span>
            <%= f.text_area :aplica_conocimientos_desc, :placeholder => "Especifique..." %>
          </td>
          <td>&nbsp;</td>
          <td align="center">
            <span id="r_esc_desarrolla_proy" class="InputGroup">
            <label>
              SI <%= f.radio_button :esc_desarrolla_proy, "SI" %>&nbsp;&nbsp;
              NO <%= f.radio_button :esc_desarrolla_proy, "NO" %>
            </label>
            </span>
            <%= f.text_area :esc_desarrolla_proy_desc, :placeholder => "Especifique..." %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#81BEF7">
          <td colspan="3" align="center"><h5>ALUMNOS</h5></td>
        </tr>
        <tr>
          <td width="49%"  align="justify"><label>¿Los alumnos de involucran en las actividades y proyectos en los que participa la escuela?<em class="formee-req"> *</em></label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>¿Los alumnos se capacitan en materia de salud y medio ambiente?<em class="formee-req"> *</em></label></td>
        </tr>
        <tr>
          <td align="center">
            <span id="r_alu_involucran_proy" class="InputGroup">
            <label>
              SI <%= f.radio_button :alu_involucran_proy, "SI" %>&nbsp;&nbsp;
              NO<%= f.radio_button :alu_involucran_proy, "NO" %>
            </label>
            </span>
            <%= f.text_area :alu_involucran_proy_desc, :placeholder => "Especifique..." %>
          </td>
          <td>&nbsp;</td>
          <td align="center">
            <span id="r_alu_capacitan_salud_ma" class="InputGroup">
            <label>
              SI <%= f.radio_button :alu_capacitan_salud_ma, "SI" %>&nbsp;&nbsp;
              NO<%= f.radio_button :alu_capacitan_salud_ma, "NO" %>
            </label>
            </span>
            <%=f.text_area :alu_capacitan_salud_ma_desc, :placeholder => "Especifique..." %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <input id="button4" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
          </td>
          <td>
            <a href="<%= diagnosticos_path%>" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% end %>

<script type="text/javascript">
<%#*enable_disable_desc('competencia_doc_capacitan_salud_si', 'competencia_doc_capacitan_salud_no', 'competencia_doc_capacitan_salud_desc');%>
<%#*enable_disable_desc('competencia_doc_capacitan_ma_si', 'competencia_doc_capacitan_ma_no', 'competencia_doc_capacitan_ma_desc');%>
<%#*enable_disable_desc('competencia_aplica_conocimientos_si', 'competencia_aplica_conocimientos_no', 'competencia_aplica_conocimientos_desc');%>
<%#*enable_disable_desc('competencia_esc_desarrolla_proy_si', 'competencia_esc_desarrolla_proy_no', 'competencia_esc_desarrolla_proy_desc');%>
<%#*enable_disable_desc('competencia_alu_involucran_proy_si', 'competencia_alu_involucran_proy_no', 'competencia_alu_involucran_proy_desc');%>
<%#*enable_disable_desc('competencia_alu_capacitan_salud_ma_si', 'competencia_alu_capacitan_salud_ma_no', 'competencia_alu_capacitan_salud_ma_desc');%>
enable_textarea();

var doc_capacitan_salud_desc = new LiveValidation( 'competencia_doc_capacitan_salud_desc', {onlyOnSubmit: true} );
doc_capacitan_salud_desc.add( Validate.Presence );
var doc_capacitan_ma_desc = new LiveValidation( 'competencia_doc_capacitan_ma_desc', {onlyOnSubmit: true} );
doc_capacitan_ma_desc.add( Validate.Presence );
var aplica_conocimientos_desc = new LiveValidation( 'competencia_aplica_conocimientos_desc', {onlyOnSubmit: true} );
aplica_conocimientos_desc.add( Validate.Presence );
var esc_desarrolla_proy_desc = new LiveValidation( 'competencia_esc_desarrolla_proy_desc', {onlyOnSubmit: true} );
esc_desarrolla_proy_desc.add( Validate.Presence );
var alu_involucran_proy_desc = new LiveValidation( 'competencia_alu_involucran_proy_desc', {onlyOnSubmit: true} );
alu_involucran_proy_desc.add( Validate.Presence );
var alu_capacitan_salud_ma_desc = new LiveValidation( 'competencia_alu_capacitan_salud_ma_desc', {onlyOnSubmit: true} );
alu_capacitan_salud_ma_desc.add( Validate.Presence );

jQuery(function(){
  jQuery("#doc_capacitan_salud").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
  jQuery("#r_doc_capacitan_ma").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
  jQuery("#r_aplica_conocimientos").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
  jQuery("#r_esc_desarrolla_proy").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
  jQuery("#r_alu_involucran_proy").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
  jQuery("#r_alu_capacitan_salud_ma").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
});
</script>