<%= error_messages_for 'tipo_reporte' %>

<table width="100%" border="0" cellspacing="0" >
  <tr>
    <td>Descripción:</td>
    <td>Fecha Limite:</td>
    <td>Codido de Desbloqueo</td>
  </tr>
  <tr>
    <td><%= text_field :tipo_reporte, :descripcion %></td>
    <td><%= date_select :tipo_reporte, :fecha_hora_limite %></td>
    <td><%= text_field :tipo_reporte, :codigo_desbloqueo %></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Ciclo Escolar</td>
    <td>Prioridad</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><%= select(:tipo_reporte, :ciclo_escolar, ["2013-2014","2014-2015"], {:prompt => ":: CICLO ESCOLAR"}) %></td>
    <td><%= text_field :tipo_reporte, :prioridad %></td>
    <td>&nbsp;</td>
  </tr>
</table>