<h1>Listado de Reportes</h1>

<table border="1">
  <tr>
    <td>Descripción</td>
    <td>Fecha Limite</td>
    <td>Código de Desbloqueo</td>
    <td>Ciclo Escolar</td>
    <td>Prioridad</td>
    <td colspan="3">Acciones</td>
  </tr>
<%  unless @tipo_reporte.nil? %>
<% @tipo_reporte.each do |tipo_reporte| %>
  <tr>
    <td><%=tipo_reporte.descripcion%></td>
    <td><%=tipo_reporte.fecha_hora_limite%></td>
    <td><%=tipo_reporte.codigo_desbloqueo%></td>
    <td><%=tipo_reporte.ciclo_escolar%></td>
    <td><%=tipo_reporte.prioridad%></td>
    <td><%= link_to 'Detalles', tipo_reporte %></td>
    <td><%= link_to 'Editar', edit_tipo_reporte_path(tipo_reporte) %></td>
    <td><%= link_to 'Eliminar', tipo_reporte, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<%end%>
</table>

<br />

<%= link_to 'Agregar Reporte', new_tipo_reporte_path %>