<%= error_messages_for 'tipo_reporte' %>

<% for column in TipoReporte.content_columns %>
<table>
  <tr>
    <td>&nbsp;</td>
    <td><%= column.human_name %>: </td>
    <td> <%=h @tipo_reporte.send(column.name) %></td>
  </tr>
</table>
<% end %>
<p>
<%= link_to 'Editar', edit_tipo_reporte_path(@tipo_reporte) %> |
<%= link_to 'Regresar', tipo_reportes_path %>
</p>