<%= render :partial => "informacion_participacions"%>

<% form_for :participacion, @participacion, :url => { :action => "save", :id => @participacion, :diagnostico => @diagnostico.id }, :html => {:class => "formee", :id => "participacion"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;">
    <td align="center"><h4>EJE 5: PARTICIPACIÓN COMUNITARIA</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr>
          <td width="49%" align="justify" style=" vertical-align:top;" >
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label>1.- ¿Cuál es el número de  padres de familia o tutores que tiene la escuela en su registro?.<em class="formee-req"> *</em></label>
            </div>
            <!-- Línea campo -->
            <div class="grid-12-12">
              <div class="grid-3-12"></div>
              <div class="grid-2-12">
                <%= f.text_field :num_padres_familia, :onkeyup => "showImageNum('participacion_num_padres_familia', 'eje5_p1');" %>
              </div>
              <div class="grid-1-12"></div>
              <div id="eje5_p1" class="grid-6-12" style="display: none;">
                <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta1", :id => "pregunta1"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 5, :numero_pregunta => 1, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 1", :class => "fancybox fancybox.iframe"%>
              </div>
            </div>
          </td>
          <td>&nbsp;</td>
          <td width="49%" align="justify" style=" vertical-align:top;">
            <!-- Línea Pregunta -->
            <div class="grid-12-12">
              <label>2.- De su registro escolar ¿Cuántos  padres de familia o tutores participaron en la última capacitación, taller, curso o actividad relacionados en temas de salud y/o medio ambiente?.<em class="formee-req"> *</em></label>
            </div>
            <!-- Línea campo -->
            <div class="grid-12-12">
              <div class="grid-3-12"></div>
              <div class="grid-2-12">
                <%= f.text_field :capacitacion_salud_ma, :onkeyup => "showImageNum('participacion_capacitacion_salud_ma', 'eje5_p2');"  %>
              </div>
              <div class="grid-1-12"></div>
              <div id="eje5_p2" class="grid-6-12" style="display: none;">
                <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta2", :id => "pregunta2"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 5, :numero_pregunta => 2, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 2", :class => "fancybox fancybox.iframe"%>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td width="49%" align="justify" style=" vertical-align:top;" >
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label>3.- ¿Cuántos proyectos escolares en materia del cuidado del medio ambiente realizó la escuela en vinculación con la comunidad?.<em class="formee-req"> *</em></label>
            </div>
            <!-- Línea campo -->
            <div class="grid-3-12"></div>
            <div class="grid-2-12">
              <%= f.select :proy_escolares_ma, (0..2), {}, :onchange => "showDesc(this, 'participacion_proy_escolares_ma_desc', 'eje5_p3');"%>
            </div>
            <div class="grid-1-12"></div>
            <div id="eje5_p3" class="grid-6-12" style="display: none;">
              <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta3", :id => "pregunta3"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 5, :numero_pregunta => 3, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 3", :class => "fancybox fancybox.iframe"%>
            </div>
            <div class="grid-12-12">
              <%= f.text_area :proy_escolares_ma_desc, :placeholder => "Especifique...", :disabled => 'disabled', :style => "display: none;" %>
            </div>
          </td>
          <td>&nbsp;</td>
          <td width="49%" align="justify" style=" vertical-align:top;">
            <!-- Línea Pregunta -->
            <div class="grid-12-12">
              <label>4.- ¿Cuántos proyectos escolares en materia del cuidado de la salud realizó la escuela en vinculación con la comunidad?.<em class="formee-req"> *</em></label>
            </div>
            <!-- Línea campo -->
            <div class="grid-3-12"></div>
            <div class="grid-2-12">
              <%= f.select :proy_escolares_salud, (0..2), {}, :onchange => "showDesc(this, 'participacion_proy_escolares_salud_desc', 'eje5_p4');"%>
            </div>
            <div class="grid-1-12"></div>
            <div id="eje5_p4" class="grid-6-12" style="display: none;">
            <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta4", :id => "pregunta4"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 5, :numero_pregunta => 4, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 4", :class => "fancybox fancybox.iframe"%>
            </div>
            <div class="grid-12-12">
              <%= f.text_area :proy_escolares_salud_desc, :placeholder => "Especifique...", :disabled => 'disabled', :style => "display: none;" %>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td width="49%" align="justify" style=" vertical-align:top;" >
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label>5.- ¿Cuántos talleres, platicas o actividades relacionadas en temas de salud y/o medio ambiente ha realizado la escuela con padres de familia?.<em class="formee-req"> *</em></label>
            </div>
            <!-- Línea campo -->
            <div class="grid-3-12"></div>
            <div class="grid-2-12">
              <%= f.select :act_salud_ma, (0..2), {}, :onchange => "showDesc(this, 'participacion_act_salud_ma_desc', 'eje5_p5');"%>
            </div>
            <div class="grid-1-12"></div>
            <div id="eje5_p5" class="grid-6-12" style="display: none;">
              <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta5", :id => "pregunta5"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 5, :numero_pregunta => 5, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 5", :class => "fancybox fancybox.iframe"%>
            </div>
            <div class="grid-12-12">
              <%= f.text_area :act_salud_ma_desc, :placeholder => "Especifique...", :disabled => 'disabled', :style => "display: none;" %>
            </div>
          </td>
          <td>&nbsp;</td>
          <td width="49%" align="justify" style=" vertical-align:top;">
            <!-- Línea Pregunta -->
            <div class="grid-12-12">
              <label>6.- De los proyectos o actividades que realiza la institución escolar, ¿cuáles se desarrollan, con apoyos de organismos no gubernamentales o dependencias gubernamentales?.<em class="formee-req"> *</em></label>
            </div>
            <!-- Línea campo -->
            <div class="grid-3-12"></div>
            <div class="grid-2-12">
              <%= f.select :act_dep_gobierno, (0..2), {}, :onchange => "showDesc(this, 'participacion_act_dep_gobierno_desc', 'eje5_p6');"%>
            </div>
            <div class="grid-1-12"></div>
            <div id="eje5_p6" class="grid-6-12" style="display: none;">
            <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta6", :id => "pregunta6"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 5, :numero_pregunta => 6, :action => "list_evidencias" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 6", :class => "fancybox fancybox.iframe"%>
            </div>
            <div class="grid-12-12">
              <%= f.text_area :act_dep_gobierno_desc, :placeholder => "Especifique...", :disabled => 'disabled', :style => "display: none;" %>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <%= render :partial => "diagnosticos/errores_evidencias"%>
  <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <input id="button4" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
          </td>
          <td>           
            <a href="<%= diagnosticos_path%>" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% end %>

<script type="text/javascript">
  showImageNum('participacion_num_padres_familia', 'eje5_p1');
  showImageNum('participacion_capacitacion_salud_ma', 'eje5_p2');
  showDesc('participacion_proy_escolares_ma', 'participacion_proy_escolares_ma_desc', 'eje5_p3');
  showDesc('participacion_proy_escolares_salud', 'participacion_proy_escolares_salud_desc', 'eje5_p4');
  showDesc('participacion_act_salud_ma', 'participacion_act_salud_ma_desc', 'eje5_p5');
  showDesc('participacion_act_dep_gobierno', 'participacion_act_dep_gobierno_desc', 'eje5_p6');

  var num_padres_familia = new LiveValidation( 'participacion_num_padres_familia' );
  num_padres_familia.add( Validate.Presence );
  num_padres_familia.add( Validate.Numericality, { onlyInteger: true } );

  var capacitacion_salud_ma = new LiveValidation( 'participacion_capacitacion_salud_ma' );
  capacitacion_salud_ma.add( Validate.Presence );
  capacitacion_salud_ma.add( Validate.Numericality, { onlyInteger: true } );

  var proy_escolares_ma_desc = new LiveValidation( 'participacion_proy_escolares_ma_desc' );
  proy_escolares_ma_desc.add( Validate.Presence );

  var proy_escolares_salud_desc = new LiveValidation( 'participacion_proy_escolares_salud_desc' );
  proy_escolares_salud_desc.add( Validate.Presence );

  var act_salud_ma_desc = new LiveValidation( 'participacion_act_salud_ma_desc' );
  act_salud_ma_desc.add( Validate.Presence );

  var act_dep_gobierno_desc = new LiveValidation( 'participacion_act_dep_gobierno_desc' );
  act_dep_gobierno_desc.add( Validate.Presence );
</script>