<br />
<table width="85%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" align="center">
      <tr style="background-color:transparent; color:navy; font-size: 18px;">
        <th><%=image_tag "mensajes/regresar.png"%>&nbsp;<%=link_to "Regresar a plataforma de mensajes", {:action => "list"}, :style => "text-decoration: none; color: navy; vertical-align: center;"%></th>
      </tr>
</table>

<div class="container">
 <%form_for(@mensaje, :url => {:action => "save"}, :html => {:class => "formee" }) do |f| -%>
  <fieldset>
    <legend style=" color: navy;">MENSAJE</legend>

    <div class="grid-12-12">
      <label><b>Remitente: </b><%=@mensaje.remitente%></label>
    </div>

    <div class="grid-12-12">
      <label><b>Destinatario: </b><%=@mensaje.destinatario%></label>
    </div>

    <div class="grid-12-12 clear"></div>
    <%#*<div class="grid-form">%>
    <div class="grid-12-12">
      <label><b>Asunto: </b><%=@mensaje.asunto%></label>
        
    </div>
    <%#*</div>%>
    <div class="grid-12-12 clear"></div>
    <%#*<div class="grid-form">%>

    


    <div class="grid-12-12">
      <label><b>Descripción: </b></label>
      <p>
        <%= f.text_area :descripcion,  :placeholder => "Escriba la descripción detallada", :disabled => true, :style => "width: 700px; height: 200px" %>
      </p>
     </div>

    <!-- Mostramos el mensaje si es una notificacion del sistema -->
    <%if @mensaje.url_notificacion_sistema%>
      <div class="grid-12-12">
        <%=link_to ":. HAGA CLICK AQUÍ PARA ACCEDER .:", "#{@mensaje.url_notificacion_sistema}", :style => "text-decoration: none; color: red; vertical-align: center; font-size: 18px;", :target => "_blank"%>
      </div>
    <%end%>


  </fieldset>
<%end%>
</div>



<div class="container">
  <div class="formee">
    <fieldset>
      <!-- constancia -->
      <% form_for :mensaje, @mensaje, :url => { :action => "responder", :controller => "mensajes", :recibe_id => @mensaje.envia_id } do |f| -%>
      <div class="grid-center">
        <input type="submit" title="RESPONDER MENSAJE" value="RESPONDER MENSAJE" />
      </div>
      <%end%>
    </fieldset>
  </div>
</div>

<!--
 :html => { :target => "_blank"}
-->