<%= render :partial => "informacion_consumos"%>

<% form_for :consumo, @consumo, :url => { :action => "save", :id => @consumo, :diagnostico => @diagnostico.id }, :html => {:class => "formee", :id => "consumo"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;">
    <td align="center"><h4>EJE 4: CONSUMO RESPONSABLE / SALUDABLE</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr>
           <td width="49%" align="justify" style=" vertical-align:top;" >
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label class="uper">1.- ¿Su centro escolar cuenta con establecimientos para el consumo de alimentos y bebidas?.<em class="formee-req"> *</em></label>
            </div>
            <!-- Línea campo -->
            <div class="grid-12-12">
              <div class="grid-3-12"></div>
              <div class="grid-5-12">
                <span id="ct_escuela_establecimiento" class="InputGroup">
                  <label class="uper">SI <%= f.radio_button :escuela_establecimiento, "SI", :onclick => "enaSelectMultiple(this, 'establecimientos');" %></label>&nbsp;&nbsp;
                  <label class="uper">NO <%= f.radio_button :escuela_establecimiento, "NO", :onclick => "enaSelectMultiple(this, 'establecimientos');" %></label>
                </span>
              </div>
            </div>
            <div id="establecimientos" class="grid-12-12">
              <fieldset style="padding: 5px 5px 5px 5px;" id="lista_establecimientos">
                <% @establecimientos.each do |c| %>
                  <%= check_box_tag "establecimientos[#{c.id}]", c.clave, @s_establecimientos.include?(c.clave) ? true : false, :onclick => 'var preguntas = ["pregunta2"]; var valores_permitidos = ["CLAE", "CAEC"];enableDisableDivWithFielset ("lista_establecimientos", preguntas, valores_permitidos);' %>&nbsp;<%= c.descripcion %><br />
                <% end %>
              </fieldset>
            </div>
          </td>
          <td>&nbsp;</td>


           <td width="49%" align="justify" style=" vertical-align:top;" id="pregunta2" >
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label class="uper">2.- Las personas encargadas del manejo y preparación de alimentos  dentro de la escuela, ¿han recibido capacitación(es)  para la preparación  e higiene de alimentos y bebidas en  los establecimientos de consumo escolar?<em class="formee-req"> *</em></label>
            </div>
            <!-- Línea campo -->
            <div class="grid-12-12">
              <div class="grid-2-12"></div>
              <div class="grid-5-12">
                <span id="r_capacitacion_alim_bebidas" class="InputGroup">
                  <label class="uper">SI <%= f.radio_button :capacitacion_alim_bebidas, "SI", :onclick => "showImage('consumo_capacitacion_alim_bebidas_si', 'eje4_p3');"%></label>&nbsp;&nbsp;
                  <label class="uper">NO <%= f.radio_button :capacitacion_alim_bebidas, "NO", :onclick => "showImage('consumo_capacitacion_alim_bebidas_no', 'eje4_p3');"%></label>
                </span>
              </div>
              <div class="grid-1-12"></div>
              <div id="eje4_p3" class="grid-4-12" style="display: none;">
                  <%= link_to image_tag("era/btns_cert/upload.png", :mouseover => "era/btns_cert/upload1.png", :border => 0, :name => "pregunta3", :id => "pregunta3"),
                                                              {:controller => "upload", :diagnostico => @diagnostico, :eje => 4, :numero_pregunta => 3, :action => "new_evidencia" },
                                                              :title => "EVIDENCIA DE LA PREGUNTA 3", :class => "fancybox fancybox.iframe"%>
              </div>
             </div>
            </td>
          </tr>

          <tr>
            <td width="49%" align="justify" style=" vertical-align:top;" id="pregunta3">
            <!-- Línea Pregunta -->
            <div class="grid-12-12">
              <label class="uper">3.- Los responsables de la elaboración y venta de  alimentos en cooperativas, cafeterías o expendios escolares, ¿Aplican los  Lineamientos Generales para la distribución de alimentos y bebidas preparados y procesados en las escuelas del Sistema Educativo Nacional?.<em class="formee-req"> *</em></label>
            </div>
            <!-- Línea campo -->
            <div class="grid-3-12"></div>
            <div class="grid-5-12">
              <span id="responsables_conocen_lineamientos" class="InputGroup">
                <label class="uper">SI <%= f.radio_button :conocen_lineamientos_grales, "SI" %></label>&nbsp;&nbsp;
                <label class="uper">NO <%= f.radio_button :conocen_lineamientos_grales, "NO" %></label>
              </span>
            </div>
          </td>


          <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
 
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" align="justify" style=" vertical-align:top;">
            <!-- Línea Pregunta -->
            <div class="grid-12-12">
              <label class="uper">¿Cúales de las siguientes recomendaciones del apéndice informativo C de la Norma Oficial Mexicana NOM-0043-SSA2-2012 Aplica la Institución Escolar?.<em class="formee-req"> *</em></label>
            </div>
          </td>
        </tr>
        <tr>
          <td width="49%" align="justify" style=" vertical-align:top;" >
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label class="uper">Preparación:</label>
            </div>
            <!-- Línea campo -->
            <fieldset style="padding: 5px 5px 5px 5px;">
                <div id="preparacions" class="grid-12-12">
                  <% Preparacion.find(:all).each do |c| %>
                    <%= check_box_tag "preparacions[#{c.id}]", c.clave, @s_preparacions.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                  <% end %>
                </div>
            </fieldset>
          </td>
          <td>&nbsp;</td>
          <td width="49%" align="justify" style=" vertical-align:top;" >
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label class="uper">Utensilios:</label>
            </div>
            <!-- Línea campo -->
            <fieldset style="padding: 5px 5px 5px 5px;">
                <div id="utensilios" class="grid-12-12">
                  <% Utensilio.find(:all).each do |c| %>
                    <%= check_box_tag "utensilios[#{c.id}]", c.clave, @s_utensilios.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                  <% end %>
                </div>
            </fieldset>
          </td>
        </tr>
        <tr>
          <td width="49%" align="justify" style=" vertical-align:top;" >
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label class="uper">Higiene:</label>
            </div>
            <!-- Línea campo -->
            <fieldset style="padding: 5px 5px 5px 5px;">
                <div id="higienes" class="grid-12-12">
                  <% Higiene.find(:all).each do |c| %>
                    <%= check_box_tag "higienes[#{c.id}]", c.clave, @s_higienes.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                  <% end %>
                </div>
            </fieldset>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" align="justify" style=" vertical-align:top;" >
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label class="uper">5.- Del siguiente listado marque los que se comercializan en su escuela:<em class="formee-req"> *</em></label>
            </div>
            <div class="grid-12-12">
              <label class="uper">Listado de productos:<em class="formee-req"> *</em></label>
            </div>
          </td>
        </tr>
        <tr>
          <!-- Bebidas -->
          <td width="49%" align="justify" style=" vertical-align:top;" >
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label class="uper">Bebidas (industrializadas y caseras):</label>
            </div>
            <!-- Línea campo -->
            <fieldset style="padding: 5px 5px 5px 5px;">
                <div id="bebidas" class="grid-12-12">
                  <% Bebida.find(:all).each do |c| %>
                    <%= check_box_tag "bebidas[#{c.id}]", c.clave, @s_bebidas.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                  <% end %>
                </div>
            </fieldset>
          </td>

          <td>&nbsp;</td>

          <td width="49%" align="justify" style=" vertical-align:top;" >
            <!-- Línea pregunta -->
            <div class="grid-12-12">
              <label class="uper">Alimentos:</label>
            </div>
            <!-- Línea campo -->
            <fieldset style="padding: 5px 5px 5px 5px;">
              <div id="alimentos" class="grid-12-12">
                <div style="overflow:auto; width:auto; height: 250px;">
                  <% Alimento.find(:all).each do |c| %>
                    <%= check_box_tag "alimentos[#{c.id}]", c.clave, @s_alimentos.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                  <% end %>
                </div>
              </div>
            </fieldset>
          </td>
        </tr>

        <tr>
            <td width="49%" align="justify" style=" vertical-align:top;" >
              <!-- Línea pregunta -->
              <div class="grid-12-12">
                <label class="uper">Botanas (Industriales y caseras):</label>
              </div>
              <!-- Línea campo -->
              <fieldset style="padding: 5px 5px 5px 5px;">
                  <div id="botanas" class="grid-12-12">
                    <% Botana.find(:all).each do |c| %>
                      <%= check_box_tag "botanas[#{c.id}]", c.clave, @s_botanas.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                    <% end %>
                  </div>
              </fieldset>
            </td>

            <td>&nbsp;</td>
       
            <td width="49%" align="justify" style=" vertical-align:top;" >
              <!-- Línea pregunta -->
              <div class="grid-12-12">
                <label class="uper">Galletas, pastelillos y postres (Industriales y caseros):</label>
              </div>
              <!-- Línea campo -->
              <fieldset style="padding: 5px 5px 5px 5px;">
                <div id="reposterias" class="grid-12-12">
                  <div style="overflow:auto; width:auto; height: 250px;">
                    <% Reposteria.find(:all).each do |c| %>
                      <%= check_box_tag "reposterias[#{c.id}]", c.clave, @s_reposterias.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                    <% end %>
                  </div>
                </div>
              </fieldset>
            </td>
        </tr>
        <tr>
          <td colspan="3"></td>
        </tr>
        
        <tr>
          <td width="49%" align="justify" style=" vertical-align:top;">
            <div class="grid-12-12">
              <label class="uper">6.- ¿Cuál es el tipo de material de los recipientes y utensilios (platos, vasos, cucharas, cuchillos, tenedores, etc) que se utilizan para servir alimentos en los establecimientos de consumo escolar?. <em class="formee-req"> *</em></label>
            </div>
            <fieldset style="padding: 5px 5px 5px 5px;">
              <div id="materials" class="grid-12-12">
                <% Material.find(:all).each do |c| %>
                  <%= check_box_tag "materials[#{c.id}]", c.clave, @s_materials.include?(c.clave) ? true : false %>&nbsp;<%= c.descripcion %><br />
                <% end %>
              </div>
            </fieldset>
          </td>
          <td>&nbsp;</td>

          <td width="49%" align="justify" style=" vertical-align:top;" >
              <div class="grid-12-12">
                <label class="uper">7.- ¿Con qué frecuencia se realiza activación física en su escuela? Con base a la recomendación del acuerdo nacional para la salud alimentaria estrategia contra el sobrepeso y la obesidad (Programa de acción en el contexto escolar). <em class="formee-req"> *</em></label>
              </div>
              <div class="grid-12-12">
                <label class="formee-msg-info" style="text-transform:uppercase;font-size:1.1em;">
                 Nota: esta se realizará con independencia y de manera adicional a la clase de Educación Física (Educación Básica) o Actividad deportiva habitual (Media Superior).
                </label>
              </div>
              <!-- Línea campo -->
              <div class="grid-12-12">
                <%= f.select :frecuencia_afisica_id, FrecuenciaAfisica.all.collect {|p| [ p.descripcion, p.clave ]}, {:selected => @s_afisicas}, :onchange => "enable_frecuencias_actividades_fisicas(consumo_frecuencia_afisica_id, consumo_minutos_activacion_fisica, consumo_momentos_activacion_fisica);" %>
              </div>
          </td>
          </tr>
          <tr>
            <td colspan="3">&nbsp;</td>
          </tr>

       
         <tr>
            <td width="49%" align="justify" style=" vertical-align:top;" >
             <div class="grid-12-12">
               <label class="uper">8.- Por día, en qué tiempo realiza la activación física?. <em class="formee-req"> *</em></label>
             </div>
             <!-- Línea campo -->
             <div class="grid-2-12"></div>
              <div class="grid-3-12">
                  <label class="uper">Minutos: </label>
                  <%= f.select :minutos_activacion_fisica, [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]%>
              </div>
              
             
             <!-- MOMENTOS -->
             <!--
             <div class="grid-1-12"></div>
              <div class="grid-3-12">
                <label class="uper">Momentos: </label>
                  <= f.select :momentos_activacion_fisica, (1..4)%>
              </div>
             -->

              <div class="grid-3-12"></div>
            </td>
            <td>&nbsp;</td>
            <td width="49%" align="justify" style=" vertical-align:top;"></td>
          </tr>
      </table>
   </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>

  <%= render :partial => "diagnosticos/errores_evidencias"%>


  <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <input id="button4" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
          </td>
          <td>
            <a href="<%= diagnosticos_path%>" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% end %>

<script type="text/javascript">
  enaSelectMultiple('consumo_escuela_establecimiento', 'establecimientos');
  showImage('consumo_capacitacion_alim_bebidas_si', 'eje4_p3');
  showImage('consumo_capacitacion_alim_bebidas_no', 'eje4_p3');

  /*enaDisDiv ("lista_establecimientos", "div233");*/


  var preguntas = ["pregunta2"];
  var valores_permitidos = ["CLAE", "CAEC"];
  enableDisableDivWithFielset ("lista_establecimientos", preguntas, valores_permitidos);

  enable_frecuencias_actividades_fisicas("consumo_frecuencia_afisica_id", "consumo_minutos_activacion_fisica", "consumo_momentos_activacion_fisica");

  

  jQuery("#establecimientos").validate({ expression: "if (skipSelect(SelfID, 'consumo_escuela_establecimiento')) return true; else return false;", message: "Seleccione una opción!" });
  <%#*jQuery("#preparacions").validate({ expression: "if (isCheckedC(SelfID)) return true; else return false;", message: "Seleccione una opción!" });%>
  <%#*jQuery("#utensilios").validate({ expression: "if (isCheckedC(SelfID)) return true; else return false;", message: "Seleccione una opción!" });%>
  <%#*jQuery("#higienes").validate({ expression: "if (isCheckedC(SelfID)) return true; else return false;", message: "Seleccione una opción!" });%>
  <%#*jQuery("#bebidas").validate({ expression: "if (isCheckedC(SelfID)) return true; else return false;", message: "Seleccione una opción!" });%>
  <%#*jQuery("#alimentos").validate({ expression: "if (isCheckedC(SelfID)) return true; else return false;", message: "Seleccione una opción!" });%>
  <%#*jQuery("#botanas").validate({ expression: "if (isCheckedC(SelfID)) return true; else return false;", message: "Seleccione una opción!" });%>
  <%#*jQuery("#reposterias").validate({ expression: "if (isCheckedC(SelfID)) return true; else return false;", message: "Seleccione una opción!" });%>
  jQuery("#materials").validate({ expression: "if (isCheckedC(SelfID)) return true; else return false;", message: "Seleccione una opción!" });

  jQuery("#responsables_conocen_lineamientos").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" }); // P2
  jQuery("#ct_escuela_establecimiento").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" }); // 
  jQuery("#r_capacitacion_alim_bebidas").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
  jQuery("#r_cumplen_req_nutricionales").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" }); // 
  
</script>