<div class="titulos" style="color: orange;">
  <p>Porcentajes globales</p>
</div>

<div id="divlista">
  <table width="90%" border="0" cellspacing="0" cellpadding="5" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" align="center">
    <tr style="background-color:#2E6AB1;color:white;">
      <th style="vertical-align: middle;">R</th>
      <th style="vertical-align: middle;">IC</th>
      <th style="vertical-align: middle;">DI</th>
      <th style="vertical-align: middle;">DC</th>
      <th style="vertical-align: middle;">PI</th>
      <th style="vertical-align: middle;">PC</th>
      <th style="vertical-align: middle;">PA</th>
      <th style="vertical-align: middle;">SA</th>
      <th style="vertical-align: middle;">DE</th>
      <th style="vertical-align: middle;">PE</th>
      <th style="vertical-align: middle;">TP</th>
    </tr>
    <%clase=0%>
    <%
    total=0
    gran_total=0
    gran_total+=escuelas_registradas_en_plataforma = Escuela.count(:id, :joins => "escuelas, users users", :conditions => ["users.login=escuelas.clave  AND  escuelas.nivel_id IS NOT NULL AND escuelas.estatu_id = ? AND (users.blocked is NULL OR  users.blocked !=1)",  Estatu.find_by_clave("esc-regis").id ])
    gran_total+=escuelas_datos_basicos_capturados =  Escuela.count(:id, :joins => "escuelas, users users", :conditions => ["users.login=escuelas.clave  AND  escuelas.nivel_id IS NOT NULL AND escuelas.estatu_id = ? AND (users.blocked is NULL OR  users.blocked !=1)",  Estatu.find_by_clave("esc-datos").id ])
    gran_total+=escuelas_diagnostico_iniciado =      Escuela.count(:id, :joins => "escuelas, users users", :conditions => ["users.login=escuelas.clave  AND  escuelas.nivel_id IS NOT NULL AND escuelas.estatu_id = ? AND (users.blocked is NULL OR  users.blocked !=1)",  Estatu.find_by_clave("diag-inic").id ])
    gran_total+=escuelas_diagnostico_terminado =      Escuela.count(:id, :joins => "escuelas, users users", :conditions => ["users.login=escuelas.clave AND  escuelas.nivel_id IS NOT NULL AND escuelas.estatu_id = ? AND (users.blocked is NULL OR  users.blocked !=1)",  Estatu.find_by_clave("diag-conc").id ])
    gran_total+=escuelas_proyecto_iniciado =      Escuela.count(:id, :joins => "escuelas, users users", :conditions => ["users.login=escuelas.clave     AND  escuelas.nivel_id IS NOT NULL AND escuelas.estatu_id = ? AND (users.blocked is NULL OR  users.blocked !=1)",     Estatu.find_by_clave("proy-inic").id ])
    gran_total+=escuelas_proyecto_terminado =      Escuela.count(:id, :joins => "escuelas, users users", :conditions => ["users.login=escuelas.clave    AND  escuelas.nivel_id IS NOT NULL AND escuelas.estatu_id = ? AND (users.blocked is NULL OR  users.blocked !=1)",    Estatu.find_by_clave("proy-fin").id ])
    gran_total+=escuelas_primer_avance =           Escuela.count(:id, :joins => "escuelas, users users", :conditions => ["users.login=escuelas.clave    AND  escuelas.nivel_id IS NOT NULL AND escuelas.estatu_id = ? AND (users.blocked is NULL OR  users.blocked !=1)",    Estatu.find_by_clave("avance1").id ])
    gran_total+=escuelas_segundo_avance =           Escuela.count(:id, :joins => "escuelas, users users", :conditions => ["users.login=escuelas.clave    AND  escuelas.nivel_id IS NOT NULL AND escuelas.estatu_id = ? AND (users.blocked is NULL OR  users.blocked !=1)",    Estatu.find_by_clave("avance2").id ])
    gran_total+=escuelas_diagnostico_evaluado =           Escuela.count(:id, :joins => "escuelas, users users", :conditions => ["users.login=escuelas.clave    AND  escuelas.nivel_id IS NOT NULL AND escuelas.estatu_id = ? AND (users.blocked is NULL OR  users.blocked !=1)",    Estatu.find_by_clave("diag-eva").id ])
    gran_total+=escuelas_proyecto_evaluado =           Escuela.count(:id, :joins => "escuelas, users users", :conditions => ["users.login=escuelas.clave    AND  escuelas.nivel_id IS NOT NULL AND escuelas.estatu_id = ? AND (users.blocked is NULL OR  users.blocked !=1)",    Estatu.find_by_clave("proy-eva").id ])

   %>

    <tr class="d<%=invert_class(clase)%>" style="font-size: 11px;">
      <td align="center"> <%=h ("(#{"%0.2f" %((escuelas_registradas_en_plataforma / gran_total.to_f) * 100.0)})%")%><% total+=  escuelas_registradas_en_plataforma%></td>
      <td align="center"><%=h ("(#{"%0.2f" %((escuelas_datos_basicos_capturados / gran_total.to_f) * 100.0)})%")%><% total+=  escuelas_datos_basicos_capturados%></td>
      <td align="center"><%=h ("(#{"%0.2f" %((escuelas_diagnostico_iniciado / gran_total.to_f) * 100.0)})%")%><% total+= escuelas_diagnostico_iniciado%></td>
      <td align="center"><%=h ("(#{"%0.2f" %((escuelas_diagnostico_terminado / gran_total.to_f) * 100.0)})%")%><% total+= escuelas_diagnostico_terminado%></td>
      <td align="center"><%=h ("(#{"%0.2f" %((escuelas_proyecto_iniciado / gran_total.to_f) * 100.0)})%")%><%total+= escuelas_proyecto_iniciado%></td>
      <td align="center"><%=h ("(#{"%0.2f" %((escuelas_proyecto_terminado / gran_total.to_f) * 100.0)})%")%><% total+= escuelas_proyecto_terminado%></td>
      <td align="center"><%=h ("(#{"%0.2f" %((escuelas_primer_avance / gran_total.to_f) * 100.0)})%")%><% total+= escuelas_primer_avance%></td>
      <td align="center"><%=h ("(#{"%0.2f" %((escuelas_segundo_avance / gran_total.to_f) * 100.0)})%")%><% total+= escuelas_segundo_avance%></td>
      <td align="center"><%=h ("(#{"%0.2f" %((escuelas_diagnostico_evaluado / gran_total.to_f) * 100.0)})%")%><% total+= escuelas_diagnostico_evaluado%></td>
      <td align="center"><%=h ("(#{"%0.2f" %((escuelas_proyecto_evaluado / gran_total.to_f) * 100.0)})%")%><% total+= escuelas_proyecto_evaluado%></td>
      <td align="center"><%=h total.to_s + "(100%)"%></td>
      <%gran_total%>
      <%clase = invert_class(clase)%>
    </tr>
  </table>
</div>
